Repository uxlfoundation/oneDNN, pull requests merged in 2020-11, with the labels that each got.

#867 rfc: convert verbose output into benchdnn problems
  rfcs/20201102-convert-verbose-into-benchdnn-problem/README.md
Labels: RFC

#879 src: cpu: aarch64: remove debug prints
  src/cpu/aarch64/jit_uni_reorder.cpp
  src/cpu/aarch64/xbyak_aarch64/xbyak_aarch64_util.h
Labels: bug

#869 rfc: binary: Support broadcast source0
  rfcs/20201103-binary-bcast-source0/README.md
  rfcs/20201103-binary-bcast-source0/bcast_example.png
Labels: RFC

#889 src: cpu: aarch64: Add s8s8s8 support for ACL-based GEMM Convolution
  src/cpu/aarch64/acl_convolution_utils.cpp
  src/cpu/aarch64/acl_convolution_utils.hpp
  src/cpu/aarch64/acl_gemm_convolution.cpp
  src/cpu/aarch64/acl_gemm_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: enhancement
