Repository uxlfoundation/oneDNN, pull requests merged in 2024-09, with the labels that each got.

#2031 cpu: x64: improve memory management safety for additional kernels
  src/cpu/x64/jit_avx512_core_bf16_conv_kernel.hpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_conv_kernel.hpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_conv_kernel.hpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_deconvolution.hpp
  src/cpu/x64/jit_uni_x8s8s32x_1x1_conv_kernel.hpp
  src/cpu/x64/jit_uni_x8s8s32x_conv_kernel.hpp
Labels: platform:cpu-x64

#2038 cpu: aarch64: improve memory management safety for aarch64 kernels
  src/cpu/aarch64/jit_sve_512_core_x8s8s32x_deconvolution.hpp
  src/cpu/aarch64/jit_sve_conv_kernel.hpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.hpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_utils.hpp
Labels: platform:cpu-aarch64

#2052 cpu: x64: improve memory safety for additional x64 JIT objects
  src/cpu/x64/jit_avx512_core_bf16cvt.hpp
  src/cpu/x64/jit_uni_dw_conv_kernel_utils.hpp
  src/cpu/x64/jit_uni_xf16_sum.hpp
Labels: platform:cpu-x64

#2054 generic: sycl: matmul: implemented
  src/gpu/generic/sycl/matmul_kernels.hpp
  src/gpu/generic/sycl/ref_matmul.cpp
  src/gpu/generic/sycl/ref_matmul.hpp
  src/gpu/generic/sycl/sycl_io_helper.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/generic/sycl/sycl_utils.hpp
  src/gpu/gpu_matmul_list.cpp
  src/xpu/sycl/types.hpp
Labels: platform:gpu-generic

#2063 generic: sycl: refactor how post op arguments are loaded
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_eltwise.cpp
  src/gpu/generic/sycl/ref_pooling.cpp
  src/gpu/generic/sycl/ref_resampling.cpp
  src/gpu/generic/sycl/ref_softmax.cpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sycl_io_helper.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2064 cpu: aarch64: remove calls to acl_post_ops_t::create_resource
  src/cpu/aarch64/acl_batch_normalization.hpp
  src/cpu/aarch64/acl_deconvolution.hpp
  src/cpu/aarch64/acl_depthwise_convolution.cpp
  src/cpu/aarch64/acl_depthwise_convolution.hpp
  src/cpu/aarch64/acl_gemm_convolution.cpp
  src/cpu/aarch64/acl_gemm_convolution.hpp
  src/cpu/aarch64/acl_indirect_gemm_convolution.cpp
  src/cpu/aarch64/acl_indirect_gemm_convolution.hpp
  src/cpu/aarch64/acl_inner_product.hpp
  src/cpu/aarch64/acl_post_ops.hpp
  src/cpu/aarch64/acl_winograd_convolution.cpp
  src/cpu/aarch64/acl_winograd_convolution.hpp
  src/cpu/aarch64/matmul/acl_lowp_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
Labels: platform:cpu-aarch64

#2065 @theComputeKid as codeowner for AArch64
  MAINTAINERS.md
Labels: documentation, governance

#2066 cpu: aarch64: Fix Threadpool not initializing issue causing test to fail.
  src/cpu/aarch64/acl_threadpool_scheduler.cpp
  src/cpu/aarch64/matmul/acl_matmul.cpp
Labels: platform:cpu-aarch64

#2073 generic: sycl: matmul: bugfix post ops not building
  src/gpu/generic/sycl/matmul_kernels.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
Labels: platform:gpu-generic

#2058 generic: sycl: move check on post ops to a single location
  src/gpu/generic/sycl/ref_binary.hpp
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/ref_eltwise.hpp
  src/gpu/generic/sycl/ref_reorder.hpp
  src/gpu/generic/sycl/ref_softmax.hpp
  src/gpu/generic/sycl/ref_sum.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
Labels: platform:gpu-generic

#2078 ngen: Remove assembly code emission (#2061)
  src/gpu/intel/jit/ngen/ngen_asm.hpp
  src/gpu/intel/jit/ngen/ngen_core.hpp
  src/gpu/intel/jit/ngen/ngen_interface.hpp
  src/gpu/intel/jit/ngen/ngen_register_decl.hpp
Labels: platform:gpu-intel

#2039 generic: sycl: pooling: bug fixes when running on Intel GPU
  src/gpu/generic/sycl/pooling_kernels.hpp
  tests/benchdnn/pool/ref_pool.cpp
Labels: platform:gpu-generic

#2046 jit:blk reorder optimisation extension for FX700
  src/cpu/aarch64/jit_uni_reorder.cpp
Labels: platform:cpu-aarch64

#2062 cpu: aarch64: Extend ARM SVE support for JIT Backward Convolution Oper…
  src/cpu/aarch64/jit_sve_conv_kernel.cpp
  src/cpu/aarch64/jit_sve_conv_kernel.hpp
  src/cpu/aarch64/jit_sve_convolution.cpp
  src/cpu/aarch64/jit_sve_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64

#1972 gpu: nvidia: Add support for cublaslt matmul
  cmake/FindcublasLt.cmake
  cmake/SYCL.cmake
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug.cpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc.cpp
  src/common/memory_desc.hpp
  src/common/memory_desc_wrapper.cpp
  src/common/memory_desc_wrapper.hpp
  src/common/memory_tracking.hpp
  src/common/primitive_hashing.cpp
  src/common/reorder.hpp
  src/common/serialization.cpp
  src/common/type_helpers.hpp
  src/common/verbose.cpp
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_binary.hpp
  src/gpu/generic/sycl/ref_matmul.hpp
  src/gpu/gpu_matmul_list.cpp
  src/gpu/gpu_reorder_list.cpp
  src/gpu/nvidia/cudnn_matmul.cpp
  src/gpu/nvidia/cudnn_matmul.hpp
  src/gpu/nvidia/cudnn_matmul_base.hpp
  src/gpu/nvidia/cudnn_matmul_base_impl.hpp
  src/gpu/nvidia/cudnn_matmul_executor.hpp
  src/gpu/nvidia/cudnn_matmul_impl.hpp
  src/gpu/nvidia/cudnn_matmul_lt.hpp
  src/gpu/nvidia/cudnn_matmul_lt_impl.hpp
  src/gpu/nvidia/cudnn_reorder_lt.cpp
  src/gpu/nvidia/cudnn_reorder_lt.hpp
  src/gpu/nvidia/cudnn_reorder_lt_impl.hpp
  src/gpu/nvidia/sycl_cuda_utils.cpp
  src/gpu/nvidia/sycl_cuda_utils.hpp
  src/xpu/sycl/memory_storage_helper.hpp
  tests/benchdnn/dnnl_debug_autogenerated.cpp
Labels: platform:gpu-nvidia, platform:gpu-generic

#2096 gpu: generic: sycl: reorder: sum post-ops issues
  src/gpu/generic/sycl/ref_reorder.cpp
Labels: platform:gpu-generic

#2070 generic sycl: refactor kernel mainloops
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/layer_normalizations_kernels.hpp
  src/gpu/generic/sycl/lrn_kernels.hpp
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/prelu_kernels.hpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_deconvolution.cpp
  src/gpu/generic/sycl/ref_eltwise.cpp
  src/gpu/generic/sycl/ref_eltwise.hpp
  src/gpu/generic/sycl/ref_layer_normalizations.cpp
  src/gpu/generic/sycl/ref_lrn.cpp
  src/gpu/generic/sycl/ref_reorder.cpp
  src/gpu/generic/sycl/ref_softmax.cpp
  src/gpu/generic/sycl/ref_sum.cpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/shuffle_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sum_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/generic/sycl/sycl_utils.hpp
Labels: platform:gpu-generic

#2100 gpu: generic: sycl: resampling and matmul sycl-post-ops issues
  src/gpu/generic/sycl/ref_matmul.cpp
  src/gpu/generic/sycl/ref_resampling.cpp
Labels: platform:gpu-generic

#2107 @theComputeKid as codeowner for devops
  MAINTAINERS.md
Labels: documentation, governance

#2117 github: workflows: Add macos smoke tests
  .github/workflows/ci-aarch64.yml
Labels: devops

#2122 cpu: aarch64: ci turn on DONEDNN_WERROR
  .github/workflows/ci-aarch64.yml
Labels: devops

#2108 generic: sycl: fix sum with many inputs
  src/gpu/generic/sycl/ref_sum_many_inputs.cpp
Labels: platform:gpu-generic

#2110 gpu: nvidia: Updated matmul labda capture
  src/gpu/nvidia/cudnn_matmul_executor.hpp
Labels: platform:gpu-nvidia

#2123 @Radu2k and @Sqvid as codeowners for AArch64
  MAINTAINERS.md
Labels: documentation, governance

#2125 gpu: nvidia: Updating pointers to memory_t
  src/gpu/nvidia/cudnn_matmul.cpp
  src/gpu/nvidia/cudnn_reorder_lt.cpp
Labels: platform:gpu-nvidia

#2099 cpu: aarch64: Expand brgemm aarch64 unsupported cases handling mechanism
  src/cpu/aarch64/acl_deconvolution.hpp
  src/cpu/aarch64/brgemm/brgemm.cpp
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/brgemm/brgemm_utils.hpp
  src/cpu/aarch64/jit_brgemm_conv_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-aarch64

#2121 gpu: nvidia: Added support for native host task extension
  src/gpu/nvidia/cudnn_batch_normalization_executor.hpp
  src/gpu/nvidia/sycl_cuda_compat.hpp
  src/gpu/nvidia/sycl_cuda_utils.hpp
Labels: platform:gpu-nvidia

#2074 gpu: generic: deconvolution: move implementation from ocl folder
  src/gpu/generic/convolution_deconvolution.hpp
  src/gpu/gpu_deconvolution_list.cpp
  src/gpu/intel/ocl/convolution_deconvolution.hpp
Labels: platform:gpu-intel, platform:gpu-generic

#2105 generic: sycl: binary: bugfix post ops with blocked formats
  src/gpu/generic/sycl/binary_kernels.hpp
Labels: platform:gpu-generic

#2124 gpu: nvidia: Add support for cublaslt matmul
  cmake/FindcublasLt.cmake
  cmake/SYCL.cmake
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug.cpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc.cpp
  src/common/memory_desc.hpp
  src/common/memory_desc_wrapper.cpp
  src/common/memory_desc_wrapper.hpp
  src/common/memory_tracking.hpp
  src/common/primitive_hashing.cpp
  src/common/reorder.hpp
  src/common/serialization.cpp
  src/common/type_helpers.hpp
  src/common/verbose.cpp
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_binary.hpp
  src/gpu/generic/sycl/ref_matmul.hpp
  src/gpu/gpu_matmul_list.cpp
  src/gpu/gpu_reorder_list.cpp
  src/gpu/nvidia/cudnn_matmul.cpp
  src/gpu/nvidia/cudnn_matmul.hpp
  src/gpu/nvidia/cudnn_matmul_base.hpp
  src/gpu/nvidia/cudnn_matmul_base_impl.hpp
  src/gpu/nvidia/cudnn_matmul_executor.hpp
  src/gpu/nvidia/cudnn_matmul_impl.hpp
  src/gpu/nvidia/cudnn_matmul_lt.hpp
  src/gpu/nvidia/cudnn_matmul_lt_impl.hpp
  src/gpu/nvidia/cudnn_reorder_lt.cpp
  src/gpu/nvidia/cudnn_reorder_lt.hpp
  src/gpu/nvidia/cudnn_reorder_lt_impl.hpp
  src/gpu/nvidia/sycl_cuda_utils.cpp
  src/gpu/nvidia/sycl_cuda_utils.hpp
  src/xpu/sycl/memory_storage_helper.hpp
  tests/benchdnn/dnnl_debug_autogenerated.cpp
Labels: platform:gpu-nvidia, platform:gpu-generic, backport
