Repository uxlfoundation/oneDNN, pull requests merged in 2024-10, with the labels that each got.

#2138 cpu: aarch64: Fix always-true assert guard
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.cpp
Labels: bug, platform:cpu-aarch64

#2134 cpu: aarch64: Fix C_graph_fusions_cpu test
  src/cpu/aarch64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-aarch64

#2126 cpu: aarch64: improve memory management safety for jit_uni_softmax
  src/cpu/aarch64/jit_uni_softmax.cpp
  src/cpu/aarch64/jit_uni_softmax.hpp
Labels: platform:cpu-aarch64

#2130 github: workflows: Enable Arm Hosted GitHub Runners
  .github/automation/build_aarch64.sh
  .github/automation/build_acl.sh
  .github/automation/common_aarch64.sh
  .github/automation/test_aarch64.sh
  .github/workflows/ci-aarch64.yml
Labels: devops

#2133 generic: sycl: matmul: add support for runtime dims
  src/gpu/generic/sycl/ref_matmul.cpp
  src/gpu/generic/sycl/ref_matmul.hpp
Labels: platform:gpu-generic

#2086 cpu: x64: brgemm: use range-based loop
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
Labels: platform:cpu-x64

#2142 github: workflows: Enable aarch64 CI
  .github/automation/build_aarch64.sh
  .github/automation/build_acl.sh
  .github/automation/common_aarch64.sh
  .github/automation/test_aarch64.sh
  .github/workflows/ci-aarch64.yml
  src/cpu/aarch64/acl_winograd_convolution.cpp
Labels: platform:cpu-aarch64, devops, backport

#2141 gpu: nvidia: Refactor to native parameters for matmul
  src/gpu/nvidia/cudnn_matmul.cpp
  src/gpu/nvidia/cudnn_matmul.hpp
  src/gpu/nvidia/cudnn_matmul_base.hpp
  src/gpu/nvidia/cudnn_matmul_base_impl.hpp
  src/gpu/nvidia/cudnn_matmul_executor.hpp
  src/gpu/nvidia/cudnn_matmul_impl.hpp
  src/gpu/nvidia/cudnn_matmul_lt.hpp
  src/gpu/nvidia/cudnn_matmul_lt_impl.hpp
  src/gpu/nvidia/cudnn_reorder_lt_impl.hpp
  src/gpu/nvidia/sycl_cuda_utils.hpp
Labels: platform:gpu-nvidia, backport

#2127 cpu: x64 improve memory management safety for multiple objects
  src/cpu/x64/gemm/bf16/jit_avx512_core_gemm_bf16bf16f32_kern.cpp
  src/cpu/x64/gemm/bf16/jit_avx512_core_gemm_bf16bf16f32_kern.hpp
  src/cpu/x64/jit_avx512_core_bf16_dw_conv_kernel.hpp
Labels: platform:cpu-x64

#2072 src: cpu: aarch64: injectors: eltwise_injector - improve gelu performance for block size 16
  src/cpu/aarch64/injectors/jit_uni_eltwise_injector.cpp
  src/cpu/aarch64/injectors/jit_uni_eltwise_injector.hpp
Labels: platform:cpu-aarch64

#2075 cpu: aarch64: Expand ARM SVE support for 1x1 convolution
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/common/tag_traits.hpp
  src/cpu/aarch64/jit_primitive_conf.hpp
  src/cpu/aarch64/jit_sve_1x1_conv_kernel.cpp
  src/cpu/aarch64/jit_sve_1x1_conv_kernel.hpp
  src/cpu/aarch64/jit_sve_1x1_convolution.cpp
  src/cpu/aarch64/jit_sve_1x1_convolution.hpp
  src/cpu/aarch64/jit_uni_1x1_conv_utils.hpp
  src/cpu/cpu_convolution_list.cpp
  src/cpu/reorder/cpu_reorder_regular_f32_f32.cpp
  tests/benchdnn/dnnl_debug_autogenerated.cpp
Labels: platform:cpu-aarch64

#2143 github: workflows: Enable PR checks
  .github/automation/pr-title-check.py
  .github/workflows/pr-check.yml
Labels: devops

#2091 cpu: x64: brgemm: use range-based loop for jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
Labels: platform:cpu-x64

#2111 gpu: nvidia: Refactor to native parameters for matmul
  src/gpu/nvidia/cudnn_matmul.cpp
  src/gpu/nvidia/cudnn_matmul.hpp
  src/gpu/nvidia/cudnn_matmul_base.hpp
  src/gpu/nvidia/cudnn_matmul_base_impl.hpp
  src/gpu/nvidia/cudnn_matmul_executor.hpp
  src/gpu/nvidia/cudnn_matmul_impl.hpp
  src/gpu/nvidia/cudnn_matmul_lt.hpp
  src/gpu/nvidia/cudnn_matmul_lt_impl.hpp
  src/gpu/nvidia/cudnn_reorder_lt_impl.hpp
  src/gpu/nvidia/sycl_cuda_utils.hpp
Labels: platform:gpu-nvidia

#2113 oneDNN v3.6 release notes
  RELEASE_NOTES.md
Labels: documentation, backport

#2131 generic: sycl: implement prelu post-op
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/matmul_kernels.hpp
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_eltwise.cpp
  src/gpu/generic/sycl/ref_matmul.cpp
  src/gpu/generic/sycl/ref_matmul.hpp
  src/gpu/generic/sycl/ref_pooling.cpp
  src/gpu/generic/sycl/ref_reorder.cpp
  src/gpu/generic/sycl/ref_resampling.cpp
  src/gpu/generic/sycl/ref_softmax.cpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2094 cpu: aarch64: injectors: Improve performance of tanh for block size 16
  src/cpu/aarch64/injectors/jit_uni_eltwise_injector.cpp
  src/cpu/aarch64/injectors/jit_uni_eltwise_injector.hpp
Labels: platform:cpu-aarch64

#2103 cpu: aarch64: optimising memory/thread utilization in BRGEMM Matmul
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_utils.hpp
Labels: platform:cpu-aarch64

#2144 gpu: generic: deconvolution: move implementation from ocl folder
  src/gpu/generic/convolution_deconvolution.hpp
  src/gpu/gpu_deconvolution_list.cpp
  src/gpu/intel/ocl/convolution_deconvolution.hpp
Labels: platform:gpu-intel, platform:gpu-generic, backport

#2147 generic: SYCL: convolution/deconvolution/softmax: add missing checks
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/ref_deconvolution.hpp
  src/gpu/generic/sycl/ref_softmax.hpp
Labels: platform:gpu-generic, backport

#2129 sycl: update documentation
  src/gpu/generic/sycl/README.md
Labels: documentation, platform:gpu-generic

#2154 generic: sycl: add missing type checks on scales
  src/gpu/generic/sycl/ref_binary.hpp
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/ref_layer_normalizations.hpp
  src/gpu/generic/sycl/ref_matmul.hpp
  src/gpu/generic/sycl/ref_prelu.hpp
  src/gpu/generic/sycl/ref_reorder.hpp
  src/gpu/generic/sycl/ref_resampling.hpp
  src/gpu/generic/sycl/ref_sum.hpp
  src/gpu/generic/sycl/sycl_io_helper.hpp
Labels: platform:gpu-generic

#2153 build: Fix the build failure on Power 10
  src/cpu/ppc64/ppc64_gemm_s8x8s32.cpp
Labels: platform:cpu-ppc64

#2155 github: apply commit msg check to all commits
  .github/automation/commit-msg-check.py
  .github/workflows/commit-msg-check.yml
Labels: devops

#2149 cpu: aarch64: hot fix for segfault in cached Winograd
  src/cpu/aarch64/acl_gemm_convolution.cpp
  src/cpu/aarch64/acl_gemm_convolution.hpp
  src/cpu/aarch64/acl_winograd_convolution.cpp
  src/cpu/aarch64/acl_winograd_convolution.hpp
Labels: platform:cpu-aarch64

#2162 generic: sycl: binary: bugfix post ops with blocked formats
  src/gpu/generic/sycl/binary_kernels.hpp
Labels: platform:gpu-generic, backport

#2160 github: workflows: Enable ACL caching for aarch64 ci
  .github/automation/build_acl.sh
  .github/workflows/ci-aarch64.yml
Labels: devops

#2146 generic: SYCL: convolution/deconvolution/softmax: add missing checks
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/ref_deconvolution.hpp
  src/gpu/generic/sycl/ref_softmax.hpp
Labels: platform:gpu-generic

#2166 generic: sycl: fix accessor types
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/matmul_kernels.hpp
  src/gpu/generic/sycl/ref_pooling.hpp
  src/gpu/generic/sycl/ref_resampling.hpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
  src/xpu/sycl/types.hpp
Labels: platform:gpu-generic

#2168 github: workflows: Enable graph builds for aarch64 CI
  .github/automation/build_aarch64.sh
  .github/automation/test_aarch64.sh
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Labels: devops

#2169 generic: sycl: resampling: fix a bug with post ops and non-max dimensions
  src/gpu/generic/sycl/resampling_kernels.hpp
Labels: platform:gpu-generic

#2172 generic: sycl: softmax: bugfix checks
  src/gpu/generic/sycl/ref_softmax.hpp
Labels: platform:gpu-generic

#2173 generic: sycl: resampling: fix checks
  src/gpu/generic/sycl/ref_resampling.hpp
Labels: platform:gpu-generic

#2159 generic: fix several gtest issues
  src/gpu/generic/ref_concat.hpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_layer_normalizations.cpp
  src/gpu/generic/sycl/ref_matmul.cpp
  src/gpu/generic/sycl/ref_pooling.cpp
  src/gpu/generic/sycl/ref_prelu.hpp
  src/gpu/generic/sycl/ref_shuffle.hpp
  src/gpu/generic/sycl/ref_softmax.cpp
  src/gpu/generic/sycl/ref_softmax.hpp
  tests/gtests/dnnl_test_macros.hpp
  tests/gtests/sycl/api/CMakeLists.txt
  tests/gtests/test_batch_normalization.cpp
  tests/gtests/test_binary.cpp
  tests/gtests/test_concat.cpp
  tests/gtests/test_convolution_backward_data_common.hpp
  tests/gtests/test_convolution_backward_weights_common.hpp
  tests/gtests/test_convolution_eltwise_forward_common.hpp
  tests/gtests/test_convolution_format_any.cpp
  tests/gtests/test_convolution_forward_common.hpp
  tests/gtests/test_deconvolution.cpp
  tests/gtests/test_eltwise.cpp
  tests/gtests/test_group_normalization.cpp
  tests/gtests/test_iface_attr_quantization.cpp
  tests/gtests/test_iface_pd_iter.cpp
  tests/gtests/test_iface_runtime_dims.cpp
  tests/gtests/test_iface_wino_convolution.cpp
  tests/gtests/test_inner_product_backward_data.cpp
  tests/gtests/test_inner_product_backward_weights.cpp
  tests/gtests/test_inner_product_forward.cpp
  tests/gtests/test_lrn.cpp
  tests/gtests/test_matmul.cpp
  tests/gtests/test_pooling_backward.cpp
  tests/gtests/test_pooling_forward.cpp
  tests/gtests/test_prelu.cpp
  tests/gtests/test_reorder_common.hpp
  tests/gtests/test_resampling.cpp
  tests/gtests/test_shuffle.cpp
  tests/gtests/test_softmax.cpp
  tests/gtests/test_sum.cpp
Labels: platform:gpu-generic
