Repository uxlfoundation/oneDNN, pull requests merged in 2024-08, with the labels that each got.

#2021 gpu: sycl: binary: Reduce number of binary postops
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2022 cpu: aarch64: Enable ACL stateless API for indirect conv
  .gitignore
  README.md
  cmake/ACL.cmake
  src/common/memory_tracking.hpp
  src/cpu/aarch64/acl_convolution_utils.cpp
  src/cpu/aarch64/acl_convolution_utils.hpp
  src/cpu/aarch64/acl_indirect_gemm_convolution.cpp
  src/cpu/aarch64/acl_indirect_gemm_convolution.hpp
Labels: platform:aarch64

#2023 gpu: sycl: bugfix kernel includes
  src/gpu/generic/sycl/batch_normalizations_kernels.hpp
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/layer_normalizations_kernels.hpp
  src/gpu/generic/sycl/lrn_kernels.hpp
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/prelu_kernels.hpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/shuffle_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sum_kernels.hpp
Labels: platform:gpu-generic

#2010 gpu: sycl: introduce memory objects
  src/gpu/generic/sycl/batch_normalizations_kernels.hpp
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/layer_normalizations_kernels.hpp
  src/gpu/generic/sycl/lrn_kernels.hpp
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/prelu_kernels.hpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/shuffle_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sycl_io_helper.hpp
Labels: platform:gpu-generic

#2024 gpu: amd: Enable SYCL kernels
  cmake/options.cmake
  examples/CMakeLists.txt
  src/CMakeLists.txt
  src/gpu/amd/README.md
  src/gpu/generic/CMakeLists.txt
  src/gpu/generic/sycl/CMakeLists.txt
  src/gpu/generic/sycl/README.md
  src/gpu/gpu_batch_normalization_list.cpp
  src/gpu/gpu_binary_list.cpp
  src/gpu/gpu_convolution_list.cpp
  src/gpu/gpu_eltwise_list.cpp
  src/gpu/gpu_impl_list.hpp
  src/gpu/gpu_layer_normalization_list.cpp
  src/gpu/gpu_lrn_list.cpp
  src/gpu/gpu_pooling_list.cpp
  src/gpu/gpu_prelu_list.cpp
  src/gpu/gpu_reorder_list.cpp
  src/gpu/gpu_resampling_list.cpp
  src/gpu/gpu_shuffle_list.cpp
  src/gpu/gpu_softmax_list.cpp
  src/gpu/gpu_sum_list.cpp
  src/gpu/nvidia/README.md
Labels: platform:gpu-amd, platform:gpu-intel

#2032 cpu: aarch64: use stateless ACL CpuActivation interface for eltwise
  src/cpu/aarch64/acl_eltwise.cpp
  src/cpu/aarch64/acl_eltwise.hpp
Labels: platform:aarch64

#2030 cpu: x64: improve memory management safety for jit_avx512_core_amx_conv_kernel
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.hpp
Labels: platform:x64

#2034 generic: sycl: pooling: Enabling different src/dst dt for AMD
  tests/benchdnn/pool/ref_pool.cpp
Labels: platform:gpu-generic

#2036 [ARM] Enable ACL depthwise convolution primitive for f16 precision
  src/cpu/cpu_convolution_list.cpp
Labels: platform:aarch64

#2037 [ARM] Enable fp16 direct copy reorder implementation
  src/cpu/reorder/cpu_reorder_regular_f16.cpp
Labels: platform:aarch64

#2020 generic: sycl: deconvolution: implemented
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/ref_batch_normalization.cpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/ref_deconvolution.cpp
  src/gpu/generic/sycl/ref_deconvolution.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_deconvolution_list.cpp
Labels: platform:gpu-generic

#2009 cpu: aarch64: Enable BRGEMM Depthwise Forward Convolution.
  src/cpu/aarch64/brgemm/brgemm.cpp
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/jit_brdgmm_dw_conv.cpp
  src/cpu/aarch64/jit_brdgmm_dw_conv.hpp
  src/cpu/aarch64/jit_primitive_conf.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:aarch64

#2043 cpu: aarch64: Call stateless ACL API from winograd convolution
  README.md
  cmake/ACL.cmake
  src/common/memory_tracking.hpp
  src/cpu/aarch64/acl_convolution_utils.cpp
  src/cpu/aarch64/acl_winograd_convolution.cpp
  src/cpu/aarch64/acl_winograd_convolution.hpp
Labels: platform:aarch64

#2047 cpu: aarch64: Upgrade matmul to use ACL stateless API
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:aarch64

#2048 generic: sycl: sum: Issues with scales and conf_ struct on Intel
  src/gpu/generic/sycl/ref_sum.cpp
  src/gpu/generic/sycl/ref_sum_many_inputs.hpp
  src/gpu/generic/sycl/sum_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2053 [RV64] Add missing include `common/primitive.hpp` required for riscv64 platforms
  src/cpu/rv64/rvv_nchw_pooling.hpp
Labels: platform:risc-v

#2014 Aarch64 jit depthwise convolution kernels
  src/cpu/aarch64/cpu_reducer.cpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.cpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.hpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_utils.hpp
  src/cpu/aarch64/jit_uni_dw_convolution.cpp
  src/cpu/aarch64/jit_uni_dw_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64

#2059 cpu: aarch64: Enable stateless ACL depthwise convolution
  src/cpu/aarch64/acl_convolution_utils.cpp
  src/cpu/aarch64/acl_convolution_utils.hpp
  src/cpu/aarch64/acl_depthwise_convolution.cpp
  src/cpu/aarch64/acl_depthwise_convolution.hpp
Labels: platform:cpu-aarch64

#2040 generic: sycl: resampling: Avoid using the cudnn resampling to use the sycl impl
  src/gpu/gpu_resampling_list.cpp
  src/gpu/nvidia/README.md
  src/gpu/nvidia/cudnn_resampling.cpp
  src/gpu/nvidia/cudnn_resampling.hpp
  src/gpu/nvidia/cudnn_resampling_impl.hpp
Labels: documentation, platform:gpu-nvidia

#2060 @snadampal as codeowner for AArch64
  MAINTAINERS.md
Labels: documentation, governance

#2049 cpu: aarch64 make binary ops use stateless ACL interface
  README.md
  cmake/ACL.cmake
  src/cpu/aarch64/acl_binary.cpp
  src/cpu/aarch64/acl_binary.hpp
Labels: platform:cpu-aarch64

#2044 Proposal on enabling generic GPU vendor
  rfcs/20240819-generic-vendor/README.md
Labels: RFC
