Repository uxlfoundation/oneDNN, pull requests merged in 2024-05, with the labels that each got.

#1839 gpu: sycl: prelu: fix benchdnn failures
  src/gpu/sycl/prelu_kernels.hpp
Labels: platform:nvidia-gpu

#1863 gpu: sycl: binary: add support for broadcasting
  src/gpu/sycl/binary_kernels.hpp
  src/gpu/sycl/ref_binary.hpp
Labels: platform:nvidia-gpu, platform:amd-gpu

#1888 cpu: aarch64: conv: Removing fall through to oneDNN reference implementation for depthwise convolution when padding greater then kernel
  src/cpu/aarch64/acl_convolution_utils.cpp
Labels: platform:aarch64

#1760 gpu: nvidia: conv: Fix int8 convolution primitive fails
  src/gpu/nvidia/cudnn_convolution.cpp
  src/gpu/nvidia/cudnn_convolution.hpp
  src/gpu/nvidia/cudnn_convolution_impl.hpp
Labels: platform:nvidia-gpu

#1889 cpu: aarch64: matmul: Optimize (A^T)*(B^T) in acl_matmul
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:aarch64

#1890 Benchdnn brgemm validation enablement on aarch64
  src/cpu/aarch64/brgemm/brgemm.hpp
  src/cpu/aarch64/brgemm/brgemm_types.hpp
  src/cpu/aarch64/cpu_isa_traits.hpp
  src/cpu/aarch64/jit_uni_deconv_zp_pad_str_kernel.cpp
  tests/benchdnn/brgemm/bench_brgemm.cpp
  tests/benchdnn/brgemm/brgemm.cpp
  tests/benchdnn/brgemm/brgemm.hpp
  tests/benchdnn/brgemm/ref_brgemm.cpp
Labels: platform:aarch64

#1899 Sve matmul extension
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/aarch64/injectors/jit_uni_postops_injector.cpp
  src/cpu/aarch64/matmul/brgemm_matmul.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.cpp
  src/cpu/matmul/cpu_matmul_list.cpp
  src/cpu/reorder/cpu_reorder.hpp
  src/cpu/reorder/cpu_reorder_regular_f32_f32.cpp
Labels: platform:aarch64

#1903 src: cpu: aarch64: Fix deconv shape
  src/cpu/aarch64/acl_deconvolution.hpp
  tests/benchdnn/inputs/deconv/shapes_1d
Labels: platform:aarch64

#1904 src: cpu: aarch64: Fix deconv shape
  src/cpu/aarch64/acl_deconvolution.hpp
  tests/benchdnn/inputs/deconv/shapes_1d
Labels: platform:aarch64

#1885 src: cpu: aarch64: add ACL s8:s8:f32 matmul
  cmake/ACL.cmake
  src/cpu/aarch64/matmul/acl_lowp_matmul.hpp
  src/cpu/matmul/cpu_matmul_list.cpp
Labels: platform:aarch64

#1892 Fuse sum post op acl matmul
  src/cpu/aarch64/acl_post_ops.cpp
  src/cpu/aarch64/acl_post_ops.hpp
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:aarch64

#1915 cpu: reorder: use jit uni reorder for bf16
  src/cpu/aarch64/jit_uni_reorder.cpp
  src/cpu/reorder/cpu_reorder_regular_bf16.cpp
Labels: platform:aarch64

#1907 aarch64: shuffle: fix segv for bf16 cases
  src/cpu/aarch64/shuffle/jit_uni_shuffle.cpp
  src/cpu/aarch64/shuffle/jit_uni_shuffle_kernel.cpp
Labels: platform:aarch64

#1938 Backport src: cpu: aarch64: add ACL s8:s8:f32 matmul
  cmake/ACL.cmake
  src/cpu/aarch64/matmul/acl_lowp_matmul.hpp
  src/cpu/matmul/cpu_matmul_list.cpp
Labels: platform:aarch64
