Repository uxlfoundation/oneDNN, pull requests merged in 2024-07, with the labels that each got.

#1968 cpu: aarch64: Extend ARM SVE Support for BRGEMM General and 1x1 Forward Convolution.
  src/cpu/aarch64/cpu_isa_traits.hpp
  src/cpu/aarch64/jit_brgemm_1x1_conv.cpp
  src/cpu/aarch64/jit_brgemm_1x1_conv.hpp
  src/cpu/aarch64/jit_brgemm_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv.hpp
  src/cpu/aarch64/jit_brgemm_conv_comp_pad_kernel.cpp
  src/cpu/aarch64/jit_brgemm_conv_comp_pad_kernel.hpp
  src/cpu/aarch64/jit_brgemm_conv_trans_kernel.cpp
  src/cpu/aarch64/jit_brgemm_conv_trans_kernel.hpp
  src/cpu/aarch64/jit_brgemm_conv_utils.cpp
  src/cpu/aarch64/jit_brgemm_conv_utils.hpp
  src/cpu/aarch64/jit_brgemm_post_ops.hpp
  src/cpu/aarch64/jit_brgemm_primitive_conf.hpp
  src/cpu/aarch64/jit_brgemm_transpose_utils.cpp
  src/cpu/aarch64/jit_brgemm_transpose_utils.hpp
  src/cpu/aarch64/jit_primitive_conf.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:aarch64

#1840 rfcs: add proposal on refactoring the GPU Architecture
  rfcs/20240325-reorganize-gpu/README.md
Labels: RFC

#1951 gpu: sycl: pooling: Reduce argument size
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/ref_pooling.cpp
  src/gpu/generic/sycl/ref_pooling.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:nvidia-gpu, platform:amd-gpu

#1976 gpu: sycl: shuffle: Enabling u8 datatype support
  src/gpu/generic/sycl/ref_shuffle.cpp
  src/gpu/generic/sycl/ref_shuffle.hpp
Labels: platform:nvidia-gpu, platform:amd-gpu

#1991 gpu: jit: intel: gemm: add missing stub exceptions
  src/gpu/intel/jit/gemm/gen_gemm_kernel_generator.cpp
Labels: platform:intel-gpu

#1958 build: workaround for MS STL breaking change
  src/common/layer_normalization_pd.hpp
Labels: platform:x64

#1769 rfcs: support group normalization in graph api
  rfcs/20231122-add-group-norm-graph-op/README.md
Labels: RFC

#2016 gpu: sycl: lnorm: bugfix scales datatypes
  src/gpu/generic/sycl/layer_normalizations_kernels.hpp
  src/gpu/generic/sycl/ref_layer_normalizations.cpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2013 gpu: sycl: reorder: bugfix - more checks
  src/gpu/generic/sycl/ref_reorder.hpp
Labels: platform:gpu-generic

#2006 gpu: sycl: Ensure dimensions are <= INT32_MAX
  src/gpu/generic/sycl/ref_batch_normalization.hpp
  src/gpu/generic/sycl/ref_binary.hpp
  src/gpu/generic/sycl/ref_eltwise.hpp
  src/gpu/generic/sycl/ref_layer_normalizations.hpp
  src/gpu/generic/sycl/ref_lrn.hpp
  src/gpu/generic/sycl/ref_pooling.hpp
  src/gpu/generic/sycl/ref_prelu.hpp
  src/gpu/generic/sycl/ref_reorder.hpp
  src/gpu/generic/sycl/ref_resampling.hpp
  src/gpu/generic/sycl/ref_shuffle.hpp
  src/gpu/generic/sycl/ref_softmax.hpp
  src/gpu/generic/sycl/sycl_utils.hpp
Labels: platform:gpu-generic

#1878 Add support for different src and dst datatypes in the SYCL implementation for pooling
  src/gpu/generic/sycl/ref_pooling.hpp
  tests/benchdnn/pool/ref_pool.cpp
Labels: platform:gpu-generic

#1995 gpu: sycl: binary: Adding datatype support with int32
  src/gpu/generic/sycl/ref_binary.hpp
Labels: platform:gpu-generic

#1998 gpu: sycl: prelu: Fix backward pass
  src/gpu/generic/sycl/prelu_kernels.hpp
  src/gpu/generic/sycl/ref_prelu.cpp
  src/gpu/generic/sycl/ref_prelu.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2000 cpu: x64: brgemm: improve memory safety of dnnl_brgemm_create
  src/cpu/x64/brgemm/capi/brgemm_api.cpp
Labels: platform:x64

#1989 gpu: sycl: convolution: implemented
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_convolution_list.cpp
Labels: platform:gpu-generic

#2003 gpu: sycl: softmax: Adding post-ops
  src/gpu/generic/sycl/ref_softmax.cpp
  src/gpu/generic/sycl/ref_softmax.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#1975 gpu: sycl: resampling: Enabling different src/dst datatypes
  src/gpu/generic/sycl/ref_resampling.hpp
  tests/benchdnn/resampling/resampling.cpp
Labels: platform:gpu-generic

#2004 gpu: sycl: refactor where kernel arguments are constructed
  src/gpu/generic/sycl/batch_normalizations_kernels.hpp
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/layer_normalizations_kernels.hpp
  src/gpu/generic/sycl/lrn_kernels.hpp
  src/gpu/generic/sycl/pooling_kernels.hpp
  src/gpu/generic/sycl/prelu_kernels.hpp
  src/gpu/generic/sycl/ref_batch_normalization.cpp
  src/gpu/generic/sycl/ref_binary.cpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_eltwise.cpp
  src/gpu/generic/sycl/ref_layer_normalizations.cpp
  src/gpu/generic/sycl/ref_lrn.cpp
  src/gpu/generic/sycl/ref_pooling.cpp
  src/gpu/generic/sycl/ref_prelu.cpp
  src/gpu/generic/sycl/ref_reorder.cpp
  src/gpu/generic/sycl/ref_resampling.cpp
  src/gpu/generic/sycl/ref_softmax.cpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
Labels: platform:gpu-generic

#2005 gpu: sycl: refactor post ops to use a union of post op types
  src/gpu/generic/sycl/sycl_post_ops.hpp
Labels: platform:gpu-generic

#1940 gpu: sycl: sum: implemented
  src/common/dnnl_traits.hpp
  src/gpu/generic/sycl/ref_sum.cpp
  src/gpu/generic/sycl/ref_sum.hpp
  src/gpu/generic/sycl/ref_sum_many_inputs.cpp
  src/gpu/generic/sycl/ref_sum_many_inputs.hpp
  src/gpu/generic/sycl/sum_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_sum_list.cpp
Labels: platform:gpu-generic
