Repository uxlfoundation/oneDNN, pull requests merged in 2024-04, with the labels that each got.

#1857 src: cpu: aarch64: Add ACL bf16 to bf16 matmul kernels.
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/platform.cpp
Labels: platform:aarch64

#1846 Use installed Arm Compute Library
  cmake/FindACL.cmake
  src/cpu/platform.cpp
Labels: platform:aarch64

#1843 src: cpu: aarch64: Add ACL GELU erf
  src/cpu/aarch64/acl_eltwise.hpp
  src/cpu/aarch64/acl_utils.cpp
Labels: platform:aarch64

#1830 gpu: miopen: softmax: fix benchdnn failures
  src/gpu/amd/miopen_softmax_impl.hpp
  tests/benchdnn/softmax/softmax.cpp
Labels: platform:amd-gpu

#1813 benchdnn: gpu: miopen: eltwise: Fixes some comparison issues when f16 is used
  tests/benchdnn/eltwise/eltwise.cpp
Labels: platform:amd-gpu

#1838 cpu: aarch64: Expand ARM SVE support for forward convolution.
  src/cpu/aarch64/cpu_barrier.cpp
  src/cpu/aarch64/cpu_reducer.cpp
  src/cpu/aarch64/cpu_reducer.hpp
  src/cpu/aarch64/injectors/injector_utils.hpp
  src/cpu/aarch64/jit_op_imm_check.hpp
  src/cpu/aarch64/jit_sve_conv_kernel.cpp
  src/cpu/aarch64/jit_sve_conv_kernel.hpp
  src/cpu/aarch64/jit_sve_convolution.cpp
  src/cpu/aarch64/jit_sve_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
  src/cpu/platform.cpp
Labels: platform:aarch64

#1804 Handle code paths that are assuming Linux just because __GNUC__ is defined
  src/cpu/aarch64/xbyak_aarch64/xbyak_aarch64/xbyak_aarch64.h
  src/cpu/aarch64/xbyak_aarch64/xbyak_aarch64/xbyak_aarch64_code_array.h
  src/cpu/aarch64/xbyak_aarch64/xbyak_aarch64/xbyak_aarch64_inner.h
  tests/benchdnn/common.cpp
  tests/benchdnn/dnnl_common.cpp
Labels: platform:aarch64

#1818 cpu: aarch64: Expand ARM SVE support for matrix multiplication
  src/cpu/aarch64/brgemm/brgemm.cpp
  src/cpu/aarch64/brgemm/brgemm.hpp
  src/cpu/aarch64/brgemm/brgemm_containers.cpp
  src/cpu/aarch64/brgemm/brgemm_containers.hpp
  src/cpu/aarch64/brgemm/brgemm_types.hpp
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/brgemm/brgemm_utils.hpp
  src/cpu/aarch64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/aarch64/brgemm/jit_brdgmm_kernel.hpp
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/aarch64/cpu_isa_traits.cpp
  src/cpu/aarch64/cpu_isa_traits.hpp
  src/cpu/aarch64/injectors/jit_uni_binary_injector.cpp
  src/cpu/aarch64/injectors/jit_uni_binary_injector.hpp
  src/cpu/aarch64/jit_generator.hpp
  src/cpu/aarch64/jit_uni_batch_normalization.cpp
  src/cpu/aarch64/jit_uni_binary.cpp
  src/cpu/aarch64/jit_uni_reorder.cpp
  src/cpu/aarch64/matmul/brgemm_matmul.cpp
  src/cpu/aarch64/matmul/brgemm_matmul.hpp
  src/cpu/aarch64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_copy_utils.hpp
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.hpp
  src/cpu/aarch64/matmul/brgemm_matmul_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_utils.hpp
  src/cpu/matmul/cpu_matmul_list.cpp
Labels: platform:aarch64

#1850 cpu: aarch64: Expand ARM SVE support in jit_uni_pool_kernel
  src/cpu/aarch64/jit_uni_pool_kernel.cpp
  src/cpu/aarch64/jit_uni_pool_kernel.hpp
  src/cpu/aarch64/jit_uni_pooling.cpp
  src/cpu/aarch64/jit_uni_pooling.hpp
  src/cpu/cpu_pooling_list.cpp
Labels: platform:aarch64

#1860 gpu: cuda/miopen: bugfix missing headers
  src/gpu/amd/sycl_hip_scoped_context.cpp
  src/gpu/amd/sycl_hip_stream.cpp
  src/gpu/nvidia/sycl_cuda_scoped_context.cpp
  src/gpu/nvidia/sycl_cuda_stream.cpp
Labels: platform:nvidia-gpu, platform:amd-gpu

#1867 fixup: cpu: aarch64: Expand ARM SVE support for matrix multiplication
  src/cpu/aarch64/jit_generator.hpp
  src/cpu/aarch64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_utils.cpp
Labels: platform:aarch64
