Repository uxlfoundation/oneDNN, pull requests merged in 2024-06, with the labels that each got.

#1918 cpu: aarch64: batch_normalization : Expand ARM SVE support in jit_uni_batch_normalization
  src/cpu/aarch64/jit_uni_batch_normalization.cpp
  src/cpu/cpu_batch_normalization_list.cpp
Labels: platform:aarch64

#1936 cpu: aarch64: Move allocation of accumulator from ACL to oneDNN scratchpad
  src/common/memory_tracking.hpp
  src/cpu/aarch64/acl_convolution_utils.hpp
  src/cpu/aarch64/acl_deconvolution.cpp
  src/cpu/aarch64/acl_deconvolution.hpp
  src/cpu/aarch64/acl_depthwise_convolution.hpp
  src/cpu/aarch64/acl_gemm_convolution.hpp
  src/cpu/aarch64/acl_indirect_gemm_convolution.hpp
  src/cpu/aarch64/acl_inner_product.cpp
  src/cpu/aarch64/acl_inner_product.hpp
  src/cpu/aarch64/acl_winograd_convolution.hpp
Labels: platform:aarch64

#1926 gpu: sycl: add reorder primitive
  src/gpu/gpu_reorder_list.cpp
  src/gpu/sycl/ref_reorder.cpp
  src/gpu/sycl/ref_reorder.hpp
  src/gpu/sycl/reorder_kernels.hpp
  src/gpu/sycl/sycl_primitive_conf.hpp
Labels: platform:nvidia-gpu, platform:amd-gpu

#1772 rfc: proposal to support deterministic primitive execution
  rfcs/20231213-determinism/README.md
Labels: RFC

#1540 rfcs: accumulation datatype
  rfcs/20230118-f16-accumulation/README.md
Labels: RFC

#1821 rfcs: graph api: propose ocl runtime support
  rfcs/20240228-graph-api-ocl-runtime/README.md
Labels: RFC

#1955 Backport cpu: aarch64: matmul: Optimize (A^T)*(B^T) and fuse sum post-op in acl_matmul
  src/cpu/aarch64/acl_post_ops.cpp
  src/cpu/aarch64/acl_post_ops.hpp
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:aarch64

#1933 src: cpu: conv: Use acl_indirect_gemm for bf16 convolutions
  src/cpu/aarch64/acl_convolution_utils.cpp
  src/cpu/aarch64/acl_indirect_gemm_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:aarch64

#1948 cpu: aarch64: conv: Update direct vs indirect conv heuristics
  src/cpu/aarch64/acl_convolution_utils.cpp
Labels: platform:aarch64

#1935 cpu: aarch64: matmul: Move allocation of temporary tensors to scratchpad in acl_matmul
  src/common/memory_tracking.hpp
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:aarch64

#1967 doc: add aarch64 build and test info to README
  README.md
Labels: platform:aarch64
