Repository uxlfoundation/oneDNN, pull requests merged in 2024-11, with the labels that each got.

#2164 gpu: nvidia: Added missing bf16 threshold for softmax
  tests/benchdnn/softmax/softmax.cpp
Labels: backport

#2186 gpu: nvidia: convolution: bugfix sum post op with int8
  src/gpu/nvidia/cudnn_convolution.cpp
  src/gpu/nvidia/cudnn_convolution.hpp
  src/gpu/nvidia/cudnn_convolution_impl.hpp
Labels: platform:gpu-nvidia, backport

#2189 generic: sycl: fix accessor types
  src/gpu/generic/sycl/binary_kernels.hpp
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/eltwise_kernels.hpp
  src/gpu/generic/sycl/matmul_kernels.hpp
  src/gpu/generic/sycl/ref_pooling.hpp
  src/gpu/generic/sycl/ref_resampling.hpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/resampling_kernels.hpp
  src/gpu/generic/sycl/softmax_kernels.hpp
  src/gpu/generic/sycl/sycl_post_ops.hpp
  src/xpu/sycl/types.hpp
Labels: platform:gpu-generic, backport

#2190 generic: sycl: resampling: fix a bug with post ops and non-max dimens…
  src/gpu/generic/sycl/resampling_kernels.hpp
Labels: platform:gpu-generic, backport

#2191 generic: sycl: softmax: bugfix checks
  src/gpu/generic/sycl/ref_softmax.hpp
Labels: platform:gpu-generic, backport

#2192 generic: sycl: deconvolution: bugfix post-ops
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_convolution.hpp
Labels: platform:gpu-generic, backport

#2199 github: automation: azure: updated macOS 12 to 14
  .github/automation/.azure-pipeline.yml
Labels: devops

#2182 generic: conv: deconv: reduce kernel argument size
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/ref_convolution.hpp
  src/gpu/generic/sycl/ref_deconvolution.cpp
  src/gpu/generic/sycl/ref_deconvolution.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#2195 [risc-v] cmake: added rvv intrinsics compilation check
  cmake/platform.cmake
Labels: platform:cpu-rv64

#2206 src: cpu: aarch64: Enable jit bf16 -> f32 reorder
  src/cpu/aarch64/jit_uni_reorder.cpp
  tests/benchdnn/inputs/reorder/test_reorder_bfloat16
Labels: platform:cpu-aarch64

#2217 doc: matmul: updated supported data types and minor edits
  doc/primitives/matmul.md
  doc/programming_model/data_types.md
Labels: documentation

#2218 cpu: aarch64: Re-enable ACL indirect conv for BF16
  src/cpu/aarch64/acl_indirect_gemm_convolution.cpp
Labels: platform:cpu-aarch64

#2156 rfcs: graph api: support swish operation
  rfcs/20241008-graph-api-swish/README.md
Labels: RFC

#2222 github: workflows: Reduce MacOS CI configs
  .github/workflows/ci-aarch64.yml
Labels: devops

#2234 fixup: src: replace implementations' pd ctor with base class ctor
  src/cpu/aarch64/jit_uni_dw_convolution.hpp
Labels: platform:cpu-aarch64
