Repository uxlfoundation/oneDNN, pull requests merged in 2024-12, with the labels that each got.

#2235 fix, build, docs: aarch64: mutex lock if the ACL kernel is not stateless
  .github/automation/build_acl.sh
  README.md
  cmake/ACL.cmake
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
Labels: documentation, platform:cpu-aarch64, devops

#2241 build: cmake: sdl: check for endbr64
  cmake/SDL.cmake
  cmake/utils.cmake
Labels: backport

#2226 github: workflows: update skip test on aarch64 ci
  .github/automation/test_aarch64.sh
Labels: devops

#2258 xe: jit: ngen: add symbol table
  src/gpu/intel/jit/ngen/ngen_elf.hpp
  src/gpu/intel/jit/ngen/ngen_interface.hpp
Labels: platform:gpu-intel

#2264 cpu: aarch64: thread_local ThreadpoolScheduler setting
  src/cpu/aarch64/acl_thread.cpp
Labels: platform:cpu-aarch64

#2265 xe: jit: gemm: remove unsupported GPU architecture strategies
  src/gpu/intel/jit/gemm/include/kernel_catalog.hpp
  src/gpu/intel/jit/gemm/selector/db/kernel.db
  src/gpu/intel/jit/gemm/selector/kernel_evaluator.cpp
  src/gpu/intel/jit/gemm/selector/kernel_selector.cpp
Labels: platform:gpu-intel

#2251 [rls-v3.7-pc] xe: jit: gemm: set lateScale lookahead to match load size
  src/gpu/intel/jit/gemm/generator/pieces/k_loop.cxx
Labels: platform:gpu-intel, backport

#2254 xe: jit: gemm: fix ARL m = 1 int4 cwei regression
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2257 xe: jit: use F pipe for zero initialization
  src/gpu/intel/jit/codegen/codegen.cpp
Labels: platform:gpu-intel

#2268 github: workflows: added labels for common code changes
  .github/labels.yml
Labels: devops

#2216 common: remove support for SyCL older than 2020
  examples/sycl_interop_buffer.cpp
  examples/sycl_interop_usm.cpp
  include/oneapi/dnnl/dnnl_graph_sycl.hpp
  include/oneapi/dnnl/dnnl_sycl.hpp
  src/gpu/intel/sycl/compat.cpp
  src/graph/backend/dnnl/kernels/kernel_base.hpp
  src/graph/backend/dnnl/scratchpad.hpp
  src/graph/interface/allocator.hpp
  src/graph/interface/partition.cpp
  src/graph/interface/partition_impl.hpp
  src/graph/utils/alloc.hpp
  src/graph/utils/sycl_check.hpp
  src/xpu/sycl/compat.hpp
  src/xpu/sycl/utils.hpp
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/dnnl_memory.cpp
  tests/gtests/graph/api/test_api_common.hpp
  tests/gtests/graph/test_allocator.hpp
  tests/gtests/graph/unit/unit_test_common.hpp
Labels: platform:gpu-intel

#2255 xe: jit: gemm: fix ARL m = 1 int4 cwei regression
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2277 x64: matmul: workaround large buffer reorder failure
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#2225 build: update minimum required CMake to 3.13
  CMakeLists.txt
  README.md
  cmake/OpenMP.cmake
  cmake/SDL.cmake
  cmake/SYCL.cmake
  cmake/coverage.cmake
  cmake/platform.cmake
  cmake/utils.cmake
  examples/CMakeLists.txt.in
  src/CMakeLists.txt
  src/gpu/intel/CMakeLists.txt
  src/gpu/intel/jit/gemm/CMakeLists.txt
  src/graph/backend/graph_compiler/core/CMakeLists.txt
  tests/CMakeLists.txt
  tests/other/subproject/CMakeLists.txt
Labels: documentation, platform:gpu-intel, component:graph-api, component:tests

#2275 xe: sdpa: Allow non-transposed scalars for the KQ matmul
  src/gpu/intel/ocl/micro_sdpa.cl
  src/gpu/intel/ocl/micro_sdpa.cpp
Labels: platform:gpu-intel

#2249 gpu: generic: add simple SYCL reduction implementation
  src/gpu/generic/sycl/simple_reduction.cpp
  src/gpu/generic/sycl/simple_reduction.hpp
  src/gpu/generic/sycl/simple_reduction_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_reduction_list.cpp
Labels: platform:gpu-generic

#2271 cpu: softmax: enable relaxed acc_mode (fixes MFDNN-12822)
  doc/primitives/softmax.md
  src/cpu/ref_softmax.cpp
  src/cpu/ref_softmax.hpp
  src/cpu/x64/jit_uni_softmax.cpp
  src/cpu/x64/jit_uni_softmax.hpp
  tests/benchdnn/inputs/softmax/test_softmax_ci
  tests/benchdnn/softmax/softmax.cpp
Labels: documentation, platform:cpu-x64, component:tests

#2282 [rls-v3.6 backport] cpu: x64: matmul/brgemm: enable f16 dst dt for int8 matmul
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  tests/benchdnn/inputs/matmul/test_matmul_ci
  tests/benchdnn/inputs/matmul/test_matmul_int8
Labels: platform:cpu-x64, backport

#2259 Restricted AArch64 CI to relevant changes
  .github/workflows/ci-aarch64.yml
Labels: devops

#2287 gpu: generic: sycl: fix typos in VDISPATCH_SUM calls
  src/gpu/generic/sycl/ref_sum.hpp
  src/gpu/generic/sycl/ref_sum_many_inputs.hpp
Labels: platform:gpu-generic

#2289 xe: ocl: gemm: fix gemm_with_post_ops accumulator type
  src/gpu/intel/ocl/gemm/gemm_with_post_ops.cl
Labels: platform:gpu-intel

#2283 xe: sdpa: Fix KQ gemm alignment for the K tensor
  src/gpu/intel/ocl/micro_sdpa.cl
  src/gpu/intel/ocl/micro_sdpa.cpp
Labels: bug, platform:gpu-intel

#2286 github: automation: fixed rules for commit scope check
  .github/automation/commit-msg-check.py
Labels: devops

#2299 src: gpu: intel: jit: gemm: improve second-token gemm performance on xe2
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2273 graph: backend: kernels: sdp verbose enhancement
  src/graph/backend/dnnl/kernels/sdp.hpp
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Labels: component:graph-api

#2315 xe: increase concat lws[0] size w/new optimal calculation
  src/gpu/intel/ocl/reusable_simple_concat.cpp
Labels: platform:gpu-intel

#2318 xe: sdpa: check attn mask presence
  src/gpu/intel/ocl/micro_sdpa.cpp
Labels: platform:gpu-intel

#2317 graph: sdpa: Fix k/v only pattern to allow for optional mask/scale
  src/graph/backend/dnnl/patterns/sdp.cpp
Labels: component:graph-api

#2327 build: cmake: remove old cmake policies for examples and tests
  examples/CMakeLists.txt.in
  tests/CMakeLists.txt
Labels: component:tests, component:examples

#2326 build: switched from FindPythonInterp to FindPython2
  CMakeLists.txt
  cmake/Sphinx.cmake
Labels: component:build
