Repository uxlfoundation/oneDNN, pull requests merged in 2025-01, with the labels that each got.

#2232 src : cpu : aarch64 : jit_sve_conv_kernel Inclusion of ldr_imm_check to improve the readability
  src/cpu/aarch64/jit_sve_conv_kernel.cpp
Labels: platform:cpu-aarch64

#2332 [rls-v3.6 backport] cpu: x64: matmul: copy_routines: associate fp16 support with dt, not only isa
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
Labels: platform:cpu-x64, backport

#2334 build: enabled __cplusplus preprocessor macro for MSVC compiler
  cmake/platform.cmake
Labels: component:build

#2336 copyright: update copyright year 2025
  cmake/platform.cmake
  scripts/verbose_converter/src/benchdnn_generator.py
  scripts/verbose_converter/src/ir.py
  scripts/verbose_converter/src/parse.py
  src/common/verbose.cpp
  tests/benchdnn/graph/graph.cpp
  tests/benchdnn/graph/graph.hpp
Labels: component:graph-api, component:tests, component:build

#2288 xe: conv: fix tuning support
  src/gpu/intel/jit/conv/config.cpp
  src/gpu/intel/jit/conv/gen_convolution.cpp
  src/gpu/intel/jit/conv/tiler.cpp
Labels: platform:gpu-intel

#2306 xe: conv: apply skip-w optimization for large strides
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#2311 xe: conv: apply skip-w optimization for large strides
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel, backport

#2296 build: cmake: unsupported compilers cleanup
  README.md
  cmake/OpenMP.cmake
  cmake/SDL.cmake
  cmake/coverage.cmake
  cmake/host_compiler.cmake
  cmake/host_compiler_id.cmake
  cmake/platform.cmake
  src/common/compiler_workarounds.hpp
  src/common/dnnl_thread.hpp
  src/common/primitive_attr_quant.hpp
  src/cpu/matmul/gemm_bf16_matmul.cpp
  src/cpu/matmul/gemm_x8s8s32x_matmul.cpp
  src/cpu/x64/gemm/amx/jit_avx512_core_amx_copy_kern.hpp
  src/cpu/x64/gemm/amx/jit_avx512_core_amx_gemm_kern.hpp
  src/cpu/x64/gemm/bf16/common_s16.hpp
  src/cpu/x64/gemm/bf16/jit_avx512_core_gemm_bf16bf16f32_kern.hpp
  src/cpu/x64/gemm/bf16/jit_avx512_core_gemv_bf16bf16f32_kern.hpp
  src/cpu/x64/gemm/f32/common_f32.hpp
  src/cpu/x64/gemm/f32/jit_avx2_kernel_sgemm_kern.hpp
  src/cpu/x64/gemm/f32/jit_avx512_common_gemm_f32.cpp
  src/cpu/x64/gemm/f32/jit_avx512_core_gemm_smalln_tn_f32_kern.cpp
  src/cpu/x64/gemm/f32/jit_avx_gemm_f32.cpp
  src/cpu/x64/gemm/f32/jit_avx_gemv_t_f32_kern.hpp
  src/cpu/x64/gemm/f32/jit_sse41_gemv_n_f32_kern.hpp
  src/cpu/x64/gemm/f32/jit_sse41_gemv_t_f32_kern.hpp
  src/cpu/x64/gemm/s8x8s32/common_u8.hpp
  src/cpu/x64/gemm/s8x8s32/jit_avx2_gemm_s8u8s32_kern.hpp
  src/cpu/x64/gemm/s8x8s32/jit_avx512_core_gemm_s8u8s32_kern.hpp
  src/cpu/x64/gemm/s8x8s32/jit_avx512_core_kernel_gemv_s8x8s32_kern.hpp
  src/cpu/x64/jit_generator.hpp
  src/cpu/x64/jit_uni_xf16_sum.cpp
  src/gpu/intel/jit/codegen/bank_conflict_allocation.cpp
  src/graph/backend/graph_compiler/core/src/runtime/microkernel/cpu/brgemm_onednn.cpp
Labels: documentation, platform:cpu-x64, platform:gpu-intel, component:graph-api, component:build

#2262 benchdnn: graph: use plain copy and paste for reorder if fail to create pd
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/graph/input_displacer.cpp
Labels: component:graph-api, component:tests

#2340 github: codeowners: add graph team to review graph doc
  .github/labels.yml
Labels: devops

#2260 xe: conv_v2: introduce Stream-K support
  src/gpu/intel/jit/conv/zero_out.cpp
  src/gpu/intel/jit/conv/zero_out.hpp
  src/gpu/intel/jit/ir/kernel_desc.hpp
  src/gpu/intel/jit/ir/primitive_plan.cpp
  src/gpu/intel/jit/ir/primitive_plan.hpp
  src/gpu/intel/jit/v2/conv/builder.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.hpp
  src/gpu/intel/jit/v2/conv/plan.cpp
Labels: platform:gpu-intel

#2346 xe: sdpa: Causal mask support
  src/common/primitive_hashing.cpp
  src/common/sdpa_pd.hpp
  src/common/sdpa_types.hpp
  src/common/sdpa_utils.hpp
  src/common/serialization.cpp
  src/common/type_helpers.hpp
  src/gpu/intel/ocl/micro_sdpa.cl
  src/gpu/intel/ocl/micro_sdpa.cpp
  src/gpu/intel/ocl/tile_ops.h
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Labels: platform:gpu-intel, component:graph-api

#2333 benchdnn: binary: update filling (maybe fixed MFDNN-12857)
  tests/benchdnn/binary/binary.cpp
Labels: component:tests

#2343 xehpg: jit: gemm: updated int4/8 compressed weights strategies
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2300 src: handle DNNL_VERBOSE=OFF support through an early exit (fixes MFDNN-12862)
  src/common/verbose.cpp
  src/cpu/x64/brgemm/capi/brgemm_api.cpp
  src/gpu/intel/ocl/ocl_gpu_engine.cpp
  src/graph/utils/verbose.cpp
Labels: platform:cpu-x64, platform:gpu-intel, component:graph-api

#2358 xe: jit: gemm: robust flag register handling in k loop check
  src/gpu/intel/jit/gemm/generator/pieces/k_loop.cxx
Labels: platform:gpu-intel

#2347 Maintainers: year end cleanup and new nominations
  MAINTAINERS.md
Labels: documentation, governance

#2357 fix: revert acl_winograd_convolution to stateful
  src/common/memory_tracking.hpp
  src/cpu/aarch64/acl_convolution_utils.cpp
  src/cpu/aarch64/acl_convolution_utils.hpp
  src/cpu/aarch64/acl_gemm_convolution.cpp
  src/cpu/aarch64/acl_gemm_convolution.hpp
  src/cpu/aarch64/acl_winograd_convolution.cpp
  src/cpu/aarch64/acl_winograd_convolution.hpp
Labels: platform:cpu-aarch64

#2307 [GPU] Fix jit GEMM debug strategy submission
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
Labels: bug, platform:gpu-intel

#2301 doc: graph: add document for sdpa with compressed key and value
  doc/graph/fusion_patterns/fusion_patterns.md
  doc/graph/fusion_patterns/images/compressed_sdpa_pattern.png
  doc/graph/fusion_patterns/sdpa_with_compressed_kv.md
Labels: documentation, component:graph-api

#2320 graph: backend: passes: verbose log enhancement
  src/graph/backend/dnnl/passes/compile_ops.cpp
  src/graph/backend/dnnl/passes/insert_ops.cpp
  src/graph/backend/dnnl/passes/layout_propagation.cpp
  src/graph/backend/dnnl/passes/lower.cpp
  src/graph/backend/dnnl/passes/memory_planning.cpp
  src/graph/backend/dnnl/passes/transform.cpp
  src/graph/backend/dnnl/passes/utils.cpp
  src/graph/backend/dnnl/passes/utils.hpp
Labels: component:graph-api

#2290 [GPU] Conv and Gemm fix
  src/gpu/intel/jit/conv/zp_plan.cpp
Labels: platform:gpu-intel

#2370 x64: conv: handle dilation int overflow (fixes MFDNN-12967)
  src/cpu/x64/jit_avx512_common_conv_kernel.cpp
Labels: platform:cpu-x64

#2344 Enable bfloat16 for micro sdpa kernel
  src/gpu/intel/ocl/micro_sdpa.cl
  src/gpu/intel/ocl/micro_sdpa.cpp
  src/gpu/intel/ocl/micro_sdpa.hpp
  src/gpu/intel/ocl/tile_ops.h
Labels: platform:gpu-intel

#2393 src: gpu: intel: jit: fix div-by-0 when aligning hs=0 grf regions
  src/gpu/intel/jit/codegen/reorder.hpp
Labels: platform:gpu-intel

#2395 (v3.7 backport) src: gpu: intel: jit: fix div-by-0 when aligning hs=0 grf regions
  src/gpu/intel/jit/codegen/reorder.hpp
Labels: platform:gpu-intel, backport

#2379 x64: brgemm matmul copy routines: fix parameters reading
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
Labels: bug, platform:cpu-x64

#2387 x64: conv: limitations for huge spatial sizes
  src/cpu/gemm_convolution_utils.cpp
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_conv_kernel.cpp
Labels: bug, platform:cpu-x64

#2392 x64: brgemm matmul: update condition for extendable_k
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: bug, platform:cpu-x64

#2396 xehpc: jit: gemm: add missing SLM unroll specifiers
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2397 xehpc: jit: gemm: add missing SLM unroll specifiers
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2339 xe: enable source code information for OpenCL kernels
  cmake/gen_gpu_kernel.cmake
  cmake/gen_gpu_kernel_list.cmake
  src/gpu/intel/compute/compute_engine.hpp
  src/gpu/intel/compute/kernel.hpp
  src/gpu/intel/ocl/ocl_gpu_engine.cpp
  src/gpu/intel/ocl/ocl_gpu_engine.hpp
  src/gpu/intel/ocl/ocl_gpu_kernel.cpp
  src/gpu/intel/ocl/ocl_gpu_kernel.hpp
  src/gpu/intel/sycl/engine.hpp
  src/gpu/intel/sycl/sycl_interop_gpu_kernel.hpp
Labels: platform:gpu-intel, component:build

#2308 src: cpu: aarch64: Re-enable matmul static quantisation through ACL.
  src/common/memory_tracking.hpp
  src/cpu/aarch64/matmul/acl_lowp_matmul_sq.cpp
  src/cpu/aarch64/matmul/acl_lowp_matmul_sq.hpp
  src/cpu/matmul/cpu_matmul_list.cpp
Labels: platform:cpu-aarch64

#2406 xe: ocl: log OpenCL C warnings when DNNL_VERBOSE=warn
  src/gpu/intel/ocl/ocl_gpu_engine.cpp
Labels: platform:gpu-intel

#2399 xe: correct allowable sg sizes
  src/gpu/intel/compute/device_info.cpp
Labels: platform:gpu-intel

#2243 gpu: generic: implement SYCL reduction
  src/common/memory_tracking.hpp
  src/gpu/generic/sycl/README.md
  src/gpu/generic/sycl/reduction_kernels.hpp
  src/gpu/generic/sycl/ref_reduction.cpp
  src/gpu/generic/sycl/ref_reduction.hpp
  src/gpu/generic/sycl/simple_reduction.cpp
  src/gpu/generic/sycl/simple_reduction_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_reduction_list.cpp
  src/xpu/sycl/types.hpp
  tests/gtests/test_reduction.cpp
Labels: documentation, platform:gpu-generic, component:tests

#2422 xehpg: jit: gemm: remove unwanted k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2425 xe: softmax: workaround for bug in wg_reduce
  src/gpu/intel/ocl/reusable_softmax.cpp
Labels: platform:gpu-intel

#2405 build: remove old and unused BUNDLE V1 build mode
  CMakeLists.txt
  cmake/Doxygen.cmake
  cmake/options.cmake
  examples/CMakeLists.txt
  examples/CMakeLists.txt.in
  src/CMakeLists.txt
Labels: component:build, component:examples

#2423 [backport] xe: jit: gemm: add dynamic quantization kernel
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2439 ci: linters: OS fix for clang-format
  .github/workflows/pr-linter.yml
Labels: devops

#2400 [MHA][CPU] common: fix for mha cpu regression
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_common.hpp
  include/oneapi/dnnl/dnnl_graph.hpp
  include/oneapi/dnnl/dnnl_graph_ocl.hpp
  include/oneapi/dnnl/dnnl_graph_sycl.hpp
  include/oneapi/dnnl/dnnl_ocl.hpp
  include/oneapi/dnnl/dnnl_sycl.hpp
  include/oneapi/dnnl/dnnl_threadpool.hpp
  include/oneapi/dnnl/dnnl_ukernel.hpp
  tests/benchdnn/graph/deserialize.cpp
Labels: component:api, component:graph-api, component:tests

#2413 [rls-v3.7][MHA][CPU] common: fix for mha cpu regression
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_common.hpp
  include/oneapi/dnnl/dnnl_graph.hpp
  include/oneapi/dnnl/dnnl_graph_ocl.hpp
  include/oneapi/dnnl/dnnl_graph_sycl.hpp
  include/oneapi/dnnl/dnnl_ocl.hpp
  include/oneapi/dnnl/dnnl_sycl.hpp
  include/oneapi/dnnl/dnnl_threadpool.hpp
  include/oneapi/dnnl/dnnl_ukernel.hpp
  tests/benchdnn/graph/deserialize.cpp
Labels: backport, component:api, component:graph-api, component:tests

#2375 xe: jit: gemm: implement qqw mul instructions
  src/gpu/intel/jit/emulation.hpp
Labels: platform:gpu-intel

#2408 [Backport v3.7] xe: jit: gemm: implement qqw mul instructions
  src/gpu/intel/jit/emulation.hpp
Labels: bug, platform:gpu-intel, backport

#2295 tests: benchdnn: add experimental support for sycl graph
  cmake/testing.cmake
  tests/benchdnn/CMakeLists.txt
  tests/benchdnn/benchdnn.cpp
  tests/benchdnn/dnn_types.cpp
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/dnnl_common.hpp
  tests/benchdnn/doc/knobs_common.md
  tests/benchdnn/utils/parser.cpp
Labels: documentation, component:tests, component:build

#2377 Introduce matmul-based IP for training
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/matmul.cpp
  src/common/matmul_pd.hpp
  src/common/memory_tracking.hpp
  src/common/opdesc.hpp
  src/common/primitive_hashing.cpp
  src/common/type_helpers.hpp
  src/cpu/cpu_inner_product_list.cpp
  src/cpu/x64/jit_brgemm_post_ops.cpp
  src/cpu/x64/jit_brgemm_post_ops.hpp
  src/cpu/x64/matmul/brgemm_matmul.cpp
  src/cpu/x64/matmul/brgemm_matmul.hpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  src/cpu/x64/matmul_inner_product.cpp
  src/cpu/x64/matmul_inner_product.hpp
Labels: platform:cpu-x64, component:api

#2452 x64: brgemm matmul utils: fix LDA initialization
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  tests/benchdnn/inputs/matmul/harness_matmul_regression_f32
Labels: platform:cpu-x64, component:tests

#2362 cpu: x64: matmul: fixes correctness issue about tags
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  tests/benchdnn/inputs/matmul/harness_matmul_regression_f32
  tests/benchdnn/inputs/matmul/harness_matmul_regression_int8
Labels: bug, platform:cpu-x64, component:tests

#2428 [rls-v3.7] softmax wg reduce range workaround
  src/gpu/intel/ocl/reusable_softmax.cpp
Labels: platform:gpu-intel, backport

#2462 x64: matmul: fix LDA init via strides
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  tests/benchdnn/inputs/matmul/harness_matmul_regression_f32
Labels: platform:cpu-x64, backport, component:tests

#2461 xe: jit: gemm: reuse xe2 strategies on xe3
  src/gpu/intel/jit/gemm/selector/kernel_selector.cpp
Labels: platform:gpu-intel, backport

#2450 src: graph: backend: dnnl: enable block format in large partition kernel
  src/graph/backend/dnnl/kernels/large_partition.cpp
Labels: component:graph-api

#2470 [Backport v3.7] xe: reduction: fixup exceptions on zero dims
  src/common/reduction_pd.hpp
  src/gpu/intel/ocl/reduction/atomic_reduction.cpp
  src/gpu/intel/ocl/reduction/combined_reduction.cl
  src/gpu/intel/ocl/reduction/combined_reduction.cpp
Labels: platform:gpu-intel, backport

#2469 xe: reduction: fixup exceptions on zero dims
  src/common/reduction_pd.hpp
  src/gpu/intel/ocl/reduction/atomic_reduction.cpp
  src/gpu/intel/ocl/reduction/combined_reduction.cl
  src/gpu/intel/ocl/reduction/combined_reduction.cpp
Labels: platform:gpu-intel

#2458 graph: backend: dnnl: not use decomp sdpa kernel for dynamic quantized cases
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
Labels: component:graph-api

#2451 [rls-v3.7]src: graph: backend: dnnl: enable block format in large partition kernel
  src/graph/backend/dnnl/kernels/large_partition.cpp
Labels: backport, component:graph-api

#2459 [rls-v3.7]graph: backend: dnnl: not use decomp sdpa kernel for dynamic quantized cases
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
Labels: backport, component:graph-api

#2465 xe: ocl: add missing type enablement
  src/gpu/intel/ocl/ocl_math_utils.h
Labels: platform:gpu-intel

#2466 [rls-v3.7] xe: ocl: add missing type enablement
  src/gpu/intel/ocl/ocl_math_utils.h
Labels: platform:gpu-intel, backport

#2464 Backport: cpu: x64: matmul: fixes correctness issue about tags
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64, backport

#2447 src: gpu: intel: jit: conv: fix reorder zp precomp page faults
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#2448 (v3.7 backport) src: gpu: intel: jit: conv: fix reorder zp precomp page faults
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel, backport

#2473 xe: ocl: strengthen sycl header guard
  src/gpu/intel/ocl/ocl_utils.cpp
Labels: platform:gpu-intel

#2483 [rls-v3.7] xe: ocl: strengthen sycl header guard
  src/gpu/intel/ocl/ocl_utils.cpp
Labels: platform:gpu-intel, backport

#2484 [rls-v3.6] xe: ocl: strengthen sycl header guard
  src/gpu/intel/ocl/ocl_utils.cpp
Labels: platform:gpu-intel, backport

#2485 [Coverity] x64: injectors: eltwise: fix potential int underflow
  src/cpu/x64/injectors/jit_uni_eltwise_injector.cpp
Labels: platform:cpu-x64

#2482 benchdnn: fix and limit scratchpad check to CPU
  tests/benchdnn/dnnl_common.cpp
Labels: component:tests

#2489 benchdnn: fix and limit scratchpad check to CPU
  tests/benchdnn/dnnl_common.cpp
Labels: backport, component:tests

#2427 gpu: nvidia: amd: generic: ignore check-ref-impl
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/dnnl_common.hpp
  tests/benchdnn/doc/knobs_common.md
Labels: documentation, component:tests

#2495 [rls-v3.7] xe: correct allowable sg sizes
  src/gpu/intel/compute/device_info.cpp
Labels: platform:gpu-intel, backport

#2488 x64: injectors: eltwise: fix potential int underflow (backport)
  src/cpu/x64/injectors/jit_uni_eltwise_injector.cpp
Labels: platform:cpu-x64, backport

#2477 xe: jit: gemm: Add k-parallelism parameter to Xe2 gemm kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: bug, platform:gpu-intel

#2478 [Backport v3.7] xe: jit: gemm: Add k-parallelism parameter to Xe2 gemm kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: bug, platform:gpu-intel, backport

#2492 xe: jit: gemm: rearrange runtime dim checks
  src/gpu/intel/jit/gemm/xe_hp_systolic_gemm.cpp
Labels: platform:gpu-intel

#2493 [rls-v3.7] xe: jit: gemm: rearrange runtime dim checks
  src/gpu/intel/jit/gemm/xe_hp_systolic_gemm.cpp
Labels: platform:gpu-intel, backport

#2490 cpu: x64: disable small shapes for brgemm matmul reorder
  src/cpu/x64/matmul/brgemm_matmul_reorders.cpp
Labels: platform:cpu-x64

#2507 xe: jit: gemm: swap zp args in xe_hp impl
  src/gpu/intel/jit/gemm/xe_hp_systolic_gemm.cpp
Labels: platform:gpu-intel

#2511 [GPU] backport gemm fix
  src/gpu/intel/jit/gemm/xe_hp_systolic_gemm.cpp
Labels: documentation, platform:cpu-x64, platform:gpu-intel, devops, component:api, component:graph-api, component:tests

#2513 cpu: x64: disable small shapes for brgemm matmul reorder
  src/cpu/x64/matmul/brgemm_matmul_reorders.cpp
Labels: platform:cpu-x64, backport

#2491 x64 : matmul : b padding calculation
  src/cpu/x64/matmul/brgemm_matmul.cpp
  tests/benchdnn/inputs/matmul/harness_matmul_regression_bf16
Labels: platform:cpu-x64, component:tests

#2498 [GPU] Gemm: remove invalid src post-ops condition
  src/gpu/intel/jit/gemm/jit_gemm_pd.cpp
Labels: bug, platform:gpu-intel

#2521 x64: utils: jit_io_helper: fix xf16 store from Xmm (backport)
  src/cpu/x64/utils/jit_io_helper.cpp
  tests/benchdnn/inputs/reorder/harness_reorder_regression
Labels: platform:cpu-x64, backport, component:tests

#2519 gpu: nvidia: fix relu type cast for dimension
  src/gpu/nvidia/cudnn_eltwise_impl.hpp
Labels: platform:gpu-nvidia

#2532 [backport][rls-v3.6] x64: matmul: fix LDA init via strides
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  tests/benchdnn/inputs/matmul/harness_matmul_regression_f32
Labels: platform:cpu-x64, backport

#2529 cpu: matmul: correct ldc for gemm matmul
  src/cpu/matmul/gemm_x8s8s32x_matmul.cpp
Labels: bug

#2506 gpu:amd: Update bnorm lambda capture
  src/gpu/amd/miopen_batch_normalization_executor.hpp
Labels: platform:gpu-amd

#2537 x64: jit_generator: replace encoding conditionals with get_encoding()
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_comp_pad_kernel.cpp
  src/cpu/x64/jit_generator.hpp
  src/cpu/x64/jit_uni_batch_normalization.cpp
  src/cpu/x64/jit_uni_deconv_zp_pad_str_kernel.cpp
  src/cpu/x64/jit_uni_tbb_batch_normalization.cpp
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/x64/utils/jit_io_helper.cpp
Labels: platform:cpu-x64

#2539 backport: cpu: matmul: correct ldc for gemm
  src/cpu/matmul/gemm_x8s8s32x_matmul.cpp
Labels: platform:cpu-x64, backport

#2538 [GPU] fixup gemm args
  src/gpu/intel/jit/gemm/xe_hp_systolic_gemm.cpp
Labels: platform:gpu-intel

#2533 cpu: x64: matmul: fix strides for weights in ba when K == 1
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
Labels: platform:cpu-x64

#2499 [GPU][v3.7] Gemm: remove invalid src post-ops condition
  src/gpu/intel/jit/gemm/jit_gemm_pd.cpp
Labels: bug, platform:gpu-intel, backport

#2554 x64: reorder: change dispatching for xf16 and blocks_size < 8 (fixes MFDNN-13118)
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
Labels: platform:cpu-x64

#2558 cpu: x64: brgemm: update conditions for zp with big ow
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#2563 benchdnn: inputs: matmul: fix descriptor name
  tests/benchdnn/inputs/matmul/harness_matmul_regression_bf16
Labels: component:tests

#2540 x64: brgemm kernel: update Vmm usage
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64

#2522 governance: add @Ryo-not-rio as codeowner for AArch64
  MAINTAINERS.md
Labels: documentation, governance

#2553 xe: conv: add heuristic to perform reorder for plain layouts
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel, backport

#2527 xe: conv: add heuristic to perform reorder for plain layouts
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#2562 cpu: x64: disable MM IP for unsupported ISAs
  src/cpu/x64/matmul_inner_product.hpp
Labels: platform:cpu-x64

#2556 cpu: x64: rnn: multiplier is not required for gru
  src/cpu/x64/rnn/brgemm_cell_common_fwd.cpp
Labels: platform:cpu-x64, backport

#2557 cpu: x64: rnn: multiplier is not required for gru
  src/cpu/x64/rnn/brgemm_cell_common_fwd.cpp
Labels: platform:cpu-x64, backport

#2501 Arch coverity fixes
  examples/tutorials/matmul/cpu_sgemm_and_matmul.cpp
Labels: component:examples

#2503 Coverity fixes
  examples/tutorials/matmul/cpu_sgemm_and_matmul.cpp
Labels: backport, component:examples

#2535 benchdnn, ngen, xe: fix memory use miss-estimation triggering out-of-memory issues
  tests/benchdnn/dnnl_common.cpp
Labels: component:tests

#2359 doc: conv: add note for the dilation computation formula
  doc/primitives/convolution.md
  examples/primitives/pooling.cpp
Labels: documentation, component:examples

#2571 Fix LSTM INT8 for AVX2
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/common/tag_traits.hpp
  src/cpu/rnn/rnn_reorders.hpp
  src/cpu/rnn/rnn_utils.cpp
Labels: platform:cpu-x64, component:api

#2574 Fix LSTM INT8 for AVX2
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/common/tag_traits.hpp
  src/cpu/rnn/rnn_reorders.hpp
  src/cpu/rnn/rnn_utils.cpp
Labels: platform:cpu-x64, backport, component:api

#2575 Fix LSTM INT8 for AVX2
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/common/tag_traits.hpp
  src/cpu/rnn/rnn_reorders.hpp
  src/cpu/rnn/rnn_utils.cpp
Labels: platform:cpu-x64, backport

#2559 src: gpu: intel: jit: conv: fix reorder zp precomp page faults on xe3
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#2560 (v3.7 backport) src: gpu: intel: jit: conv: fix reorder zp precomp page faults on xe3
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel, backport

#2528 cpu: fixes some coverity issues(overflow, dereference null pointer issues)
  src/cpu/reorder/simple_sparse_reorder.hpp
  src/cpu/x64/jit_uni_binary_kernel.cpp
  src/cpu/x64/jit_uni_i8i8_pooling.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_bwd_base.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_bwd_nhwc.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_fwd_base.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_fwd_nhwc.cpp
Labels: platform:cpu-x64

#2568 [Backport]: cpu: x64: brgemm: update conditions for zp with big ow
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport
