Repository uxlfoundation/oneDNN, pull requests merged in 2025-09, with the labels that each got.

#3839 aarch64: matmul: Added u8_s8_f32 support for jit int8 matmul
  src/cpu/aarch64/matmul/jit_int8_kernel_types.hpp
  src/cpu/aarch64/matmul/jit_int8_matmul.cpp
Labels: platform:cpu-aarch64

#3861 [GPU][rls-v3.9] Fixup post-ops k-parallel skip
  src/gpu/intel/jit/gemm/jit_gemm_pd.cpp
Labels: platform:gpu-intel, backport

#3850 cpu: risc-v: build: add Zvfh extension support detection
  cmake/platform.cmake
Labels: component:build

#3797 fixup: xe: conv: drop post-op layout check
  src/gpu/intel/jit/ir/epilogue.cpp
  tests/benchdnn/inputs/conv/test_conv_regression_gpu
Labels: platform:gpu-intel, component:tests

#3864 xe: gemm: relax reshaping requirements
  src/gpu/intel/matmul/gemm.hpp
Labels: platform:gpu-intel

#3884 x64: pool: fix illegal instruction
  src/cpu/x64/jit_uni_pool_kernel.cpp
Labels: platform:cpu-x64, backport

#3840 xe: jit: dispatch to 2d reorder more often
  src/gpu/intel/jit/codegen/reorder.cpp
Labels: platform:gpu-intel

#3880 xe: conv: fix tile selection for NCHW
  src/gpu/intel/conv/jit/tiler.cpp
Labels: platform:gpu-intel

#3873 [GPU] Checks for double blocked format softmax/matmul
  src/gpu/intel/gemm/jit_xe_hp_systolic.cpp
  src/gpu/intel/softmax/simple.hpp
Labels: platform:gpu-intel

#3903 ci: aarch64: upgrade baseline version to v3.9
  .github/automation/aarch64/ci.json
Labels: platform:cpu-aarch64, devops

#3716 cpu: aarch64: Enable stateless ACL inner product/fully connected.
  .github/automation/aarch64/ci.json
  README.md
  cmake/ACL.cmake
  src/cpu/aarch64/acl_inner_product.cpp
  src/cpu/aarch64/acl_inner_product.hpp
Labels: documentation, platform:cpu-aarch64, devops, component:build

#3905 gpu: intel: extend append to support host storage
  src/gpu/intel/compute/kernel_arg_list.hpp
Labels: platform:gpu-intel

#3887 cpu: x64: brgemm: fix data type check
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
Labels: platform:cpu-x64

#3811 tests: benchdnn: graph: skip cases with correctness issue on NV GPU
  tests/benchdnn/graph/ref_partition.cpp
Labels: component:graph-api, component:tests

#3849 tests: benchdnn: add capability to import buffers from files
  tests/benchdnn/binary/binary.cpp
  tests/benchdnn/bnorm/bnorm.cpp
  tests/benchdnn/brgemm/brgemm.cpp
  tests/benchdnn/common.cpp
  tests/benchdnn/concat/concat.cpp
  tests/benchdnn/conv/conv.cpp
  tests/benchdnn/conv/conv.hpp
  tests/benchdnn/conv/conv_dw_fusion.cpp
  tests/benchdnn/deconv/deconv.cpp
  tests/benchdnn/dnn_types.cpp
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/doc/knobs_common.md
  tests/benchdnn/eltwise/eltwise.cpp
  tests/benchdnn/gnorm/gnorm.cpp
  tests/benchdnn/ip/ip.cpp
  tests/benchdnn/lnorm/lnorm.cpp
  tests/benchdnn/lrn/lrn.cpp
  tests/benchdnn/matmul/matmul.cpp
  tests/benchdnn/pool/pool.cpp
  tests/benchdnn/prelu/prelu.cpp
  tests/benchdnn/prelu/prelu.hpp
  tests/benchdnn/reduction/reduction.cpp
  tests/benchdnn/reorder/reorder.cpp
  tests/benchdnn/resampling/resampling.cpp
  tests/benchdnn/resampling/resampling.hpp
  tests/benchdnn/rnn/rnn.cpp
  tests/benchdnn/shuffle/shuffle.cpp
  tests/benchdnn/softmax/softmax.cpp
  tests/benchdnn/sum/sum.cpp
  tests/benchdnn/utils/fill.cpp
  tests/benchdnn/utils/fill.hpp
  tests/benchdnn/utils/parser.cpp
Labels: documentation, component:tests

#3888 benchdnn: manually unmap scratchpad memory object
  tests/benchdnn/dnnl_common.hpp
Labels: component:tests

#3832 cpu: x64: matmul: fix wei_n_blk when using a b buffer
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#3897 Fix nullptr dereference at error logging in graph::utils
  src/graph/utils/pm/nested_matcher.cpp
Labels: component:graph-api

#3932 graph: backend: dnnl: adopt host scalar memory api
  src/graph/backend/dnnl/common.cpp
  src/graph/backend/dnnl/dnnl_op_def.hpp
  src/graph/backend/dnnl/kernels/large_partition.cpp
  src/graph/backend/dnnl/kernels/large_partition.hpp
  src/graph/backend/dnnl/op_executable.hpp
  src/graph/backend/dnnl/passes/memory_planning.cpp
  src/graph/backend/dnnl/passes/memory_planning.hpp
  src/graph/utils/utils.hpp
Labels: component:graph-api

#3950 revert: cpu: aarch64: "support arbitrary eltwise post-ops..."
  src/cpu/aarch64/acl_post_ops.cpp
  src/cpu/aarch64/acl_post_ops.hpp
Labels: platform:cpu-aarch64

#3913 [GPU] GEMM: Enable `-` alpha/beta policy in debug
  src/gpu/intel/gemm/jit/gen_kernel.cpp
Labels: platform:gpu-intel

#3965 cpu: aarch64: fix modernize-use-nullptr clang-tidy failures
  src/cpu/aarch64/jit_sve_1x1_convolution.cpp
  src/cpu/aarch64/jit_sve_convolution.cpp
Labels: platform:cpu-aarch64

#3911 cpu: aarch64: support for dst u8 in brgemm general and 1x1 fwd conv
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/aarch64/jit_brgemm_1x1_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv.cpp
  src/cpu/aarch64/jit_brgemm_post_ops.hpp
  src/cpu/aarch64/jit_sve_conv_kernel.cpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#3952 [GPU] SDPA: fix ukernel bf16 to float conversion
  src/gpu/intel/include/math_utils.h
  src/gpu/intel/sdpa/micro.cl
Labels: bug, platform:gpu-intel

#3977 cpu: aarch64: fix remaining modernize-use clang-tidy failures
  src/cpu/aarch64/acl_benchmark_scheduler.hpp
  src/cpu/aarch64/brgemm/brgemm_containers.hpp
  src/cpu/aarch64/brgemm/brgemm_types.hpp
  src/cpu/aarch64/cpu_isa_traits.hpp
  src/cpu/aarch64/cpu_reducer.hpp
  src/cpu/aarch64/jit_brgemm_1x1_conv.hpp
  src/cpu/aarch64/jit_brgemm_conv.hpp
  src/cpu/aarch64/jit_brgemm_conv_comp_pad_kernel.hpp
  src/cpu/aarch64/jit_brgemm_post_ops.hpp
  src/cpu/aarch64/jit_brgemm_transpose_utils.hpp
  src/cpu/aarch64/jit_generator.hpp
  src/cpu/aarch64/jit_sve_1x1_convolution.hpp
  src/cpu/aarch64/jit_sve_512_core_x8s8s32x_deconvolution.hpp
  src/cpu/aarch64/jit_sve_512_x8s8s32x_conv_kernel.hpp
  src/cpu/aarch64/jit_sve_512_x8s8s32x_convolution.hpp
  src/cpu/aarch64/jit_sve_conv_kernel.hpp
  src/cpu/aarch64/jit_sve_convolution.hpp
  src/cpu/aarch64/jit_uni_1x1_conv_utils.hpp
  src/cpu/aarch64/jit_uni_batch_normalization.cpp
  src/cpu/aarch64/jit_uni_batch_normalization.hpp
  src/cpu/aarch64/jit_uni_batch_normalization_s8.hpp
  src/cpu/aarch64/jit_uni_binary.hpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.hpp
  src/cpu/aarch64/jit_uni_dw_convolution.hpp
  src/cpu/aarch64/jit_uni_eltwise.hpp
  src/cpu/aarch64/jit_uni_eltwise_int.hpp
  src/cpu/aarch64/jit_uni_i8i8_pooling.hpp
  src/cpu/aarch64/jit_uni_pool_kernel.hpp
  src/cpu/aarch64/jit_uni_pooling.hpp
  src/cpu/aarch64/jit_uni_reorder.hpp
  src/cpu/aarch64/jit_uni_softmax.hpp
  src/cpu/aarch64/matmul/brgemm_matmul_copy_utils.hpp
  src/cpu/aarch64/matmul/jit_int8_kernel_types.hpp
  src/cpu/aarch64/shuffle/jit_uni_shuffle.hpp
Labels: platform:cpu-aarch64

#3891 x64: brgemm kernels: APX registers update
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.hpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/injectors/injector_utils.cpp
  src/cpu/x64/injectors/injector_utils.hpp
Labels: bug, platform:cpu-x64

#3988 cpu: aarch64: Extend vector loads for AArch64 jit:uni reorder
  src/cpu/aarch64/jit_uni_reorder.cpp
Labels: platform:cpu-aarch64

#2849 cpu: aarch64: modify acl_pooling for stateless functions
  src/common/memory_tracking.hpp
  src/cpu/aarch64/acl_pooling.cpp
  src/cpu/aarch64/acl_pooling.hpp
Labels: platform:cpu-aarch64, component:common

#3992 examples: added missing GPU engine check to OpenCL examples
  examples/gpu_opencl_interop.cpp
  examples/graph/gpu_opencl_getting_started.cpp
Labels: component:examples

#3919 xe: gemm: improve LNL transitionary N strategy
  src/gpu/intel/gemm/jit/selector/db/kernel.db
Labels: platform:gpu-intel

#3972 cmake: enable stdlib debug mode for debug builds
  cmake/platform.cmake
Labels: component:build

#4003 cpu: aarch64: fix erroneous binary operation post_op comparison
  src/cpu/aarch64/jit_uni_pool_kernel.cpp
Labels: platform:cpu-aarch64

#4004 cpu: aarch64: fix readability-container-size-empty
  src/cpu/aarch64/matmul/acl_lowp_matmul.cpp
  src/cpu/aarch64/matmul/acl_lowp_matmul_sq.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
Labels: platform:cpu-aarch64

#4012 x64: brdgmm kernel: fix temporal registers usage
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
Labels: bug, platform:cpu-x64

#3942 cpu: gemm_x8s8s32x_conv: fix post_op application
  .github/automation/aarch64/skipped-tests.sh
  src/cpu/gemm_x8s8s32x_convolution.cpp
  src/cpu/gemm_x8s8s32x_convolution_utils.cpp
  src/cpu/gemm_x8s8s32x_convolution_utils.hpp
Labels: platform:cpu-aarch64, devops, component:common

#4006 cpu: aarch64: ensure LDR_ASSERT and STR_ASSERT are expanded fully
  src/cpu/aarch64/jit_uni_batch_normalization.cpp
Labels: platform:cpu-aarch64

#4020 cpu: x64: fix virtual interface
  src/cpu/x64/jit_gemm_x8s8s32x_convolution_utils.cpp
Labels: platform:cpu-x64

#2760 Restored deprecated declarations warning for oneAPI DPC++/C++ Compiler 2025.3 and newer
  cmake/host_compiler.cmake
Labels: component:build

#3892 x64: cpu: matmul: Fuse copy of A in cases of unaligned K dimension
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm_types.hpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/amx_blocking_heuristics.hpp
  src/cpu/x64/matmul/brgemm_matmul.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
Labels: platform:cpu-x64

#4017 doc: graph: update max binary/unary ops number to 20
  doc/graph/fusion_patterns/binary_fusion_patterns.md
  doc/graph/fusion_patterns/convolution_fusion_patterns.md
  doc/graph/fusion_patterns/convtranspose_fusions_patterns.md
  doc/graph/fusion_patterns/images/epilogue_subgraph_conv.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_general_1.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_general_2.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_matmul.png
  doc/graph/fusion_patterns/interpolate_fusion_patterns.md
  doc/graph/fusion_patterns/matmul_fusion_patterns.md
  doc/graph/fusion_patterns/norm_fusion_patterns.md
  doc/graph/fusion_patterns/pool_fusion_patterns.md
  doc/graph/fusion_patterns/quantized_convolution_fusion_patterns.md
  doc/graph/fusion_patterns/quantized_convtranspose_fusion_patterns.md
  doc/graph/fusion_patterns/quantized_matmul_fusion_patterns.md
  doc/graph/fusion_patterns/reduction_fusion_patterns.md
  doc/graph/fusion_patterns/softmax_fusion_patterns.md
  doc/graph/fusion_patterns/unary_fusion_patterns.md
Labels: documentation, component:graph-api

#3949 cpu: rv64: nchw_pooling: fix: de-templatization
  src/cpu/cpu_pooling_list.cpp
  src/cpu/rv64/rvv_nchw_pooling.cpp
  src/cpu/rv64/rvv_nchw_pooling.hpp
Labels: platform:cpu-rv64, component:common

#4007 cpu: aarch64: add bf16 support to brdgmm_dw_convolution
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/aarch64/brgemm/jit_brdgmm_kernel.hpp
  src/cpu/aarch64/jit_brdgmm_dw_conv.cpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#3838 cpu: aarch64: Extend bf16 support for BRGEMM convolution and 1x1 convolution
  src/cpu/aarch64/jit_brgemm_1x1_conv.cpp
  src/cpu/aarch64/jit_brgemm_post_ops.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#4022 cmake: fix typos
  cmake/FindBLAS.cmake
  cmake/TBB.cmake
  cmake/host_compiler_id.cmake
  cmake/options.cmake
  cmake/win/TBBConfig.cmake
Labels: component:build

#4027 cpu: x64: disable src reduction for gemv
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#3979 cpu: aarch64: Add support for dst s8 and s32 in brgemm int8 conv
  src/cpu/aarch64/brgemm/brgemm.cpp
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/aarch64/jit_brgemm_1x1_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv.cpp
  src/cpu/aarch64/jit_brgemm_post_ops.hpp
  src/cpu/aarch64/jit_brgemm_transpose_utils.cpp
  src/cpu/aarch64/jit_generator.hpp
  src/cpu/aarch64/jit_sve_512_core_x8s8s32x_deconvolution.cpp
  src/cpu/aarch64/jit_uni_deconv_zp_pad_str_kernel.cpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#4026 fixup: cpu: x64: avx512_core_int8_conv: handle scales inside the kernel
  src/cpu/x64/jit_avx512_core_x8s8s32x_conv_kernel.hpp
Labels: platform:cpu-x64
