Repository uxlfoundation/oneDNN, pull requests merged in 2025-08, with the labels that each got.

#3709 xe: jit: gemm: restore Xe3 tag in selector
  src/gpu/intel/jit/gemm/selector/kernel_selector.cpp
Labels: platform:gpu-intel, backport

#3699 Fix for #3698
  src/common/utils.cpp
Labels: component:common

#3704 graph: backend: dnnl: disable concat support with 0 dim src on NV GPU
  src/graph/backend/dnnl/passes/transform.cpp
Labels: component:graph-api

#3735 ci: aarch64: Update labels
  .github/labels.yml
Labels: devops

#3733 cpu: aarch64: skip unsupported ISAs in brgemm_matmul_matrix_B_reorder_t
  .github/automation/aarch64/skipped-tests.sh
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.cpp
Labels: platform:cpu-aarch64, devops

#3724 cpu: aarch64: jit_reorder: no fast_return if compensation needed
  .github/automation/aarch64/skipped-tests.sh
  src/cpu/aarch64/jit_uni_reorder.cpp
  tests/benchdnn/inputs/reorder/harness_reorder_compensation
Labels: platform:cpu-aarch64, devops, component:tests

#3701 cpu: x64: brgemm: rework scales application
  src/common/memory_tracking.hpp
  src/cpu/scale_utils.cpp
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm_types.hpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.hpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
  src/cpu/x64/jit_brdgmm_dw_conv.hpp
  src/cpu/x64/jit_brgemm_1x1_conv.cpp
  src/cpu/x64/jit_brgemm_1x1_conv.hpp
  src/cpu/x64/jit_brgemm_conv.cpp
  src/cpu/x64/jit_brgemm_conv.hpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.hpp
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_brgemm_inner_product.cpp
  src/cpu/x64/jit_brgemm_inner_product.hpp
  src/cpu/x64/jit_brgemm_inner_product_utils.cpp
  src/cpu/x64/jit_brgemm_post_ops.cpp
  src/cpu/x64/jit_brgemm_post_ops.hpp
  src/cpu/x64/jit_brgemm_primitive_conf.hpp
  src/cpu/x64/jit_primitive_conf.hpp
  src/cpu/x64/matmul/brgemm_matmul.cpp
  src/cpu/x64/matmul/brgemm_matmul.hpp
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.hpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  src/cpu/x64/ukernel/brgemm.cpp
  tests/benchdnn/brgemm/brgemm.cpp
Labels: platform:cpu-x64, component:tests, component:common

#3737 Backport into v3.9 of aarch64 reorder bug-fixes
  .github/automation/aarch64/skipped-tests.sh
  src/cpu/aarch64/jit_uni_reorder.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.cpp
  tests/benchdnn/inputs/reorder/harness_reorder_compensation
Labels: platform:cpu-aarch64, devops, backport, component:tests

#3592 oneDNN v3.9 release notes
  RELEASE_NOTES.md
Labels: documentation, backport

#3668 xe: jit: gemm: add sync before copy_plan
  src/gpu/intel/jit/gemm/generator/pieces/copy.cxx
Labels: platform:gpu-intel

#3457 cpu: riscv: pooling: fix kernel selection and edge case segfault in MaxPooling
  src/cpu/rv64/rvv_nchw_pooling.cpp
  src/cpu/rv64/rvv_nchw_pooling.hpp
Labels: platform:cpu-rv64

#3743 cpu: x64: jit_reorder: no fast_return if compensation needed
  src/cpu/x64/jit_uni_reorder.cpp
Labels: platform:cpu-x64

#3744 cpu: x64: jit_reorder: no fast_return if compensation needed
  src/cpu/x64/jit_uni_reorder.cpp
Labels: platform:cpu-x64, backport

#3547 [Benchdnn] Move GEMM attr tests
  tests/benchdnn/inputs/matmul/test_matmul_ci
  tests/benchdnn/inputs/matmul/test_matmul_gpu
Labels: component:tests

#3762 doc: give doxygen a hint wrt nested groups
  include/oneapi/dnnl/dnnl_graph.hpp
  include/oneapi/dnnl/dnnl_ukernel.hpp
Labels: component:api

#3753 xe: sdpa: Optimize GQA 2nd token cases by batching accross kv groups
  src/gpu/intel/sdpa/micro.cl
  src/gpu/intel/sdpa/micro.cpp
Labels: performance, platform:gpu-intel

#3768 xe: conv: drop post-op layout check
  src/gpu/intel/conv/jit/config.cpp
Labels: platform:gpu-intel

#3778 governance: Add Siddhartha Menon to onednn-devops
  MAINTAINERS.md
Labels: documentation, governance

#3787 ngen: remove conflict with windows.h interface define
  third_party/ngen/ngen_elf.hpp
Labels: third_party

#3788 cmake: add "-mcpu=power10 -mmma" to cross-compilation flags
  cmake/platform.cmake
Labels: component:build

#3783 graph: backend: dnnl: fix post select md creation
  src/graph/backend/dnnl/fusion_info.cpp
Labels: component:graph-api

#3793 fixup: cpu: x64: brgemm: handle src and wei scales inside the kernel
  src/cpu/x64/ukernel/brgemm.cpp
Labels: platform:cpu-x64

#3758 [GPU] fixup sync in copy plan
  src/gpu/intel/gemm/jit/generator/pieces/copy.cxx
Labels: platform:gpu-intel

#3713 Xbyak::Reg64 extension to support more transparent save/restore operations and use APX extended GPR set
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.hpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/injectors/injector_utils.cpp
  src/cpu/x64/injectors/injector_utils.hpp
Labels: platform:cpu-x64

#3798 Added version selector for Github pages documentation
  cmake/options.cmake
  doc/build/build_options.md
  doc/sphinx/conf.py.in
Labels: documentation, component:build

#3806 common: minor refactoring to resolve compiler warning
  src/common/host_scalar_memory_storage.hpp
Labels: component:common

#3799 cpu: x64: matmul: Fixed B transform LDB2
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#3801 cpu: x64: matmul: Fixed B transform strides
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64, backport

#3815 x64: brgemm kernel: fix reg_buf_aux
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: bug, platform:cpu-x64

#3818 x64: brdgmm kernel: fix reg_aux_wei_scales register for APX
  src/cpu/x64/brgemm/jit_brdgmm_kernel.hpp
Labels: bug, platform:cpu-x64

#3731 cpu: aarch64: brgemm: Extend support for bf16 in BRGEMM Kernel
  src/cpu/aarch64/brgemm/brgemm.cpp
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-aarch64

#3705 cpu: conv: enable f32:f32:x8 and bf16:bf16:x8 in conv and deconv
  src/cpu/cpu_convolution_list.cpp
  src/cpu/ref_convolution.hpp
Labels: component:common

#3810 cpu: x64: jit_brgemm_amx_uker: Fixed amx ops count for prefetch
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
Labels: platform:cpu-x64

#3819 xe: conv: switch ref_conv to use ocl_io.h
  src/gpu/intel/conv/ref.cl
  src/gpu/intel/conv/ref.cpp
Labels: platform:gpu-intel

#3777 doc: updated data type support tables for clarity
  README.binary.in
  README.md
  doc/programming_model/data_types.md
Labels: documentation

#3822 graph: backend: dnnl: fix ukernel check for int8 sdpa
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Labels: component:graph-api

#3828 x64: brdgmm kernel: fix reg_aux1_A and reg_aux1_B for saving
  src/cpu/x64/brgemm/jit_brdgmm_kernel.hpp
Labels: bug, platform:cpu-x64

#3830 doc: corrected nChw8c format diagram
  doc/advanced/design/mem_fmt_blk.png
Labels: documentation

#3363 cpu: aarch64: extend brgemm conv to sve_128
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/aarch64/cpu_isa_traits.hpp
  src/cpu/aarch64/jit_brgemm_1x1_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv_bwd.cpp
  src/cpu/aarch64/jit_brgemm_conv_comp_pad_kernel.cpp
  src/cpu/aarch64/jit_brgemm_conv_utils.cpp
  src/cpu/aarch64/jit_brgemm_post_ops.hpp
  src/cpu/aarch64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/aarch64/matmul/brgemm_matmul_reorders.cpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#3755 cpu: aarch64: fix scratchpad memory initialization
  src/cpu/aarch64/jit_uni_dw_conv_kernel_utils.hpp
  tests/benchdnn/inputs/conv/harness_conv_regression_general
Labels: platform:cpu-aarch64, component:tests

#3766 cpu: aarch64: fix scratchpad memory initialization
  src/cpu/aarch64/jit_uni_dw_conv_kernel_utils.hpp
  tests/benchdnn/inputs/conv/harness_conv_regression_general
Labels: platform:cpu-aarch64, backport, component:tests

#3792 cpu: riscv: pool: add verbose dispatch support to pooling
  src/cpu/rv64/rvv_nchw_pooling.hpp
Labels: platform:cpu-rv64

#3834 gpu: fix ocl gemm impl for src and wei zps
  src/gpu/intel/gemm/ocl_attrs.h
  src/gpu/intel/gemm/ref.cl
  src/gpu/intel/gemm/ref.hpp
Labels: platform:gpu-intel

#3767 cpu: aarch64: support arbitrary eltwise post-ops in acl_post_ops_t
  src/cpu/aarch64/acl_post_ops.cpp
  src/cpu/aarch64/acl_post_ops.hpp
Labels: platform:cpu-aarch64

#3846 xe: fix fp4 load/write handling in ocl_io.h
  src/gpu/intel/conv/ref.cl
  src/gpu/intel/gemm/with_post_ops.cl
  src/gpu/intel/include/io.h
Labels: platform:gpu-intel

#3847 [GPU][rls-v3.9] Loosen GEMM k-parallel restriction for attrs
  src/gpu/intel/gemm/jit.hpp
  src/gpu/intel/gemm/jit/pd.cpp
  src/gpu/intel/gemm/jit/pd.hpp
Labels: platform:gpu-intel
