Repository uxlfoundation/oneDNN, pull requests merged in 2025-04, with the labels that each got.

#2965 x64: conv: add f16 jit dw conv for avx512_core_fp16 (closes MFDNN-12877)
  src/common/memory_tracking.hpp
  src/cpu/cpu_convolution_list.cpp
  src/cpu/x64/jit_avx512_core_f16_dw_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_f16_dw_conv_kernel.hpp
  src/cpu/x64/jit_uni_dw_conv_kernel_utils.cpp
  src/cpu/x64/jit_uni_dw_conv_kernel_utils.hpp
  src/cpu/x64/jit_uni_dw_convolution.cpp
  src/cpu/x64/jit_uni_dw_convolution.hpp
Labels: platform:cpu-x64

#2944 ngen: update PVC WAR bug workaround
  third_party/ngen/ngen_auto_swsb.hpp
Labels: backport

#2996 ngen: workaround for SYCL + GCC 12.3 compiler bug
  src/gpu/intel/jit/ngen/ngen.hpp
Labels: platform:gpu-intel, backport

#2995 ngen: workaround for SYCL + GCC 12.3 compiler bug
  third_party/ngen/ngen.hpp
Labels: backport

#3007 cpu: x64: matmul: correct blocked_B layout initialization
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: bug, platform:cpu-x64

#3017 Backport: cpu: x64: matmul: correct blocked_B layout initialization
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64, backport

#3006 [v3.8-pc backport] src: gpu: intel: jit: gemm: add dual (src+wei) vector zero points
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
  src/gpu/intel/jit/gemm/include/problem.hpp
Labels: platform:gpu-intel, backport

#2999 src: gpu: intel: jit: gemm: add dual (src+wei) vector zero points
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
  src/gpu/intel/jit/gemm/include/problem.hpp
Labels: platform:gpu-intel

#2985 Update project version (3.8.0 to 3.9.0) in CMakeLists
  CITATION.cff
  CMakeLists.txt
Labels: component:build

#3014 gpu: intel: sycl: l0: remove dependency to OCL for atomics query
  src/gpu/intel/sycl/l0/utils.cpp
Labels: platform:gpu-intel

#3021 [backport] gpu: intel: sycl: l0: remove dependency to OCL for atomics query
  src/gpu/intel/sycl/l0/utils.cpp
Labels: platform:gpu-intel, backport

#3003 Update gpu fwks inputs
  tests/benchdnn/inputs/binary/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/binary/option_set_fwks_key_gpu
  tests/benchdnn/inputs/bnorm/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/bnorm/option_set_fwks_key_gpu
  tests/benchdnn/inputs/concat/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/concat/option_set_fwks_key_gpu
  tests/benchdnn/inputs/conv/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/conv/option_set_fwks_key_gpu
  tests/benchdnn/inputs/deconv/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/deconv/option_set_fwks_key_gpu
  tests/benchdnn/inputs/eltwise/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/eltwise/option_set_fwks_key_gpu
  tests/benchdnn/inputs/ip/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/ip/option_set_fwks_key_gpu
  tests/benchdnn/inputs/ip/option_set_fwks_llm_gpu
  tests/benchdnn/inputs/lnorm/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/lnorm/option_set_fwks_key_gpu
  tests/benchdnn/inputs/matmul/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/matmul/option_set_fwks_key_gpu
  tests/benchdnn/inputs/matmul/option_set_fwks_llm_gpu
  tests/benchdnn/inputs/pool/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/pool/option_set_fwks_key_gpu
  tests/benchdnn/inputs/reduction/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/reduction/option_set_fwks_key_gpu
  tests/benchdnn/inputs/reorder/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/reorder/option_set_fwks_key_gpu
  tests/benchdnn/inputs/resampling/option_set_fwks_key_gpu
  tests/benchdnn/inputs/rnn/option_set_fwks_key_gpu
  tests/benchdnn/inputs/softmax/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/softmax/option_set_fwks_key_gpu
  tests/benchdnn/inputs/sum/option_set_fwks_ext_gpu
  tests/benchdnn/inputs/sum/option_set_fwks_key_gpu
Labels: component:tests

#2974 cpu: skip f64 inputs
  src/cpu/ref_binary.hpp
  src/cpu/ref_deconvolution.hpp
  src/cpu/ref_prelu.hpp
  src/cpu/ref_resampling.hpp
  src/cpu/ref_shuffle.hpp
  src/cpu/simple_resampling.hpp
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/brgemm_utils.hpp
  src/cpu/x64/injectors/jit_uni_binary_injector.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
  src/cpu/x64/ukernel/brgemm.cpp
Labels: platform:cpu-x64

#3025 cmake, doc: add GROUP_NORMALIZATION value for ONEDNN_ENABLE_PRIMITIVE
  cmake/configuring_primitive_list.cmake
  cmake/options.cmake
  doc/build/build_options.md
Labels: documentation, component:build

#3026 [backport] cmake, doc: add GROUP_NORMALIZATION value for ONEDNN_ENABLE_PRIMITIVE
  cmake/configuring_primitive_list.cmake
  cmake/options.cmake
  doc/build/build_options.md
Labels: documentation, backport, component:build

#3028 cpu: x64: brdgmm: enable sum with different data type
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
Labels: platform:cpu-x64

#3034 benchdnn: graph: resume ref memory init for perf mode
  tests/benchdnn/graph/ref_partition.cpp
Labels: component:graph-api, component:tests

#3013 benchdnn: inputs: graph: add more cases using f32 intermediate
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_all
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_ci
Labels: component:tests

#3043 Backport: cpu: x64: matmul: update set_or_check_B_tag
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64, backport

#3033 src: gpu: intel: jit: ir: add restrictions on conv-based precomputed zps
  src/gpu/intel/jit/ir/post_ops.hpp
Labels: platform:gpu-intel

#3011 xe: jit: utils: prefer incrementing tiles by a factor of 2
  src/gpu/intel/jit/utils/iterator.hpp
Labels: platform:gpu-intel

#3029 xe: conv: avoid reorder with NCHW when possible
  src/gpu/intel/jit/conv/config.cpp
  src/gpu/intel/jit/conv/problem.cpp
  src/gpu/intel/jit/conv/problem.hpp
  src/gpu/intel/jit/ir/tensor_config.cpp
  src/gpu/intel/jit/ir/tensor_config.hpp
Labels: platform:gpu-intel

#3037 [backport][rls-v3.8]benchdnn: graph: resume ref memory init for perf mode
  tests/benchdnn/graph/ref_partition.cpp
Labels: backport, component:graph-api, component:tests

#3049 tests: benchdnn: remove fpmath=f16 for some cases
  tests/benchdnn/inputs/matmul/harness_matmul_decompression
Labels: component:tests

#3051 xe: conv: adjust layout heuristic for small channels
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#3053 benchdnn: graph: inputs: clean removed mha test cases
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_all
Labels: component:tests

#3060 x64: brgemm matmul: update extendable_k_ condition
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
Labels: bug, platform:cpu-x64

#3036 cpu: riscv64: runtime improvements
  cmake/platform.cmake
  src/cpu/rv64/CMakeLists.txt
Labels: platform:cpu-rv64, component:build

#3066 x64: brgemm matmul: update extendable_k_ condition
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: bug, platform:cpu-x64, backport

#3032 common: fixing minor Coverity issues
  examples/graph/graph_example_utils.hpp
  examples/primitives/concat.cpp
  examples/primitives/sum.cpp
  src/common/logging.cpp
  src/common/primitive_attr_quant.hpp
  src/common/reorder.cpp
  src/common/resource.hpp
  src/common/thread_local_storage.hpp
  src/cpu/cpu_memory_storage.hpp
  src/xpu/ocl/buffer_memory_storage.hpp
  src/xpu/sycl/usm_memory_storage.hpp
  src/xpu/sycl/verbose.hpp
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/rnn/rnn.hpp
  tests/benchdnn/self/common.cpp
  tests/benchdnn/utils/parser.cpp
  tests/gtests/internals/test_utils.cpp
  tests/gtests/internals/test_utils.hpp
  tests/gtests/test_concat.cpp
  tests/gtests/test_convolution_backward_data_common.hpp
  tests/gtests/test_convolution_backward_weights_common.hpp
  tests/gtests/test_convolution_forward_common.hpp
  tests/gtests/test_deconvolution.cpp
  tests/gtests/test_sum.cpp
Labels: component:tests, component:examples

#2980 benchdnn: graph: support input displace for scalar
  tests/benchdnn/graph/input_displacer.cpp
  tests/benchdnn/graph/input_displacer.hpp
Labels: component:graph-api, component:tests

#3005 xe: jit: gemm: fix zero pool memory leak under SYCL when not recording
  src/gpu/intel/compute/zero_pool.cpp
  src/gpu/intel/jit/gemm/gen_gemm.cpp
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel

#3071 [backport][rls-v3.8] common: fixes for coverity major & moderate issues
  src/common/ittnotify.cpp
  src/common/logging.cpp
Labels: backport

#3074 xe: jit: gemm: fix zero pool memory leak under SYCL when not recording
  src/gpu/intel/compute/zero_pool.cpp
  src/gpu/intel/jit/gemm/gen_gemm.cpp
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel, backport

#3072 graph: use const reference per coverity's warnings
  src/graph/backend/dnnl/passes/memory_planning.cpp
  src/graph/backend/dnnl/passes/transform.cpp
  src/graph/interface/graph.cpp
  src/graph/utils/pm/nested_matcher.cpp
  tests/benchdnn/graph/custom_driver.cpp
  tests/benchdnn/graph/deserialize.cpp
  tests/benchdnn/graph/flex_rewrite.cpp
  tests/benchdnn/graph/graph.cpp
  tests/benchdnn/graph/ref_partition.cpp
  tests/benchdnn/graph/setting_handler.cpp
Labels: component:graph-api, component:tests

#3090 xe: jit: gemm: fix any md initialization
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel

#3087 [rls-v3.8] graph: use const reference per coverity's warnings
  src/graph/backend/dnnl/passes/memory_planning.cpp
  src/graph/backend/dnnl/passes/transform.cpp
  src/graph/interface/graph.cpp
  src/graph/utils/pm/nested_matcher.cpp
  tests/benchdnn/graph/custom_driver.cpp
  tests/benchdnn/graph/deserialize.cpp
  tests/benchdnn/graph/flex_rewrite.cpp
  tests/benchdnn/graph/graph.cpp
  tests/benchdnn/graph/ref_partition.cpp
  tests/benchdnn/graph/setting_handler.cpp
Labels: backport, component:graph-api, component:tests

#3085 cpu: x64: fix using new scale mask interface
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_convolution.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_convolution.hpp
Labels: platform:cpu-x64

#3086 cpu: x64: fix using new scale mask interface
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_convolution.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_convolution.hpp
Labels: platform:cpu-x64, backport

#3081 cpu: aarch64: fix is_dense check for eltwise
  src/cpu/aarch64/acl_eltwise.cpp
  src/cpu/aarch64/jit_uni_eltwise_int.cpp
Labels: platform:cpu-aarch64

#3065 graph: backend: dnnl: fix the lift_up_post_add_for_matmul pass
  src/graph/backend/dnnl/kernels/mqa_decomp_config.cpp
  src/graph/backend/dnnl/passes/transform.cpp
Labels: component:graph-api

#3091 [rls-v3.8] gpu: binary: enable select algorithm
  src/gpu/intel/ocl/binary_common.h
  src/gpu/intel/ocl/gen9_binary.cl
  src/gpu/intel/ocl/gen9_binary.cpp
  src/gpu/intel/ocl/gen9_binary.hpp
  src/gpu/intel/ocl/simple_binary.cl
  src/gpu/intel/ocl/simple_binary.cpp
  src/gpu/intel/ocl/simple_binary.hpp
  src/gpu/intel/primitive_conf.hpp
  tests/benchdnn/binary/binary.cpp
Labels: platform:gpu-intel, backport, component:tests

#3080 cpu: x64: matmul: add missing CHECK
  src/cpu/x64/matmul/brgemm_matmul_reorders.cpp
Labels: platform:cpu-x64

#3047 xe: binary: expand support for reorder-based impl
  src/gpu/intel/ocl/multi_po_reorder_binary.hpp
Labels: platform:gpu-intel

#2838 cpu: aarch64: dispatch fpmath_mode::bf16 conv to ACL
  src/cpu/aarch64/jit_sve_1x1_convolution.hpp
  src/cpu/aarch64/jit_sve_convolution.hpp
Labels: platform:cpu-aarch64

#3104 cpu: aarch64: dispatch fpmath_mode::bf16 conv to ACL
  src/cpu/aarch64/jit_sve_1x1_convolution.hpp
  src/cpu/aarch64/jit_sve_convolution.hpp
Labels: platform:cpu-aarch64, backport

#3054 xe: ocl: reorder: prefer SIMD16 mode for ref
  src/gpu/intel/ocl/ref_reorder.cl
  src/gpu/intel/ocl/ref_reorder.cpp
Labels: platform:gpu-intel

#3089 cpu: aarch64: Add BF16 support for eltwise JIT via reordering to FP32
  src/cpu/aarch64/jit_uni_eltwise.cpp
  src/cpu/cpu_eltwise_list.cpp
Labels: platform:cpu-aarch64, backport

#3067 [rls-v3.8] xe: fix post-op runtime dimension handling
  src/gpu/intel/compute/kernel_ctx.hpp
Labels: platform:gpu-intel, backport

#3112 xe: jit: gemm: selector: db: restrict invalid strategy
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3108 [backport][rls-v3.8] benchdnn: graph: fix false positives by reducing the matmul range
  tests/benchdnn/graph/ref_primitive.cpp
  tests/benchdnn/matmul/cfg.cpp
Labels: backport, component:graph-api, component:tests

#3116 cpu: x64: conv: disable zp with large zp buffer on AMX
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#3100 [backport][rls-v3.8] fixup: gpu: conv: post-op mem access
  src/gpu/intel/ocl/ref_convolution.cl
Labels: platform:gpu-intel, backport

#3106 [rls-v3.8] xe: ocl: reorder: prefer SIMD16 mode for ref
  src/gpu/intel/ocl/ref_reorder.cl
  src/gpu/intel/ocl/ref_reorder.cpp
Labels: platform:gpu-intel, backport

#3008 github: workflows: added component:common and third_party labels
  .github/labels.yml
Labels: devops

#3121 [GPU] Fixup gemm acc, zp limit (rls-v3.8)
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel, backport

#3117 cpu: x64: conv: disable zp with large zp buffer on AMX
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#3119 [GPU] Fixup gemm acc, zp limit
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel

#3045 Update fp4 Documentation
  doc/primitives/convolution.md
  doc/primitives/matmul.md
  doc/programming_model/data_types.md
Labels: documentation

#2877 ref: sycl: enable zp support in reorder and skip unsupported tests
  src/gpu/generic/sycl/ref_reorder.cpp
  src/gpu/generic/sycl/ref_reorder.hpp
  src/gpu/generic/sycl/reorder_kernels.hpp
  src/gpu/generic/sycl/sycl_io_helper.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  tests/benchdnn/reorder/reorder.cpp
  tests/benchdnn/utils/numeric.cpp
  tests/benchdnn/utils/numeric.hpp
Labels: platform:gpu-generic, component:tests

#3118 xe: compute: dispatch: map vectorized dim to index 0
  src/gpu/intel/ocl/gen9_pooling.cpp
Labels: platform:gpu-intel

#3099 fixup: gpu: conv: post-op mem access
  src/gpu/intel/ocl/ref_convolution.cl
Labels: platform:gpu-intel

#3122 oneDNN v3.7.3 patch release
  CMakeLists.txt
Labels: backport, component:build

#3109 xe: jit: gemm: remove invalid inv
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
Labels: platform:gpu-intel

#3124 xe: jit: reduce header register reuse
  src/gpu/intel/jit/codegen/codegen.cpp
Labels: platform:gpu-intel

#3134 [GPU] jit: gemm: add A/B offset restriction (aboffset)
  src/gpu/intel/jit/gemm/include/gemmstone/kernel_catalog.hpp
  src/gpu/intel/jit/gemm/selector/kernel_selector.cpp
Labels: platform:gpu-intel

#3130 Revert "tests: benchdnn: inputs: drop generated gemm cases causing crashes
  tests/benchdnn/inputs/matmul/harness_matmul_generated_ci
Labels: component:tests

#3137 doc: graph: add link to ops of genindex and greaterequal
  doc/graph/rst/graph_supported_operations.rst
Labels: documentation, component:graph-api

#3138 cpu: aarch64: conv: fix fast math NAN issue
  src/cpu/aarch64/acl_convolution_utils.hpp
Labels: platform:cpu-aarch64

#3131 [rls-v3.8] xe: jit: gemm: remove invalid inv
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
Labels: platform:gpu-intel, backport

#3133 xe: jit: reduce header register reuse
  src/gpu/intel/jit/codegen/codegen.cpp
Labels: platform:gpu-intel, backport

#3128 [GPU] Apply GEMM dim fixup to src scale (rls-v3.8)
  src/gpu/intel/ocl/gemm_matmul.hpp
Labels: platform:gpu-intel, backport

#3125 [GPU] Apply GEMM dim fixup to src scale
  src/gpu/intel/ocl/gemm_matmul.hpp
Labels: platform:gpu-intel

#3154 fixup: benchdnn: conv: inputs: improve GPU CI coverage
  tests/benchdnn/inputs/conv/shapes_basic_gpu
Labels: component:tests

#3063 cpu: x64: upstream DMR support to main branch
  doc/performance_considerations/dispatcher_control.md
  include/oneapi/dnnl/dnnl.h
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/dnnl_debug_autogenerated.cpp
  src/cpu/cpu_convolution_list.cpp
  src/cpu/cpu_deconvolution_list.cpp
  src/cpu/cpu_inner_product_list.cpp
  src/cpu/matmul/cpu_matmul_list.cpp
  src/cpu/rnn/rnn_utils.hpp
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm.hpp
  src/cpu/x64/brgemm/brgemm_types.hpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/brgemm_utils.hpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/cpu_isa_traits.cpp
  src/cpu/x64/cpu_isa_traits.hpp
  src/cpu/x64/injectors/jit_uni_binary_injector.cpp
  src/cpu/x64/injectors/jit_uni_binary_injector.hpp
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.hpp
  src/cpu/x64/jit_avx512_core_fp8cvt.cpp
  src/cpu/x64/jit_avx512_core_fp8cvt.hpp
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
  src/cpu/x64/jit_brgemm_1x1_conv.cpp
  src/cpu/x64/jit_brgemm_conv.cpp
  src/cpu/x64/jit_brgemm_conv_bwd.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_brgemm_deconv.cpp
  src/cpu/x64/jit_brgemm_inner_product.cpp
  src/cpu/x64/jit_brgemm_inner_product_utils.cpp
  src/cpu/x64/jit_brgemm_post_ops.cpp
  src/cpu/x64/jit_brgemm_post_ops.hpp
  src/cpu/x64/jit_brgemm_primitive_conf.hpp
  src/cpu/x64/jit_generator.hpp
  src/cpu/x64/jit_primitive_conf.hpp
  src/cpu/x64/jit_transpose_utils.cpp
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
  src/cpu/x64/jit_uni_reorder.cpp
  src/cpu/x64/matmul/brgemm_matmul.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  src/cpu/x64/rnn/rnn_brgemm_utils.cpp
  src/cpu/x64/utils/jit_io_helper.cpp
  src/cpu/x64/utils/jit_io_helper.hpp
  tests/benchdnn/inputs/conv/test_conv_ci
  tests/benchdnn/inputs/deconv/test_deconv_ci
  tests/test_isa_common.hpp
  third_party/xbyak/xbyak.h
  third_party/xbyak/xbyak_mnemonic.h
  third_party/xbyak/xbyak_util.h
Labels: documentation, platform:cpu-x64, component:api, component:tests, component:common, third_party

#3145 cpu: x64: matmul: AMX blocking heuristics fixes
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/amx_blocking_heuristics.hpp
Labels: bug, platform:cpu-x64

#3107 cpu: x64: ip: fix integer overflow in offsets
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
Labels: platform:cpu-x64

#3143 [v3.8 backport] cpu: x64: ip: fix integer overflow in offsets
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
Labels: platform:cpu-x64, backport

#3111 [GPU] better perf model for FHS BMG kernel on some VLM shapes
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3163 [GPU] xe: jit: copyright fix
  src/gpu/intel/jit/emulated_generator.cpp
Labels: platform:gpu-intel

#2041 rfcs: graph: support int4/int8 compression for K/V in fused SDPA
  rfcs/20240808-graph-api-int-compression-for-sdpa/README.md
  rfcs/20240808-graph-api-int-compression-for-sdpa/img/grouped_scale.png
  rfcs/20240808-graph-api-int-compression-for-sdpa/img/sdpa_pattern.png
Labels: RFC

#3135 graph: backend: dnnl: add datatype check for K and V
  src/graph/backend/dnnl/kernels/sdp_decomp.cpp
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
Labels: component:graph-api

#3160 Backport: cpu: x64: matmul: AMX blocking heuristics fixes (backport v3.8)
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/amx_blocking_heuristics.hpp
Labels: platform:cpu-x64, backport

#3146 xe: jit: gemm: offset legalization for PVC byte swizzle rules
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.cpp
Labels: platform:gpu-intel

#3148 xe: jit: gemm: dynamic quantization fixes
  src/gpu/intel/jit/gemm/generator/pieces/gemm_setup.cxx
  src/gpu/intel/jit/gemm/generator/pieces/matrix_multiply.cxx
Labels: platform:gpu-intel

#3149 xe: jit: gemm: dynamic quantization fixes
  src/gpu/intel/jit/gemm/generator/pieces/gemm_setup.cxx
  src/gpu/intel/jit/gemm/generator/pieces/matrix_multiply.cxx
Labels: platform:gpu-intel, backport

#3150 xe: jit: gemm: offset legalization for PVC byte swizzle rules
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.cpp
Labels: platform:gpu-intel, backport

#3169 common: remove DNNL_EXPERIMENTAL_SPARSE remnants
  src/common/primitive_serialization.cpp
  tests/benchdnn/dnnl_memory.cpp
Labels: component:tests, component:common

#3155 benchdnn: conv: replace shapes_basic_gpu by shapes_ci_gpu
  tests/benchdnn/inputs/conv/harness_conv_smoke_ref
  tests/benchdnn/inputs/conv/shapes_basic_gpu
  tests/benchdnn/inputs/conv/test_conv_gpu
Labels: component:tests

#3179 benchdnn: inputs: matmul: suppress warning while it is fixed
  tests/benchdnn/inputs/matmul/harness_matmul_generated_ci
Labels: component:tests

#3158 src: cpu: aarch64: Enable JIT fp16 -> fp16 reorder
  src/cpu/aarch64/jit_uni_reorder.cpp
  tests/benchdnn/inputs/reorder/test_reorder_float16
Labels: platform:cpu-aarch64, component:tests

#3185 [rls-v3.8] fixup: xe: ocl kernel warning fix
  src/gpu/intel/ocl/bnorm/gen9_bnorm_bwd.cl
  src/gpu/intel/ocl/generic_reorder.cl
  src/gpu/intel/ocl/micro_sdpa.cl
  third_party/ngen/ngen_opencl.hpp
Labels: platform:gpu-intel, backport

#3188 [GPU] add cl-opt-disable option
  src/gpu/intel/compute/kernel_ctx.hpp
Labels: platform:gpu-intel

#3191 [GPU] ocl: document cl_opt_disable option
  src/gpu/intel/ocl/ocl_overrides.md
Labels: documentation, platform:gpu-intel

#3194 x64: brgemm matmul: update extendable_k_ condition
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
Labels: platform:cpu-x64, backport
