Repository uxlfoundation/oneDNN, pull requests merged in 2025-06, with the labels that each got.

#3386 ci: aarch64: Add relevant types for different inputs in performance testing workflow
  .github/workflows/performance-aarch64.yml
Labels: devops

#3115 build: fix hash sub for out-of-tree builds
  cmake/version.cmake
Labels: component:build

#3308 Extend JIT Depthwise Convolution to BF16
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.cpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_utils.hpp
  src/cpu/aarch64/jit_uni_dw_convolution.cpp
  src/cpu/aarch64/jit_uni_dw_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#2956 cpu: binary: fix binary add with non-contiguous strides when bs=1
  src/cpu/aarch64/jit_uni_binary.cpp
  src/cpu/x64/jit_uni_binary.cpp
  tests/gtests/regression/test_binary_stride.cpp
Labels: platform:cpu-x64, platform:cpu-aarch64, component:tests

#3379 doc: sphinx: introducing copybuttons
  README.md
  THIRD-PARTY-PROGRAMS
  doc/environment.yml
  doc/sphinx/_static/doxyrest_code_copy_button.js
  doc/sphinx/conf.py
Labels: documentation

#3332 Enable FP16 ACL kernels that accumulate into FP32
  src/cpu/aarch64/matmul/acl_matmul.cpp
Labels: platform:cpu-aarch64

#3403 cpu: x64: matmul: fix blocking heuristics for l2 set issues
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
Labels: platform:cpu-x64

#3421 governance: add Renato Arantes as onednn-cpu-aarch64 codeowner
  MAINTAINERS.md
Labels: documentation, governance

#3431 doc: readme: update list of verified configurations
  README.md
Labels: documentation

#3362 graph pattern name refactor
  src/graph/backend/dnnl/patterns/binary_fusion.cpp
  src/graph/backend/dnnl/patterns/bn_fusion.cpp
  src/graph/backend/dnnl/patterns/eltwise_fusion.cpp
  src/graph/backend/dnnl/patterns/interpolate_fusion.cpp
  src/graph/backend/dnnl/patterns/reduction_fusion.cpp
  src/graph/backend/dnnl/patterns/reorder_fusion.cpp
  tests/gtests/graph/unit/backend/dnnl/test_batch_norm.cpp
  tests/gtests/graph/unit/backend/dnnl/test_binary_op.cpp
  tests/gtests/graph/unit/backend/dnnl/test_eltwise.cpp
  tests/gtests/graph/unit/backend/dnnl/test_interpolate.cpp
  tests/gtests/graph/unit/backend/dnnl/test_pass.cpp
  tests/gtests/graph/unit/backend/dnnl/test_reduce.cpp
  tests/gtests/graph/unit/backend/dnnl/test_reorder.cpp
  tests/gtests/graph/unit/backend/dnnl/test_subgraph_pass.cpp
Labels: component:graph-api, component:tests

#3411 cpu: aarch64: prefer brgemm over jit for 1x1 convolutions with sve_256
  src/cpu/aarch64/jit_brgemm_1x1_conv.cpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#3416 ci: aarch64: make ctime regression a warning
  .github/automation/performance/benchdnn_comparison.py
Labels: devops

#3441 cpu: aarch64: Re-Enable JIT Depthwise Convolution for BF16
  src/cpu/aarch64/jit_uni_dw_conv_kernel_f32.cpp
  src/cpu/aarch64/jit_uni_dw_conv_kernel_utils.hpp
  src/cpu/aarch64/jit_uni_dw_convolution.cpp
  src/cpu/aarch64/jit_uni_dw_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64, component:common

#3400 xe: add missing status_t checks
  src/gpu/intel/compute/data_type_converter.hpp
  src/gpu/intel/compute/zero_pool.cpp
  src/gpu/intel/jit/binary_format.cpp
  src/gpu/intel/jit/conv/config.cpp
  src/gpu/intel/jit/conv/config.hpp
  src/gpu/intel/jit/conv/gen_convolution.cpp
  src/gpu/intel/jit/ir/primitive_plan.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/planner/bench.cpp
  src/gpu/intel/ocl/convolution_inner_product.cpp
  src/gpu/intel/ocl/device_info.cpp
  src/gpu/intel/ocl/gemm/gemm_with_post_ops.cpp
  src/gpu/intel/ocl/ref_group_normalization.cpp
  src/gpu/intel/ocl/ref_matmul.cpp
  src/gpu/intel/ocl/stream.cpp
Labels: platform:gpu-intel

#3415 graph: backend: dnnl: fix genindex for threadpool runtime
  src/graph/backend/dnnl/op_executable.cpp
Labels: component:graph-api

#3444 cpu: x64: enable fp8 support in reorder on NVL
  src/cpu/x64/jit_uni_reorder.cpp
Labels: platform:cpu-x64

#3336 benchdnn: memory: gpu: enable support for RNG memory fill
  src/gpu/intel/ocl/ocl_philox.cl
  src/gpu/intel/ocl/ocl_philox.h
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
Labels: platform:gpu-intel, component:tests

#3388 cpu: aarch64: extend brdgmm to support sve_128
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/cpu/aarch64/brgemm/brgemm_utils.cpp
  src/cpu/aarch64/jit_brdgmm_dw_conv.cpp
  src/cpu/cpu_convolution_list.cpp
  tests/benchdnn/dnnl_debug_autogenerated.cpp
  tests/benchdnn/inputs/conv/test_conv_depthwise
Labels: platform:cpu-aarch64, component:api, component:tests, component:common

#3443 xe: jit: drop proxy classes for nGEN
  src/gpu/intel/jit/codegen/codegen.cpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/conv/pipeline.cpp
  src/gpu/intel/jit/ir/core.hpp
  src/gpu/intel/jit/pass/dpas.cpp
  src/gpu/intel/jit/utils/ngen_proxy.hpp
Labels: platform:gpu-intel

#3407 xbyak: allow repeated assignment of the same opmask index
  third_party/xbyak/xbyak.h
Labels: third_party

#3475 [GPU] Fixup implicit conversion
  src/gpu/intel/jit/gemm/jit_gemm_pd.cpp
Labels: platform:gpu-intel

#3474 xe: softmax: drop 32 subgroup size due to accuracy issues
  src/gpu/intel/ocl/reusable_softmax.hpp
Labels: platform:gpu-intel

#3467 ci: aarch64: Fix nightly performance tests
  .github/automation/performance/benchdnn_comparison.py
  .github/automation/performance/inputs/matmul_nightly
Labels: devops

#3478 xe: sdpa: compilation error bugfix with non-blocking Q loads
  src/gpu/intel/ocl/micro_sdpa.cl
Labels: platform:gpu-intel

#3469 brgemm convolution: blocking: update efficiency estimation including extra loop removing
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#2988 gpu: intel: sycl: add support for kernel compilation
  cmake/SYCL.cmake
  cmake/dnnl_compat.cmake
  cmake/options.cmake
  doc/advanced/experimental.md
  include/oneapi/dnnl/dnnl_config.h.in
  src/CMakeLists.txt
  src/gpu/intel/compute/device_info.cpp
  src/gpu/intel/compute/device_info.hpp
  src/gpu/intel/ocl/device_info.cpp
  src/gpu/intel/ocl/device_info.hpp
  src/gpu/intel/ocl/engine.cpp
  src/gpu/intel/ocl/engine.hpp
  src/gpu/intel/sycl/compat.cpp
  src/gpu/intel/sycl/compat.hpp
  src/gpu/intel/sycl/device_info.cpp
  src/gpu/intel/sycl/engine.hpp
Labels: documentation, platform:gpu-intel, component:api, component:build

#3466 xe: sdpa: limit 2d block writes to sizes below head size of 256
  src/gpu/intel/ocl/micro_sdpa.cpp
Labels: platform:gpu-intel

#3455 build: risc-v: dynamic selection of -march for RV64
  cmake/platform.cmake
Labels: component:build

#3483 cpu: x64: conv: fix segfault for f16
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#3485 brgemm convolution: blocking: update efficiency estimation including extra loop removing
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#3438 [GPU] Add Root Mean Square (RMS) normalization support to lnorm
  src/gpu/intel/ocl/ref_layer_normalization.cl
  src/gpu/intel/ocl/ref_layer_normalization.cpp
  src/gpu/intel/ocl/ref_layer_normalization.hpp
  src/gpu/intel/ocl/reusable_lnorm.cl
  src/gpu/intel/ocl/reusable_lnorm.cpp
  src/gpu/intel/ocl/reusable_lnorm.hpp
  src/gpu/intel/ocl/reusable_vectorized_lnorm.cl
  src/gpu/intel/ocl/reusable_vectorized_lnorm.cpp
  src/gpu/intel/ocl/reusable_vectorized_lnorm.hpp
  src/gpu/intel/ocl/simple_layer_normalization.cl
  src/gpu/intel/ocl/simple_layer_normalization.cpp
  src/gpu/intel/ocl/simple_layer_normalization.hpp
  src/gpu/intel/ocl/vectorized_lnorm.cl
  src/gpu/intel/ocl/vectorized_lnorm.cpp
  src/gpu/intel/ocl/vectorized_lnorm.hpp
  src/gpu/intel/primitive_conf.hpp
  tests/benchdnn/lnorm/lnorm.cpp
  tests/gtests/test_layer_normalization.cpp
Labels: platform:gpu-intel, component:tests

#3394 xe: conv: check GRF access bounds in release build
  src/gpu/intel/jit/codegen/reg_buf.hpp
  src/gpu/intel/jit/codegen/reorder.hpp
  src/gpu/intel/jit/conv/gen_convolution.cpp
Labels: platform:gpu-intel

#3331 tests: benchdnn: graph: add skip logic for NV GPU
  tests/benchdnn/graph/utils.hpp
Labels: component:graph-api, component:tests

#3484 xe: refactor microkernels check
  src/gpu/intel/compute/compute_engine.cpp
  src/gpu/intel/compute/compute_engine.hpp
  src/gpu/intel/compute/device_info.hpp
  src/gpu/intel/ocl/micro_sdpa.cpp
  src/gpu/intel/ocl/utils.cpp
  src/gpu/intel/ocl/utils.hpp
  src/gpu/intel/sycl/utils.cpp
  src/gpu/intel/sycl/utils.hpp
Labels: platform:gpu-intel

#3494 xe: sdpa: Fix TL causal mask where Q greater than K and V
  src/gpu/intel/ocl/micro_sdpa.cl
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_all
  tests/gtests/internals/test_sdpa.cpp
Labels: platform:gpu-intel, component:tests

#3398 graph: backend: dnnl: make matmul use any layout format only for constant cases
  src/graph/backend/dnnl/op_executable.cpp
  tests/gtests/graph/unit/backend/dnnl/test_subgraph_pass.cpp
Labels: component:graph-api, component:tests

#3489 Backport: cpu: x64: conv: fix segfault for f16
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#3497 cpu: x64: reorder: enable fp8 on SPR
  src/cpu/x64/jit_uni_reorder.cpp
Labels: platform:cpu-x64
