Repository uxlfoundation/oneDNN, pull requests merged in 2025-02, with the labels that each got.

#2579 x64: brgemm kernel: update Vmm usage
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64, backport

#2544 benchdnn: introduce --summary knob for better usability
  tests/benchdnn/benchdnn.cpp
  tests/benchdnn/common.cpp
  tests/benchdnn/common.hpp
  tests/benchdnn/doc/knob_summary.md
  tests/benchdnn/doc/knobs_common.md
  tests/benchdnn/utils/parser.cpp
Labels: documentation, component:tests

#2569 x64: matmul: bugfix copy B padding calculation
  src/cpu/x64/matmul/brgemm_matmul.cpp
  tests/benchdnn/inputs/matmul/harness_matmul_regression_bf16
Labels: platform:cpu-x64, backport, component:tests

#2584 x64: brgemm: update blocking for big virtual padding
  src/cpu/x64/brgemm/brgemm_utils.cpp
Labels: platform:cpu-x64

#2586 x64: brgemm: update blocking for big virtual padding
  src/cpu/x64/brgemm/brgemm_utils.cpp
Labels: platform:cpu-x64, backport

#2524 x64: conv: addressing coverity issues (backport into rls-v3.7)
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
Labels: platform:cpu-x64, backport

#2523 x64: conv: addressing coverity issues
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
Labels: platform:cpu-x64

#2585 cpu: x64: pooling: fix assertion for ind_dt
  src/cpu/x64/jit_uni_pool_kernel.hpp
Labels: bug, platform:cpu-x64

#2582 build: added -fno-sycl-unnamed-lambda for builds with host compiler
  cmake/host_compiler.cmake
Labels: component:build

#2593 cpu: x64: matmul: correct batch layout support for int4 wei
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: bug, platform:cpu-x64

#2589 Enable matmul-based RNN implementation back for SYCL CPU
  src/cpu/rnn/ref_rnn.cpp
  src/cpu/rnn/rnn_utils.hpp
Labels: platform:cpu-x64

#2591 github: workflows: Add GitHub hosted Cobalt-100 runners
  .github/automation/common_aarch64.sh
  .github/workflows/aarch64-acl.yml
  .github/workflows/ci-aarch64.yml
Labels: devops

#2597 [Backport]cpu: fixes some coverity issues(overflow, dereference null pointer issues)
  src/cpu/x64/jit_uni_binary_kernel.cpp
  src/cpu/x64/jit_uni_i8i8_pooling.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_bwd_base.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_bwd_nhwc.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_fwd_base.cpp
  src/cpu/x64/lrn/jit_avx512_common_lrn_fwd_nhwc.cpp
Labels: platform:cpu-x64, backport

#2421 xehpg: jit: gemm: remove unwanted k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2441 ci: linters: enabled clang-tidy, format-tags checks
  .github/automation/build_linters.sh
  .github/workflows/pr-linter.yml
Labels: devops

#2564 gpu: nvidia: matmul: fix issues with scaling
  src/common/memory_tracking.hpp
  src/gpu/generic/sycl/ref_matmul.hpp
  src/gpu/nvidia/cudnn_matmul.cpp
  src/gpu/nvidia/cudnn_matmul_executor.hpp
  src/gpu/nvidia/cudnn_matmul_lt.hpp
  src/gpu/nvidia/cudnn_matmul_lt_impl.hpp
Labels: platform:gpu-nvidia, platform:gpu-generic

#2611 Handle large strides in matmul properly
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#2606 cpu: x64: brgemm: use dim_t instead of int
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64

#2619 cpu: fixes coverity issues
  src/cpu/reorder/simple_reorder.hpp
  src/cpu/reorder/simple_sparse_reorder.hpp
  src/cpu/x64/jit_uni_binary_kernel.cpp
Labels: platform:cpu-x64

#2605 xe: sdpa: Fix bug with conversion of mask from bf16 to float
  src/gpu/intel/ocl/micro_sdpa.cl
  src/gpu/intel/ocl/tile_ops.h
Labels: platform:gpu-intel

#2617 [backport rls-v3.7] Fix bug with conversion of mask from bf16 to float
  src/gpu/intel/ocl/micro_sdpa.cl
  src/gpu/intel/ocl/tile_ops.h
Labels: bug, platform:gpu-intel, backport

#2620 xe: jit: gemm: move catalog generation to its own compilation unit
  src/gpu/intel/jit/gemm/CMakeLists.txt
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
  src/gpu/intel/jit/gemm/gen_gemm_kernel_db.cpp
  src/gpu/intel/jit/gemm/gen_gemm_kernel_db.hpp
Labels: platform:gpu-intel

#2615 github: workflows: Move CI into dedicated AArch64 folders
  .github/automation/aarch64/build.sh
  .github/automation/aarch64/build_acl.sh
  .github/automation/aarch64/ci.json
  .github/automation/aarch64/common.sh
  .github/automation/aarch64/get_acl.sh
  .github/automation/aarch64/test.sh
  .github/workflows/aarch64-acl.yml
  .github/workflows/ci-aarch64.yml
  .github/workflows/nightly-aarch64.yml
  .gitignore
Labels: devops

#2547 gpu: nvidia: fix relu type cast for dimension (backport) (#2519)
  src/gpu/nvidia/cudnn_eltwise_impl.hpp
Labels: platform:gpu-nvidia, backport

#2625 xe: jit: gemm: remove unnecessary register duplication
  src/gpu/intel/jit/gemm/generator/pieces/common.cxx
Labels: platform:gpu-intel

#2627 x64: conv: avoid overflows and add limit for huge spatial sizes (MFDNN-13089)
  src/cpu/x64/jit_avx2_conv_kernel_f32.cpp
  src/cpu/x64/jit_avx512_common_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_conv_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_w.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#2630 Backport: cpu: fixes coverity issues
  src/cpu/reorder/simple_reorder.hpp
  src/cpu/reorder/simple_sparse_reorder.hpp
  src/cpu/x64/jit_uni_binary_kernel.cpp
Labels: platform:cpu-x64, backport

#2628 x64: conv: avoid overflows and add limit for huge spatial sizes (backport)
  src/cpu/x64/jit_avx2_conv_kernel_f32.cpp
  src/cpu/x64/jit_avx512_common_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_conv_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_w.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#2621 gtests: fix linking for test_api_ocl with mem_debug (fixes MFDNN-13110)
  tests/gtests/dnnl_test_common_ocl.hpp
Labels: component:tests

#2634 cpu: x64: tile_config: fix lazy config to check full mask (fixes MFDNN-13157)
  src/cpu/x64/amx_tile_configure.cpp
Labels: platform:cpu-x64, backport

#2638 Fix memory handling inside primitive
  src/cpu/x64/jit_uni_ncsp_convolution.cpp
Labels: platform:cpu-x64

#2639 Fix memory handling inside primitive
  src/cpu/x64/jit_uni_ncsp_convolution.cpp
Labels: platform:cpu-x64, backport

#2640 graph: backend: dnnl: enable bf16 sdpa w/ implicit causal mask
  src/graph/backend/dnnl/patterns/sdp.cpp
  src/graph/backend/dnnl/patterns/utils.hpp
Labels: component:graph-api

#2643 Fix condition for identifying the need to process K tail
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64, backport

#2642 Fix condition for identifying the need to process K tail
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64

#2618 New code owners for gpu-generic component
  MAINTAINERS.md
Labels: documentation, governance

#2629 Backport: fixes failure/segfault in brgemm matmul
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64, backport

#2652 xe: conv_v2: disable Stream-K in deterministic mode
  src/gpu/intel/jit/v2/conv/bridge.hpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/problem.cpp
  src/gpu/intel/jit/v2/conv/problem.hpp
Labels: platform:gpu-intel

#2656 x64: brgemm kernel: fix condition for k tail processing
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64, backport

#2651 x64: brgemm kernel: fix condition for k tail processing
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64

#2655 gpu: intel: jit: ir: post_ops: restore original assert (fixes MFDNN-13188)
  src/gpu/intel/jit/ir/post_ops.cpp
Labels: platform:gpu-intel

#2641 [backport rls-v3.7] graph: backend: dnnl: enable bf16 sdpa w/ implicit causal mask
  src/graph/backend/dnnl/patterns/sdp.cpp
  src/graph/backend/dnnl/patterns/utils.hpp
Labels: backport, component:graph-api

#2504 graph: backend: dnnl: fix the null pointer issue and remove unused code
  src/graph/backend/dnnl/kernels/sdp_primitive.cpp
  src/graph/backend/dnnl/scratchpad.hpp
Labels: component:graph-api

#2567 [backport][rls-v3.7] gpu: nvidia: amd: generic: ignore check-ref-impl
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/dnnl_common.hpp
  tests/benchdnn/doc/knobs_common.md
Labels: documentation, backport, component:tests

#2481 oneDNN v3.7 release notes
  RELEASE_NOTES.md
Labels: documentation, backport

#2665 benchdnn: conv: replace ceilf() by div_up()
  tests/benchdnn/conv/ref_conv.cpp
  tests/benchdnn/deconv/ref_deconv.cpp
Labels: component:tests

#2664 x64: conv: add limitation for huge shape sizes (backport)
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#2663 x64: conv: add limitation for huge shape sizes (fixes MFDNN-13192)
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#2666 gtests: fix test_iface_sparse fails for mem_debug (fixes MFDNN-13144)
  tests/gtests/test_iface_sparse.cpp
Labels: component:tests

#2668 xe: jit: gemm: add 1st token dynamic quantization strategy
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2662 gpu: amd: add support for rocm6.1
  cmake/FindMIOpen.cmake
  cmake/FindrocBLAS.cmake
  src/gpu/amd/README.md
  src/gpu/amd/miopen_gemm_inner_product_impl.hpp
  src/gpu/amd/sycl_hip_utils.hpp
Labels: documentation, platform:gpu-amd, component:build

#2671 xe: conv_v2: fix large buffer check
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
Labels: platform:gpu-intel, backport

#2670 xe: conv_v2: fix large buffer check
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
Labels: platform:gpu-intel

#2682 xehpg: jit: gemm: fix walk order calculations for copy-based gemm
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
Labels: platform:gpu-intel

#2531 api: ukernel: make get_B_pack_type static for better usability
  examples/ukernels/cpu_brgemm.cpp
  include/oneapi/dnnl/dnnl_ukernel.h
  include/oneapi/dnnl/dnnl_ukernel.hpp
  src/cpu/x64/brgemm/brgemm_types.hpp
  src/cpu/x64/brgemm/brgemm_utils.hpp
  src/cpu/x64/brgemm/capi/brgemm_api.cpp
  src/cpu/x64/brgemm/capi/brgemm_api.hpp
  tests/benchdnn/brgemm/brgemm.cpp
Labels: platform:cpu-x64, component:api, component:tests, component:examples

#2684 x64: conv: fix int overflows (fixes MFDNN-13152)
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_convolution.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64

#2685 x64: conv: fix int overflows (backport)
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_convolution.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#2689 ci: split aarch64 skipped tests into their own file
  .github/automation/aarch64/skipped-tests.sh
  .github/automation/aarch64/test.sh
Labels: devops

#2687 ci: aarch64: don't run performance tests on cobalt
  .github/workflows/ci-aarch64.yml
Labels: devops

#2708 cpu: aarch64: use scratchpad for fixed-format gemms that need it
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:cpu-aarch64, backport

#2688 cpu: aarch64: use scratchpad for fixed-format gemms that need it
  src/cpu/aarch64/matmul/acl_matmul.cpp
  src/cpu/aarch64/matmul/acl_matmul.hpp
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
  src/cpu/aarch64/matmul/acl_matmul_utils.hpp
Labels: platform:cpu-aarch64

#2697 ci: linters: clang-tidy job improvements
  .github/automation/build_linters.sh
  .github/workflows/pr-linter.yml
Labels: devops

#2713 github: workflows: Update ACL version in CI
  .github/automation/aarch64/ci.json
Labels: devops

#2698 [backport v3.7] xe: gemm: improve dynamic quantization kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2717 ci: linters: path conditioning
  .github/workflows/clang-tidy.yml
  .github/workflows/pr-linter.yml
Labels: devops

#2691 xe: jit: gemm: improve FOS kernels for XeHPG
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2677 gpu: generic: Fix dropout tests
  src/gpu/generic/sycl/matmul_kernels.hpp
Labels: platform:gpu-generic

#2726 xe: conv_v2: fix block 2D reqs generation
  src/gpu/intel/jit/v2/conv/kernel_desc_2d_reqs.cpp
Labels: platform:gpu-intel

#2720 gtests: graph: unit: fix constant cache hit and miss test
  tests/gtests/graph/unit/backend/dnnl/test_large_partition.cpp
Labels: component:graph-api, component:tests

#2479 gpu: nvidia: ip: respect acc_mode for sum post-op
  src/gpu/nvidia/README.md
  src/gpu/nvidia/cudnn_conv_inner_product.hpp
  src/gpu/nvidia/cudnn_conv_inner_product_impl.hpp
  src/gpu/nvidia/cudnn_gemm_inner_product.hpp
  src/gpu/nvidia/cudnn_gemm_inner_product_impl.hpp
  src/gpu/nvidia/cudnn_inner_product.cpp
  src/gpu/nvidia/cudnn_inner_product_impl.hpp
  tests/benchdnn/ip/ip.cpp
Labels: documentation, platform:gpu-nvidia, component:tests

#2729 doc:specifying number of jobs for make j command
  doc/build/build.md
Labels: documentation

#2743 [backport] gpu: generic: Fix dropout tests
  src/gpu/generic/sycl/matmul_kernels.hpp
Labels: platform:gpu-generic, backport

#2378 Fixed issue with installed multiple versions of the OpenCL which lead…
  cmake/FindOpenCL.cmake
Labels: component:build

#2747 Skip ref for fp4 in benchdnn
  tests/benchdnn/inputs/matmul/test_matmul_fp4
Labels: component:tests

#2751 src: cpu: aarch64: reorder: Fix f32 acl reorders
  src/cpu/aarch64/acl_reorder.hpp
Labels: platform:cpu-aarch64

#2753 xe: jit: gemm: improve kcatalog copy
  src/gpu/intel/jit/gemm/gen_gemm_kernel_db.cpp
  src/gpu/intel/jit/gemm/gen_gemm_kernel_db.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/kernel_catalog.hpp
  src/gpu/intel/jit/gemm/selector/db/kernel.db
  src/gpu/intel/jit/gemm/selector/db/ukernel_lmr.db
  src/gpu/intel/jit/gemm/selector/db/ukernel_mlr.db
  src/gpu/intel/jit/gemm/selector/db/ukernel_mmr.db
Labels: platform:gpu-intel

#2756 xe: jit: gemm: correct signed/unsigned compare
  src/gpu/intel/jit/gemm/xe_hp_systolic_gemm.cpp
Labels: platform:gpu-intel

#2757 benchdnn: inputs: rnn: fix shapes leading to unstable results
  tests/benchdnn/inputs/rnn/shapes_small
Labels: component:tests

#2763 x64: conv: fix potential int overflow
  src/cpu/x64/jit_avx512_core_bf16_convolution.cpp
Labels: platform:cpu-x64

#2764 x64: conv: fix potential int overflow
  src/cpu/x64/jit_avx512_core_bf16_convolution.cpp
Labels: platform:cpu-x64, backport

#2667 cpu: x64: conv: enable f32 with xf16 weights decompression support
  src/cpu/cpu_convolution_list.cpp
  src/cpu/ref_convolution.hpp
  src/cpu/ref_deconvolution.hpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_primitive_conf.hpp
  tests/benchdnn/inputs/conv/test_conv_bfloat16_nxc
  tests/benchdnn/inputs/conv/test_conv_ci
  tests/benchdnn/inputs/conv/test_conv_float16_nxc
  tests/benchdnn/inputs/deconv/test_deconv_bfloat16_nxc
  tests/benchdnn/inputs/deconv/test_deconv_ci
  tests/benchdnn/inputs/deconv/test_deconv_float16_nxc
Labels: platform:cpu-x64, component:tests

#2736 benchdnn: introduce cold-tlb support (fixes MFDNN-13222)
  tests/benchdnn/dnn_types.cpp
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/doc/knob_cold_cache.md
  tests/benchdnn/utils/cold_cache.cpp
  tests/benchdnn/utils/cold_cache.hpp
  tests/benchdnn/utils/parser.cpp
Labels: documentation, component:tests

#2776 sdpa: tests: fix build error because of SKIP_IF_(CUDA,HIP) macros
  tests/gtests/internals/test_sdpa.cpp
Labels: component:tests

#2647 src:cpu:aarch64: Enable JIT fp32 -> fp16 reorder
  src/cpu/aarch64/jit_uni_reorder.cpp
  src/cpu/reorder/cpu_reorder_regular_f32_f16.cpp
Labels: platform:cpu-aarch64

#2711 x64: pool: Accuracy issue in benchnn pooling test
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
Labels: platform:cpu-x64

#2741 benchdnn: inputs: graph: sdpa: add tests for d_qk != d_v
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
  src/graph/backend/dnnl/kernels/sdp_decomp_config.hpp
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_all
Labels: component:graph-api, component:tests

#2775 xehpg: jit: gemm: fix walk order calculations for copy-based gemm
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
Labels: platform:gpu-intel, backport

#2772 [Backport rls-v3.7] xe: jit: gemm: disable dynamic quant k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: bug, platform:gpu-intel, backport

#2731 xe: jit: gemm: disable dynamic quant k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2774 [GPU] tests: remove large buffer matmul shapes going to ref
  tests/benchdnn/inputs/matmul/test_matmul_large_gpu
Labels: component:tests

#2779 tests: benchdnn: update skip impl prb on deconv for gpu
  tests/benchdnn/deconv/deconv.cpp
Labels: component:tests

#2770 cpu: x64: conv: update estimate_brgemm_ur for better blocking
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64
