Repository uxlfoundation/oneDNN, pull requests merged in 2025-03, with the labels that each got.

#2784 [GPU] [backport] tests: benchdnn: matmul: skip cases going to ref
  tests/benchdnn/inputs/matmul/test_matmul_large_gpu
Labels: backport, component:tests

#2783 cpu: x64: jit_binary_kernel: pass src2_dt unconditionally
  src/cpu/x64/jit_uni_binary_kernel.cpp
Labels: platform:cpu-x64, backport

#2787 oneDNN v3.7.1 patch release
  CMakeLists.txt
Labels: backport, component:build

#2789 [Backport rls-v3.8-pc] xe: jit: gemm: add DG2+Xe2 2nd token dynamic quant strategies
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2800 [Backport v3.7] xe: jit: gemm: add DG2+Xe2 2nd token dynamic quant strategies
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2502 cpu: aarch64: ip: Allow bf16 for ACL inner product
  src/cpu/aarch64/acl_inner_product.hpp
  src/cpu/cpu_inner_product_list.cpp
Labels: platform:cpu-aarch64

#2719 src: gpu: intel: jit: eliminate thread_local expr_t for tgs
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/ir/config.hpp
  src/gpu/intel/jit/ir/ir.hpp
  src/gpu/intel/jit/ir/ir_builder.cpp
  src/gpu/intel/jit/ir/ir_builder.hpp
  src/gpu/intel/jit/ir/tensor.hpp
  src/gpu/intel/jit/pooling/config.hpp
  src/gpu/intel/jit/reorder/ir_builder.cpp
  src/gpu/intel/jit/v2/conv/builder.cpp
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.hpp
Labels: platform:gpu-intel

#2733 genenric:sycl: Group Norm Forward
  src/gpu/generic/sycl/README.md
  src/gpu/generic/sycl/group_normalization_kernel.hpp
  src/gpu/generic/sycl/ref_group_normalization.cpp
  src/gpu/generic/sycl/ref_group_normalization.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_group_normalization_list.cpp
  tests/gtests/test_group_normalization.cpp
Labels: documentation, platform:gpu-generic, component:tests

#2769 cpu: pooling: improve nchw_pooling performance
  src/cpu/nchw_pooling.cpp
Labels: performance

#2360 generic:sycl: Inner Product Backward
  src/common/memory_tracking.hpp
  src/gpu/generic/sycl/README.md
  src/gpu/generic/sycl/ref_inner_product.cpp
  src/gpu/generic/sycl/ref_inner_product.hpp
  src/gpu/gpu_inner_product_list.cpp
  tests/gtests/test_inner_product_backward_data.cpp
  tests/gtests/test_inner_product_backward_weights.cpp
  tests/gtests/test_inner_product_forward.cpp
Labels: documentation, platform:gpu-generic, component:tests

#2551 [backport] x64: updates for brgemm kernel and avx2 brgemm convolutions
  src/cpu/x64/brgemm/brgemm_types.hpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/jit_brgemm_conv.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.hpp
  src/cpu/x64/jit_primitive_conf.hpp
Labels: platform:cpu-x64, backport

#2801 xe: microkernels: disambiguate vISA variables from separate invocations
  src/gpu/intel/microkernels/shim.cpp
Labels: platform:gpu-intel

#2785 xe, common: conv: exclude grouped scales from check as not supported
  src/common/convolution.cpp
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#2805 (3.8-pc backport) src: gpu: intel: jit: eliminate thread_local expr_t for tgs
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/ir/config.hpp
  src/gpu/intel/jit/ir/ir.hpp
  src/gpu/intel/jit/ir/ir_builder.cpp
  src/gpu/intel/jit/ir/ir_builder.hpp
  src/gpu/intel/jit/ir/tensor.hpp
  src/gpu/intel/jit/pooling/config.hpp
  src/gpu/intel/jit/reorder/ir_builder.cpp
  src/gpu/intel/jit/v2/conv/builder.cpp
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.hpp
Labels: platform:gpu-intel, backport

#2806 (3.7 backport) src: gpu: intel: jit: eliminate thread_local expr_t for tgs
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/ir/config.hpp
  src/gpu/intel/jit/ir/ir.hpp
  src/gpu/intel/jit/ir/ir_builder.cpp
  src/gpu/intel/jit/ir/ir_builder.hpp
  src/gpu/intel/jit/ir/tensor.hpp
  src/gpu/intel/jit/pooling/config.hpp
  src/gpu/intel/jit/reorder/ir_builder.cpp
  src/gpu/intel/jit/v2/conv/builder.cpp
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.hpp
Labels: platform:gpu-intel, backport

#2817 governance: add @theComputeKid as maintainer for cpu-aarch64
  MAINTAINERS.md
Labels: documentation, governance

#2820 [rls-v3.8-pc] xe: jit: gemm: re-enable dot kernels on XeHPG (after kernels were made TLB-friendly)
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2816 xe: jit: gemm: re-enable dot kernels on XeHPG (after kernels were made TLB-friendly)
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2824 ngen: fix a build issue when DNNL_DEV_MODE is OFF
  third_party/ngen/ngen_asm.hpp
Labels: backport

#2826 [backport][rls-v3.8-pc] fixup: src: move zero_points to quant_entry_t abstraction
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel, backport

#2823 ref: sycl: fix group norm build after quant refactor part 3
  src/gpu/generic/sycl/ref_group_normalization.cpp
Labels: platform:gpu-generic

#2810 ref:sycl: group norm backward
  src/gpu/generic/sycl/README.md
  src/gpu/generic/sycl/group_normalization_kernel.hpp
  src/gpu/generic/sycl/ref_group_normalization.cpp
  src/gpu/generic/sycl/ref_group_normalization.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_group_normalization_list.cpp
  tests/gtests/test_group_normalization.cpp
Labels: documentation, platform:gpu-generic, component:tests

#2781 [rls-v3.8pc] sdpa: tests: fix build error because of SKIP_IF_(CUDA,HIP) macros
  tests/gtests/internals/test_sdpa.cpp
Labels: bug, backport, component:tests

#2762 gtest: internal: refactor common test functions out of sdpa
  tests/gtests/internals/sdpa_internal.hpp
  tests/gtests/internals/test_sdpa.cpp
  tests/gtests/internals/test_utils.cpp
  tests/gtests/internals/test_utils.hpp
Labels: component:tests

#2827 cpu: conv: disable huge shapes to avoid potential overflows
  src/cpu/x64/jit_avx2_1x1_conv_kernel_f32.cpp
  src/cpu/x64/jit_avx2_conv_kernel_f32.cpp
  src/cpu/x64/jit_avx512_common_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_common_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_amx_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_conv_kernel.cpp
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_primitive_conf.hpp
  src/cpu/x64/jit_sse41_1x1_conv_kernel_f32.cpp
  src/cpu/x64/jit_sse41_conv_kernel_f32.cpp
  src/cpu/x64/jit_uni_dw_conv_kernel_utils.cpp
  src/cpu/x64/jit_uni_x8s8s32x_1x1_conv_kernel.cpp
  src/cpu/x64/jit_uni_x8s8s32x_conv_kernel.cpp
Labels: platform:cpu-x64

#2777 Removed inner source groups from CODEOWNERS
  .github/CODEOWNERS
Labels: governance

#2814 [forward-port] cpu: x64: jit_binary_kernel: pass src2_dt unconditionally
  src/cpu/x64/jit_uni_binary_kernel.cpp
Labels: platform:cpu-x64

#2829 graph: backend: graph_compiler: src: fix brgemm coredump issue
  src/graph/backend/graph_compiler/core/src/runtime/microkernel/cpu/brgemm_onednn.cpp
Labels: component:graph-api

#2590 gtest: pool: remove test case with ih=0
  tests/gtests/test_pooling_forward.cpp
Labels: component:tests

#2848 doc: build: minor fixes
  doc/build/build.md
  doc/rst/index.rst
Labels: documentation

#2830 graph: backend: graph_compiler: src: fix brgemm coredump issue
  src/graph/backend/graph_compiler/core/src/runtime/microkernel/cpu/brgemm_onednn.cpp
Labels: backport, component:graph-api

#2758 ci: clang-tidy: speed-up clang-tidy
  .github/automation/x64/build_linters.sh
  .github/workflows/clang-tidy.yml
  .github/workflows/pr-linter.yml
Labels: devops

#2803 benchdnn: inputs: conv: revamp large buffer gpu tests
  tests/benchdnn/inputs/conv/test_conv_large_gpu
Labels: component:tests

#2856 xe: jit: gemm: fix dynamic quantization scale tensor indexing
  src/gpu/intel/jit/gemm/generator/pieces/matrix_multiply.cxx
Labels: platform:gpu-intel, backport

#2833 [Backport]: cpu: conv: disable huge shapes to avoid potential overflows
  src/cpu/x64/jit_avx2_1x1_conv_kernel_f32.cpp
  src/cpu/x64/jit_avx2_conv_kernel_f32.cpp
  src/cpu/x64/jit_avx512_common_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_common_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_amx_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_amx_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_bf16_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_1x1_conv_kernel.cpp
  src/cpu/x64/jit_avx512_core_x8s8s32x_conv_kernel.cpp
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_primitive_conf.hpp
  src/cpu/x64/jit_sse41_1x1_conv_kernel_f32.cpp
  src/cpu/x64/jit_sse41_conv_kernel_f32.cpp
  src/cpu/x64/jit_uni_dw_conv_kernel_utils.cpp
  src/cpu/x64/jit_uni_x8s8s32x_1x1_conv_kernel.cpp
  src/cpu/x64/jit_uni_x8s8s32x_conv_kernel.cpp
Labels: platform:cpu-x64, backport

#2857 common: attr: switch off consistency check for now
  src/common/primitive_attr.cpp
  tests/gtests/dnnl_test_common.hpp
Labels: backport, component:tests

#2860 xe: remove ngen relative directories
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/internal/ngen_includes.hpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/pooling/gen_pooling.cpp
  src/gpu/intel/jit/reduction_generator.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/reduction_injector.hpp
  src/gpu/intel/sycl/l0/utils.cpp
Labels: platform:gpu-intel, backport

#2852 xe: jit: gemm: fix dynamic quantization scale tensor indexing
  src/gpu/intel/jit/gemm/generator/pieces/matrix_multiply.cxx
Labels: platform:gpu-intel

#2859 ci: clang-tidy: run on PRs from forks
  .github/workflows/clang-tidy.yml
Labels: devops

#2861 xe: remove ngen relative directories
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/internal/ngen_includes.hpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/pooling/gen_pooling.cpp
  src/gpu/intel/jit/reduction_generator.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/reduction_injector.hpp
  src/gpu/intel/sycl/l0/utils.cpp
Labels: platform:gpu-intel

#2813 xe: microkernels: disambiguate vISA variables from separate invocations
  src/gpu/intel/microkernels/shim.cpp
Labels: platform:gpu-intel, backport

#1708 rfc: dropout primitive attribute
  rfcs/20230818-Dropout/README.md
Labels: RFC

#1827 rfcs: proposal for a verbose logging mechanism
  rfcs/20240311-verbose-logging-support/README.md
Labels: RFC

#1941 rfcs: add proposal on coo sparse encoding
  rfcs/20240531-coo-sparse-encoding/README.md
Labels: RFC

#2871 xehpg: jit: gemm: fix out-of-registers conditions in some dot kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2870 xehpg: jit: gemm: fix out-of-registers conditions in some dot kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2872 xehpg: jit: gemm: fix out-of-registers conditions in some dot kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#2869 xe: sdpa: Fix failure in test on Windows with SYCL runtime
  tests/gtests/internals/test_sdpa.cpp
Labels: bug, component:tests

#2242 rfcs: graph api: support implicit causal mask in SDPA
  rfcs/20241205-graph-api-causal-mask/README.md
  rfcs/20241205-graph-api-causal-mask/images/causal_mask_op.png
  rfcs/20241205-graph-api-causal-mask/images/causal_mask_subgraph_bottom_right.png
  rfcs/20241205-graph-api-causal-mask/images/causal_mask_subgraph_top_left.png
  rfcs/20241205-graph-api-causal-mask/images/full_attention_vs_causal_masking.png
  rfcs/20241205-graph-api-causal-mask/images/onednn_graph_sdpa.png
  rfcs/20241205-graph-api-causal-mask/images/onednn_graph_sdpa_mask1.png
  rfcs/20241205-graph-api-causal-mask/images/onednn_graph_sdpa_mask2.png
  rfcs/20241205-graph-api-causal-mask/images/sdpa_w_causal_mask_op.png
  rfcs/20241205-graph-api-causal-mask/images/sdpa_w_causal_mask_subgraph.png
Labels: RFC

#2879 cpu: x64: brgemm: update conditions for zp with big ow (#2558)
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Labels: platform:cpu-x64, backport

#2878 xe: jit: gemm: fix corner cases in descriptor-based remainders
  src/gpu/intel/jit/gemm/generator/pieces/layout_utils.cpp
Labels: platform:gpu-intel

#2892 xe: conv_v2: fix clang-tidy hits
  src/gpu/intel/jit/gemm/generator/pieces/layout_utils.cpp
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
Labels: platform:gpu-intel

#2881 benchdnn: address clang-tidy complaints
  tests/benchdnn/binary/binary.hpp
  tests/benchdnn/brgemm/brgemm.hpp
  tests/benchdnn/common.hpp
  tests/benchdnn/concat/concat.hpp
  tests/benchdnn/dnn_types.hpp
  tests/benchdnn/dnnl_common.hpp
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
  tests/benchdnn/gnorm/gnorm.hpp
  tests/benchdnn/lnorm/lnorm.hpp
  tests/benchdnn/lrn/lrn.hpp
  tests/benchdnn/matmul/matmul.hpp
  tests/benchdnn/reorder/cfg.cpp
  tests/benchdnn/reorder/reorder.hpp
  tests/benchdnn/reorder/reorder_aux.cpp
  tests/benchdnn/rnn/rnn.hpp
  tests/benchdnn/rnn/rnn_aux.hpp
  tests/benchdnn/rnn/rnn_task_executor.hpp
  tests/benchdnn/self/self.hpp
  tests/benchdnn/sum/sum.hpp
  tests/benchdnn/utils/fill.hpp
  tests/benchdnn/utils/impl_filter.hpp
  tests/benchdnn/utils/parser.hpp
  tests/benchdnn/utils/settings.hpp
  tests/benchdnn/utils/timer.hpp
  tests/benchdnn/utils/wrapper.hpp
Labels: component:tests

#2883 {src, gtests}: graph: fix clang-tidy warnings
  src/graph/backend/dnnl/fusion_info.hpp
  src/graph/backend/dnnl/op_executable.hpp
  src/graph/backend/dnnl/passes/lower.cpp
  src/graph/backend/dnnl/passes/transform.cpp
  src/graph/backend/dnnl/patterns/data_type_check_pass.hpp
  src/graph/backend/dnnl/patterns/pattern_matcher_pass.hpp
  src/graph/backend/fake/transformation_pass.hpp
  src/graph/interface/constant_tensor_cache.cpp
  src/graph/interface/graph.hpp
  src/graph/interface/op.hpp
  src/graph/interface/op_def_constraint.cpp
  src/graph/interface/op_schema.hpp
  src/graph/interface/partition_impl.hpp
  src/graph/utils/json.hpp
  src/graph/utils/pm/dag_check_pass.hpp
  src/graph/utils/pm/nested_matcher.cpp
  src/graph/utils/pm/op_depth_check_pass.hpp
  src/graph/utils/pm/pass_base.cpp
  src/graph/utils/pm/pass_base.hpp
  src/graph/utils/pm/pass_manager.cpp
  src/graph/utils/pm/pass_manager.hpp
  tests/gtests/graph/unit/utils/test_pattern_matcher_cpu.cpp
Labels: component:graph-api, component:tests

#2850 common, xe: fix fp4 aliasing issues
  src/common/float4.cpp
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.cpp
  src/gpu/intel/ocl/ocl_math_utils.h
Labels: platform:gpu-intel

#2901 benchdnn: fix out-of-memory encountered on iGPU systems
  tests/benchdnn/dnnl_common.cpp
Labels: component:tests

#2889 xe: jit: gemm: fix corner cases in descriptor-based remainders
  src/gpu/intel/jit/gemm/generator/pieces/layout_utils.cpp
Labels: platform:gpu-intel, backport

#2890 xe: jit: gemm: fix corner cases in descriptor-based remainders
  src/gpu/intel/jit/gemm/generator/pieces/layout_utils.cpp
Labels: platform:gpu-intel, backport

#2891 benchdnn: fix large problem description parsing
  tests/benchdnn/bnorm/bnorm_aux.cpp
  tests/benchdnn/conv/conv_aux.cpp
  tests/benchdnn/deconv/deconv_aux.cpp
  tests/benchdnn/gnorm/gnorm_aux.cpp
  tests/benchdnn/ip/ip_aux.cpp
  tests/benchdnn/lrn/lrn_aux.cpp
  tests/benchdnn/pool/pool_aux.cpp
  tests/benchdnn/resampling/resampling_aux.cpp
  tests/benchdnn/rnn/rnn_aux.cpp
Labels: component:tests

#2913 cpu: x64: pooling: fix comparison warning
  src/cpu/x64/jit_uni_pool_kernel.cpp
Labels: platform:cpu-x64

#2910 oneDNN v3.7.2 patch release
  CMakeLists.txt
Labels: backport, component:build

#2911 ci: clang-tidy: fix checkout procedure
  .github/workflows/clang-tidy.yml
Labels: devops

#2846 Introduces support for 3D and 4D inputs in ACL acl_lowp and acl_lowp_sq matmul.
  src/cpu/aarch64/matmul/acl_lowp_matmul.cpp
  src/cpu/aarch64/matmul/acl_lowp_matmul.hpp
  src/cpu/aarch64/matmul/acl_lowp_matmul_sq.cpp
  src/cpu/aarch64/matmul/acl_lowp_matmul_sq.hpp
Labels: platform:cpu-aarch64

#2918 [GPU] Drop generated gemm cases causing crashes
  tests/benchdnn/inputs/matmul/harness_matmul_generated_ci
Labels: component:tests

#2923 xe: jit: remove shared virtual memory interface
  src/gpu/intel/jit/generator.hpp
Labels: platform:gpu-intel

#2686 aarch64: matmul: addition of JIT int8 kernel
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/cpu/aarch64/matmul/jit_int8_kernel_types.hpp
  src/cpu/aarch64/matmul/jit_int8_matmul.cpp
  src/cpu/aarch64/matmul/jit_int8_matmul.hpp
  src/cpu/aarch64/matmul/jit_int8_matmul_utils.cpp
  src/cpu/aarch64/matmul/jit_int8_matmul_utils.hpp
  src/cpu/matmul/cpu_matmul_list.cpp
  tests/benchdnn/dnnl_debug_autogenerated.cpp
Labels: platform:cpu-aarch64, component:api, component:tests

#2337 src: cpu: x64: jit_brdgmm_dw_conw: make brdgmm support fusing sum op
  src/cpu/x64/jit_brdgmm_dw_conv.cpp
Labels: platform:cpu-x64

#2925 ci: clang-tidy: no repo ref
  .github/workflows/clang-tidy.yml
Labels: devops

#2858 doc: rst: updates to open source site
  doc/rst/index.rst
  doc/sphinx/_static/favicons.png
  doc/sphinx/_static/oneAPI-rgb-rev-100.png
  doc/sphinx/conf.py
Labels: documentation

#2922 benchdnn: matmul: resolve the regression introduced by grouped scales and zero-points support
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
  tests/benchdnn/matmul/matmul.cpp
  tests/benchdnn/matmul/matmul.hpp
  tests/benchdnn/matmul/ref_matmul.cpp
Labels: component:tests

#2928 cpu: x64: brgemm: fix assertion due to invalid EVEX offset
  src/cpu/x64/brgemm/brgemm.cpp
Labels: platform:cpu-x64

#2821 benchdnn: inputs: graph: fix test cases related to int8/f8 add
  tests/benchdnn/inputs/graph/pattern/f8/f8_conv_add_add_fusion.json
  tests/benchdnn/inputs/graph/pattern/harness_int8_all
  tests/benchdnn/inputs/graph/pattern/int8/int8_bf16_conv_add_relu_mul.json
  tests/benchdnn/inputs/graph/pattern/int8/int8_conv_add_add_fusion.json
  tests/benchdnn/inputs/graph/pattern/int8/int8_matmul_mul_add_mul_fusion.json
Labels: component:graph-api, component:tests

#2938 Yobodovs/amx blocking heuristics fixes
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/cpu_reducer.cpp
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#2951 xe: ocl: fix gemm_with_po verbose dispatch message
  src/gpu/intel/ocl/gemm/gemm_with_post_ops.cpp
Labels: platform:gpu-intel

#2942 ngen: downstream nGEN
  src/gpu/intel/ocl/hw_info.cpp
  src/gpu/intel/sycl/l0/utils.cpp
  third_party/ngen/ngen.hpp
  third_party/ngen/ngen_asm.hpp
  third_party/ngen/ngen_auto_swsb.hpp
  third_party/ngen/ngen_config_internal.hpp
  third_party/ngen/ngen_core.hpp
  third_party/ngen/ngen_decoder.hpp
  third_party/ngen/ngen_elf.hpp
  third_party/ngen/ngen_emulation.hpp
  third_party/ngen/ngen_gen12.hpp
  third_party/ngen/ngen_gen8.hpp
  third_party/ngen/ngen_interface.hpp
  third_party/ngen/ngen_level_zero.hpp
  third_party/ngen/ngen_opencl.hpp
  third_party/ngen/ngen_register_allocator.hpp
  third_party/ngen/ngen_sycl.hpp
  third_party/ngen/ngen_utils.hpp
  third_party/ngen/npack/neo_packager.hpp
Labels: platform:gpu-intel

#2865 cpu: aarch64: add brgemm bwd data support for block size 8 and 16
  src/cpu/aarch64/jit_brgemm_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv.hpp
  src/cpu/aarch64/jit_brgemm_conv_bwd.cpp
  src/cpu/aarch64/jit_brgemm_conv_bwd.hpp
  src/cpu/cpu_convolution_list.cpp
Labels: platform:cpu-aarch64

#2930 graph: introduce internal dnnl_sdpa op
  src/graph/backend/dnnl/dnnl_op_def.hpp
  src/graph/backend/dnnl/dnnl_opset.hpp
  src/graph/backend/dnnl/dnnl_shape_infer.cpp
  src/graph/backend/dnnl/dnnl_shape_infer.hpp
  src/graph/backend/dnnl/internal_attrs.hpp
  src/graph/backend/dnnl/internal_ops.hpp
  src/graph/backend/dnnl/kernels/large_partition.cpp
  src/graph/backend/dnnl/kernels/matmul.cpp
  src/graph/backend/dnnl/kernels/mqa_decomp.cpp
  src/graph/backend/dnnl/kernels/sdp.hpp
  src/graph/backend/dnnl/kernels/sdp_decomp.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive_config.hpp
  src/graph/backend/dnnl/kernels/sdp_primitive_v1.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive_v1.hpp
  src/graph/backend/dnnl/layout_propagator.cpp
  src/graph/backend/dnnl/layout_propagator.hpp
  src/graph/backend/dnnl/op_executable.cpp
  src/graph/backend/dnnl/op_executable.hpp
  src/graph/backend/dnnl/passes/compile_ops.cpp
  src/graph/backend/dnnl/passes/transform.cpp
  src/graph/backend/dnnl/passes/transform.hpp
Labels: component:graph-api

#2873 [GPU] xe: jit: gemm: remove vav from fp4 strategies
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#2968 common, xe: sycl: improve logging when OpenCL install is missing
  src/common/verbose_msg.hpp
  src/gpu/intel/sycl/utils.cpp
Labels: platform:gpu-intel

#2908 build: removed -fcf-protection build option for old GCC
  cmake/SDL.cmake
  cmake/host_compiler.cmake
Labels: backport, component:build

#2960 x64: brgemm: blocking function update
  src/cpu/x64/brgemm/brgemm_utils.cpp
Labels: platform:cpu-x64

#2724 generic: sycl: Adding support for RNN FWD r2l, sum & concat
  src/gpu/generic/sycl/README.md
  src/gpu/generic/sycl/rnn/cell_common.cpp
  src/gpu/generic/sycl/rnn/ref_rnn.cpp
  src/gpu/generic/sycl/rnn/rnn_kernels.hpp
  src/gpu/generic/sycl/rnn/rnn_utils.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: documentation, platform:gpu-generic

#2958 cpu: aarch64: default num_threads to max for acl_threadpool
  src/cpu/aarch64/acl_thread.cpp
  src/cpu/aarch64/acl_threadpool_scheduler.cpp
  src/cpu/aarch64/acl_threadpool_scheduler.hpp
Labels: platform:cpu-aarch64

#2952 doc: graph: fusion patterns restructure
  doc/graph/fusion_patterns/fusion_patterns.md
  doc/graph/rst/graph_fusion_patterns.rst
  doc/rst/graph_extension.rst
Labels: documentation, component:graph-api
