Repository uxlfoundation/oneDNN, pull requests merged in 2025-10, with the labels that each got.

#4040 cpu: aarch64: fix jit 256 bwd weights path
  src/cpu/aarch64/jit_uni_dw_convolution.cpp
Labels: platform:cpu-aarch64

#3990 [GPU][DG2][ARL] Optimize matmul (dyn_quan) for large shapes
  src/gpu/intel/gemm/jit/selector/db/kernel.db
Labels: platform:gpu-intel

#4056 Backport: cpu: x64: improve performance for brgconv w/zp that using large buffer
  src/cpu/x64/jit_brgemm_conv.cpp
  src/cpu/x64/jit_brgemm_conv.hpp
  src/cpu/x64/jit_brgemm_conv_comp_pad_kernel.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_primitive_conf.hpp
Labels: platform:cpu-x64, backport

#4025 Updated project version (3.10.0 to 3.11.0) in CMakeLists and CITATION
  CITATION.cff
  CMakeLists.txt
Labels: component:build

#3985 common: remove exec_ctx member from grantor
  src/common/memory_tracking.cpp
  src/common/memory_tracking.hpp
  src/common/primitive.cpp
  src/common/primitive_exec_types.cpp
  src/common/primitive_exec_types.hpp
  src/common/primitive_iface.cpp
Labels: component:common

#4046 [GPU][GEMM] Avoid ub in quant attr
  src/gpu/intel/gemm/jit/pd.cpp
Labels: platform:gpu-intel

#4035 cpu: aarch64: memory stride detection update
  src/cpu/aarch64/matmul/acl_matmul_utils.cpp
Labels: platform:cpu-aarch64

#3719 xe2: Update BMG fp16 row major M: 1-128 strategy
  src/gpu/intel/gemm/jit/selector/db/kernel.db
Labels: platform:gpu-intel

#4075 ci: aarch64: Fix git bisect false positives and wiki failure
  .github/automation/aarch64/test.sh
  .github/automation/aarch64/wiki_utils.py
  .github/workflows/ci-aarch64.yml
  .github/workflows/nightly-aarch64.yml
Labels: platform:cpu-aarch64, devops

#4066 ci: only run clang-format on changed files
  .github/automation/clang-format.sh
  .github/workflows/pr-linter.yml
Labels: devops

#4081 cpu: aarch64: top padding stride inclusion, jit 256 depthwise bw kernel
  src/cpu/aarch64/jit_uni_dw_convolution.cpp
Labels: platform:cpu-aarch64
