Repository uxlfoundation/oneDNN, pull requests merged in 2025-05, with the labels that each got.

#3161 x64: matmul: Fix buffer B chunk size / Buffer B per thread size
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64

#3199 [rls-v3.8] x64: matmul: Fix buffer B per thread size initialization.
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: bug, platform:cpu-x64, backport

#3168 doc: update environment.yml file
  doc/environment.yml
Labels: documentation

#3201 xe: sycl: l0: override systolic detection for older platforms
  src/gpu/intel/sycl/l0/utils.cpp
Labels: platform:gpu-intel

#3202 xe: sycl: l0: override systolic detection for older platforms
  src/gpu/intel/sycl/l0/utils.cpp
Labels: platform:gpu-intel, backport

#3204 xe: jit: codegen: align src regs to grf boundary for null dst
  src/gpu/intel/jit/codegen/reorder.hpp
Labels: platform:gpu-intel

#3200 common: verbose: avoid UB for internal primitives
  src/common/verbose.hpp
Labels: component:common

#3209 [GPU][Rls-v3.8] Fix build warning
  src/gpu/intel/ocl/gemm_matmul.hpp
Labels: platform:gpu-intel, backport

#3210 [GPU] Fix build warning
  src/gpu/intel/ocl/gemm_matmul.hpp
Labels: platform:gpu-intel

#3193 xe: gemm: clone PVC FHS kernels to FBS
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3147 rfcs: extend layer norm to support root mean square normalization
  rfcs/20251004-rms-norm/README.md
Labels: RFC

#3226 [GPU] better FHS kernel for VLM shapes on BMG
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: performance, platform:gpu-intel

#3230 build: allow using ONEDNN_BUILD_DOC
  cmake/dnnl_compat.cmake
Labels: component:build

#3189 cpu: aarch64: Add FP16 support for eltwise JIT via reordering to FP32
  src/cpu/aarch64/jit_uni_eltwise.cpp
  src/cpu/cpu_eltwise_list.cpp
Labels: platform:cpu-aarch64, component:common

#3170 benchdnn: inputs: graph: change gpu batch file names
  tests/benchdnn/inputs/graph/test_graph_bf16_gpu
  tests/benchdnn/inputs/graph/test_graph_f16_gpu
  tests/benchdnn/inputs/graph/test_graph_f32_gpu
  tests/benchdnn/inputs/graph/test_graph_f8_gpu
  tests/benchdnn/inputs/graph/test_graph_int8_gpu
  tests/benchdnn/inputs/graph/test_graph_op_gpu
  tests/benchdnn/inputs/graph/test_graph_pattern_gpu
Labels: component:tests

#3224 [GPU][rls-v3.8] Allow matmul dim reshape with some post-ops
  src/gpu/intel/ocl/gemm_matmul.hpp
Labels: platform:gpu-intel, backport

#3198 tests: benchdnn: refactor settings ctors
  tests/benchdnn/binary/binary.hpp
  tests/benchdnn/bnorm/bnorm.hpp
  tests/benchdnn/brgemm/bench_brgemm.cpp
  tests/benchdnn/brgemm/brgemm.hpp
  tests/benchdnn/concat/concat.hpp
  tests/benchdnn/conv/conv.hpp
  tests/benchdnn/deconv/deconv.hpp
  tests/benchdnn/eltwise/eltwise.hpp
  tests/benchdnn/gnorm/gnorm.hpp
  tests/benchdnn/graph/graph.hpp
  tests/benchdnn/ip/ip.hpp
  tests/benchdnn/lnorm/lnorm.hpp
  tests/benchdnn/lrn/lrn.hpp
  tests/benchdnn/matmul/matmul.hpp
  tests/benchdnn/pool/pool.hpp
  tests/benchdnn/prelu/prelu.hpp
  tests/benchdnn/reduction/reduction.hpp
  tests/benchdnn/reorder/reorder.hpp
  tests/benchdnn/resampling/resampling.hpp
  tests/benchdnn/rnn/rnn.hpp
  tests/benchdnn/shuffle/shuffle.hpp
  tests/benchdnn/softmax/softmax.hpp
  tests/benchdnn/sum/sum.hpp
  tests/benchdnn/utils/parser.hpp
  tests/benchdnn/utils/settings.hpp
  tests/benchdnn/zeropad/bench_zeropad.cpp
  tests/benchdnn/zeropad/zeropad.hpp
Labels: component:graph-api, component:tests

#3223 [GPU] Allow matmul dim reshape with some post-ops
  src/gpu/intel/ocl/gemm_matmul.hpp
Labels: platform:gpu-intel

#3228 graph: backend: dnnl: clean the code related to select
  src/graph/backend/dnnl/kernels/kernels.hpp
  src/graph/backend/dnnl/kernels/sdp_decomp.cpp
  src/graph/backend/dnnl/kernels/sdp_decomp.hpp
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
  src/graph/backend/dnnl/kernels/select.cpp
  src/graph/backend/dnnl/kernels/select.hpp
  src/graph/backend/dnnl/passes/transform.cpp
  src/graph/backend/dnnl/passes/transform.hpp
  src/graph/backend/dnnl/patterns/single_op_pattern.cpp
  tests/gtests/graph/unit/backend/dnnl/test_select.cpp
Labels: component:graph-api, component:tests

#3221 xe: reduction: improve atomic reduction heuristic
  src/gpu/intel/ocl/reduction/atomic_reduction.cpp
Labels: platform:gpu-intel

#3238 gpu: sycl: fix verbose tag check for deconvolution primitive (fixes MFDNN-13653)
  src/gpu/generic/sycl/ref_deconvolution.hpp
Labels: platform:gpu-generic

#3242 [v3.8 backport] xe: sdpa: Fix LNL config with head_size of 512
  src/gpu/intel/ocl/micro_sdpa_configs.hpp
Labels: platform:gpu-intel, backport

#3250 fixup: src, tests: fix undefined macro hits
  src/gpu/intel/jit/config/ngen_config.hpp
Labels: platform:gpu-intel

#3244 intel: ocl: rnn: modify k_limit to fix pvc regression
  src/gpu/intel/ocl/rnn/utils.cpp
Labels: bug, platform:gpu-intel

#3251 xe: gemm: clone PVC FHS kernels to FBS
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#3247 x64: matmul: Fix nthr issues in matmul
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  tests/benchdnn/inputs/matmul/harness_matmul_generated_ci
Labels: bug, platform:cpu-x64, component:tests

#3248 [backport] x64: matmul: Fix nthr issues in matmul
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
Labels: platform:cpu-x64, backport

#3249 gpu: generic: Change generic sycl attr scales func
  src/gpu/generic/sycl/ref_convolution.hpp
Labels: platform:gpu-generic

#3218 gtests: graph: unit: fix failing gtests cases on nv gpu
  tests/gtests/graph/unit/backend/dnnl/test_binary_op.cpp
  tests/gtests/graph/unit/backend/dnnl/test_convolution.cpp
  tests/gtests/graph/unit/backend/dnnl/test_convtranspose.cpp
  tests/gtests/graph/unit/backend/dnnl/test_interpolate.cpp
  tests/gtests/graph/unit/backend/dnnl/test_large_partition.cpp
  tests/gtests/graph/unit/backend/dnnl/test_matmul.cpp
  tests/gtests/graph/unit/backend/dnnl/test_pool.cpp
  tests/gtests/graph/unit/backend/dnnl/test_select.cpp
  tests/gtests/graph/unit/unit_test_common.hpp
Labels: component:graph-api, component:tests

#2750 cpu: aarch64: make lowpmatmul use stateless acl interface
  src/common/memory_tracking.hpp
  src/cpu/aarch64/matmul/acl_lowp_matmul.cpp
  src/cpu/aarch64/matmul/acl_lowp_matmul.hpp
Labels: platform:cpu-aarch64

#3243 benchdnn: fix case timer for parallel creation scenario
  tests/benchdnn/common.cpp
  tests/benchdnn/utils/task.hpp
Labels: component:tests

#3246 graph: backend: dnnl: deconv pattern name refactor
  src/graph/backend/dnnl/patterns/convtranspose_fusion.cpp
  tests/gtests/graph/unit/backend/dnnl/test_convtranspose.cpp
  tests/gtests/graph/unit/backend/dnnl/test_pass.cpp
Labels: component:graph-api, component:tests

#3190 generic: sycl: Change to indexing in conv kernel
  src/gpu/generic/sycl/convolution_kernels.hpp
  src/gpu/generic/sycl/ref_convolution.cpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Labels: platform:gpu-generic

#3197 gpu: nvidia: Change nvidia reorder memcpy to async
  src/gpu/nvidia/cudnn_conv_inner_product_impl.hpp
  src/gpu/nvidia/cudnn_convolution_impl.hpp
  src/gpu/nvidia/cudnn_gemm_inner_product_impl.hpp
  src/gpu/nvidia/cudnn_matmul_impl.hpp
  src/gpu/nvidia/cudnn_matmul_lt_impl.hpp
  src/gpu/nvidia/cudnn_reorder_impl.hpp
Labels: platform:gpu-nvidia

#2561 xe: jit: gemm: reduced-cache stream-k implementation
  src/gpu/intel/jit/gemm/gemm_walk_orders.hpp
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
  src/gpu/intel/jit/gemm/generator/generator.cpp
  src/gpu/intel/jit/gemm/generator/pieces/atomic_fusions.cxx
  src/gpu/intel/jit/gemm/generator/pieces/atomic_fusions.hpp
  src/gpu/intel/jit/gemm/generator/pieces/c_update.cxx
  src/gpu/intel/jit/gemm/generator/pieces/gemm.cxx
  src/gpu/intel/jit/gemm/generator/pieces/gemm_setup.cxx
  src/gpu/intel/jit/gemm/generator/pieces/k_loop.cxx
  src/gpu/intel/jit/gemm/generator/pieces/math_helpers.cxx
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
  src/gpu/intel/jit/gemm/generator/pieces/state.hpp
  src/gpu/intel/jit/gemm/generator/pieces/stream_k.cxx
  src/gpu/intel/jit/gemm/generator/pieces/walk_orders.cxx
  src/gpu/intel/jit/gemm/generator/strategy.cpp
  src/gpu/intel/jit/gemm/generator/strategy_parser.cpp
  src/gpu/intel/jit/gemm/include/gemmstone/driver_info.hpp
  src/gpu/intel/jit/gemm/include/gemmstone/generator.hpp
  src/gpu/intel/jit/gemm/include/gemmstone/strategy.hpp
Labels: platform:gpu-intel

#3263 benchdnn: inputs: graph: replace mul with sub in gated mlp test
  tests/benchdnn/inputs/graph/complex_fusion/harness_mlp_ci
Labels: component:graph-api, component:tests

#3278 xehpc: jit: gemm: remove C transposition from TT f16/bf16 kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3274 x64: matmul: Fix buffer C usage
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
Labels: bug, platform:cpu-x64

#3275 [backport] x64: matmul: Fix buffer C usage
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
Labels: bug, platform:cpu-x64, backport

#3267 xe: jit: gemm: improve Xe2 FHS strategy for transitionary m
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#3276 cpu: fix omp simd usage that might generate incorrect code
  src/common/dnnl_thread.hpp
  src/cpu/gemm_convolution.cpp
  src/cpu/x64/gemm/gemm_utils.hpp
  src/cpu/x64/gemm_bf16_convolution.cpp
Labels: platform:cpu-x64, component:common

#3290 cpu: aarch64: conv: fix fast math fallback
  src/cpu/aarch64/jit_sve_1x1_convolution.hpp
  src/cpu/aarch64/jit_sve_convolution.hpp
Labels: platform:cpu-aarch64

#3298 fix: aarch64: skip acl_layer_normalization for rms lnorm
  src/cpu/aarch64/acl_layer_normalization.cpp
Labels: platform:cpu-aarch64

#3173 graph: backend: dnnl: insert reorder for block input of genindex
  src/graph/backend/dnnl/layout_propagator.cpp
Labels: component:graph-api

#3219 gpu: nvidia: Add checks for wino conv
  src/gpu/nvidia/cudnn_convolution.hpp
Labels: platform:gpu-nvidia

#3203 gpu: nvidia: Add skips for unsupported post ops for deconv
  src/gpu/nvidia/cudnn_convolution.hpp
Labels: platform:gpu-nvidia

#2525 xe: softmax: softmax reusable acceleration
  src/gpu/intel/ocl/reusable_softmax.cl
  src/gpu/intel/ocl/reusable_softmax.cpp
  src/gpu/intel/ocl/reusable_softmax.hpp
Labels: platform:gpu-intel

#3285 gtests: graph: cleanup context at end of test
  tests/gtests/graph/api/ocl/test_cpp_api_engine.cpp
Labels: component:graph-api, component:tests

#3303 xe: jit: fix bf16 -> f32 reduce
  src/gpu/intel/jit/codegen/reduce.hpp
Labels: platform:gpu-intel

#3300 ci: aarch64: remove fixed graph tests from the skip list
  .github/automation/aarch64/ci.json
  .github/automation/aarch64/get_acl.sh
  .github/automation/aarch64/skipped-tests.sh
Labels: devops

#2972 doc: graph: enhance fusion pattern document for post-ops fusions
  doc/graph/fusion_patterns/binary_fusion_patterns.md
  doc/graph/fusion_patterns/convolution_fusion_patterns.md
  doc/graph/fusion_patterns/convtranspose_fusions_patterns.md
  doc/graph/fusion_patterns/images/binary_pattern.png
  doc/graph/fusion_patterns/images/conv_bwd_pattern.png
  doc/graph/fusion_patterns/images/conv_pattern.png
  doc/graph/fusion_patterns/images/convtranspose_pattern.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_conv.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_general_1.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_general_2.png
  doc/graph/fusion_patterns/images/epilogue_subgraph_matmul.png
  doc/graph/fusion_patterns/images/f2f_conversion.png
  doc/graph/fusion_patterns/images/f2q_conversion_general.png
  doc/graph/fusion_patterns/images/f2q_conversion_quantized_conv.png
  doc/graph/fusion_patterns/images/f2q_conversion_quantized_matmul.png
  doc/graph/fusion_patterns/images/f2q_conversion_softmax.png
  doc/graph/fusion_patterns/images/interpolate_pattern.png
  doc/graph/fusion_patterns/images/matmul_pattern.png
  doc/graph/fusion_patterns/images/norm_pattern.png
  doc/graph/fusion_patterns/images/pool_pattern.png
  doc/graph/fusion_patterns/images/q2f_conversion_quantized_conv_matmul.png
  doc/graph/fusion_patterns/images/q2f_conversion_quantized_convtranspose.png
  doc/graph/fusion_patterns/images/quantized_conv_pattern.png
  doc/graph/fusion_patterns/images/quantized_convtranspose_pattern.png
  doc/graph/fusion_patterns/images/quantized_matmul_pattern.png
  doc/graph/fusion_patterns/images/reduction_pattern.png
  doc/graph/fusion_patterns/images/softmax_pattern.png
  doc/graph/fusion_patterns/images/unary_pattern.png
  doc/graph/fusion_patterns/interpolate_fusion_patterns.md
  doc/graph/fusion_patterns/matmul_fusion_patterns.md
  doc/graph/fusion_patterns/norm_fusion_patterns.md
  doc/graph/fusion_patterns/pool_fusion_patterns.md
  doc/graph/fusion_patterns/quantized_convolution_fusion_patterns.md
  doc/graph/fusion_patterns/quantized_convtranspose_fusion_patterns.md
  doc/graph/fusion_patterns/quantized_matmul_fusion_patterns.md
  doc/graph/fusion_patterns/reduction_fusion_patterns.md
  doc/graph/fusion_patterns/softmax_fusion_patterns.md
  doc/graph/fusion_patterns/unary_fusion_patterns.md
  doc/graph/rst/graph_fusion_patterns.rst
  doc/graph/rst/images/other_pattern.png
Labels: documentation, component:graph-api

#3313 ci: aarch64: simplify skipped test logic
  .github/automation/aarch64/skipped-tests.sh
  .github/workflows/ci-aarch64.yml
Labels: devops

#3319 cpu: x64: jit_reorder: direct_copy: restrict plain-strided cases
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
Labels: platform:cpu-x64, backport

#3315 cpu: x64: enable hf8 support for matmul on AVX10.2
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm_types.hpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/jit_avx512_core_fp8cvt.cpp
  src/cpu/x64/jit_avx512_core_fp8cvt.hpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  third_party/xbyak/xbyak_mnemonic.h
Labels: platform:cpu-x64, third_party

#3321 [GPU][GEMM] Restore fp8 check
  src/gpu/intel/jit/gemm/gen_gemm.hpp
Labels: platform:gpu-intel

#3330 skip unsupported gtests cases on NV GPU
  tests/gtests/graph/unit/backend/dnnl/test_batch_norm.cpp
  tests/gtests/graph/unit/backend/dnnl/test_convolution.cpp
  tests/gtests/graph/unit/backend/dnnl/test_convtranspose.cpp
  tests/gtests/graph/unit/backend/dnnl/test_large_partition.cpp
  tests/gtests/graph/unit/backend/dnnl/test_pool.cpp
Labels: component:graph-api, component:tests

#3306 oneDNN v3.8.1 patch release
  CMakeLists.txt
Labels: backport, component:build

#3327 cpu: x64: enable hf8 support for conv, deconv on AVX10.2
  src/cpu/cpu_convolution_list.cpp
  src/cpu/cpu_deconvolution_list.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
  src/cpu/x64/jit_brgemm_conv_utils.cpp
  src/cpu/x64/jit_brgemm_deconv.cpp
Labels: platform:cpu-x64, component:common

#3343 [Benchdnn][rls-v3.9-pc] Drop LLM shapes from GPU set
  tests/benchdnn/inputs/matmul/test_matmul_gpu
Labels: backport, component:tests

#3337 cpu: x64: brgemm: fix potential segfault issue for fp8
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
Labels: platform:cpu-x64

#3346 common: verbose: use correct flags for vprof
  src/common/verbose.hpp
Labels: component:common

#3328 [NGEN] Fixup region advance for emulation
  third_party/ngen/ngen_emulation.hpp
Labels: third_party

#3356 xe: conv: drop incorrect move
  src/gpu/intel/jit/conv/config.cpp
Labels: platform:gpu-intel

#3316 xe: jit: gemm: group binary postop loads
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
Labels: platform:gpu-intel

#3310 cpu: aarch64: Revert "cpu: aarch64: Nuke winograd"
  doc/primitives/convolution.md
  src/cpu/aarch64/acl_winograd_convolution.cpp
  src/cpu/aarch64/acl_winograd_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
  tests/gtests/test_iface_wino_convolution.cpp
Labels: documentation, platform:cpu-aarch64, component:tests, component:common

#3367 @mzhukova as code owner for Arch
  MAINTAINERS.md
Labels: documentation, governance

#3364 ci: aarch64: Add manual trigger to the performance aarch64 workflow
  .github/workflows/performance-aarch64.yml
Labels: devops

#3361 cpu: matmul: fix select postop failures for scalar broadcasting
  src/cpu/x64/matmul/brgemm_matmul.cpp
Labels: platform:cpu-x64

#3371 cpu: aarch64: revert "cpu: aarch64: conv: fix fast math NAN issue"
  src/cpu/aarch64/acl_convolution_utils.hpp
Labels: platform:cpu-aarch64

#3374 ci: aarch64: skip long-running graph tests in debug builds
  .github/automation/aarch64/skipped-tests.sh
Labels: devops

#3375 ci: aarch64: update performance tests
  .github/automation/performance/inputs/reorder_nightly
  .github/workflows/ci-aarch64.yml
Labels: devops
