Repository uxlfoundation/oneDNN, pull requests merged in 2025-07, with the labels that each got.

#3510 gpu: intel: lnorm: fix total_sum scope
  src/gpu/intel/ocl/simple_layer_normalization.cl
Labels: platform:gpu-intel

#3507 Revert "graph: backend: dnnl: drop the WA for gcc4.8"
  src/graph/backend/dnnl/dnnl_backend.hpp
Labels: component:graph-api

#3512 cpu: x64: enable fp8 conv with bf16 output
  src/cpu/cpu_convolution_list.cpp
  tests/benchdnn/inputs/conv/test_conv_fp8_nxc
Labels: component:tests, component:common

#3461 doc: build: corrected link
  doc/build/build_options.md
Labels: documentation

#3488 xe2: Update BMG row major M: 1-128 strategy
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3482 ci: aarch64: ignore fp16 fastmath tests
  .github/automation/performance/benchdnn_comparison.py
  .github/automation/performance/inputs/matmul_nightly
Labels: devops

#3492 src: gpu: intel: sycl: remove additional OCL dependencies
  src/gpu/intel/sycl/l0/utils.cpp
  src/gpu/intel/sycl/l0/utils.hpp
  src/gpu/intel/sycl/utils.cpp
  src/gpu/intel/sycl/utils.hpp
  src/xpu/ocl/utils.cpp
  src/xpu/ocl/utils.hpp
  src/xpu/utils.cpp
  src/xpu/utils.hpp
Labels: platform:gpu-intel, component:common

#3520 doc: fix levels in sparse memory formats
  doc/advanced/sparsity.md
Labels: documentation

#3498 xe: gemm: fixup per_oc zp detection
  src/gpu/intel/jit/gemm/jit_gemm_pd.cpp
Labels: platform:gpu-intel

#3470 graph: backend: dnnl: add reduction dimention check for NV GPU
  src/graph/backend/dnnl/passes/lower.cpp
Labels: component:graph-api

#3522 Revert "cpu: aarch64: Update ACL reorder API"
  README.md
  cmake/ACL.cmake
  src/cpu/aarch64/acl_reorder.cpp
  src/cpu/aarch64/acl_reorder.hpp
Labels: documentation, platform:cpu-aarch64, component:build

#3531 Update project version (3.9.0 to 3.10.0) in CMakeLists and CITATION
  CITATION.cff
  CMakeLists.txt
Labels: component:build

#3348 aarch64: matmul: Enabling variable N block sizes for jit int8 matmul
  include/oneapi/dnnl/dnnl.hpp
  include/oneapi/dnnl/dnnl_types.h
  src/common/c_types_map.hpp
  src/common/dnnl_debug_autogenerated.cpp
  src/common/memory_desc_wrapper.cpp
  src/cpu/aarch64/matmul/jit_int8_kernel_types.hpp
  src/cpu/aarch64/matmul/jit_int8_matmul.cpp
  src/cpu/aarch64/matmul/jit_int8_matmul.hpp
  src/cpu/aarch64/matmul/jit_int8_matmul_utils.cpp
  src/cpu/aarch64/matmul/jit_int8_matmul_utils.hpp
  tests/benchdnn/dnnl_debug_autogenerated.cpp
  tests/benchdnn/inputs/matmul/shapes_2d
  tests/benchdnn/inputs/matmul/shapes_3d
Labels: platform:cpu-aarch64, component:api, component:tests, component:common

#3516 cpu: x64: fix correct when using int8 sat cvt
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/jit_brgemm_post_ops.cpp
  src/cpu/x64/jit_generator.hpp
  src/cpu/x64/jit_uni_reorder.cpp
  src/cpu/x64/utils/jit_io_helper.cpp
  src/cpu/x64/utils/jit_io_helper.hpp
Labels: bug, platform:cpu-x64

#3529 cpu: aarch64: perf: increase 3d matmul shape for perf tests
  .github/automation/performance/inputs/matmul_nightly
  .github/automation/performance/inputs/shapes_3d_perf
Labels: devops

#3553 Backport: cpu: x64: fix correct when using int8 sat cvt (#3516)
  src/cpu/x64/brgemm/jit_brdgmm_kernel.cpp
  src/cpu/x64/brgemm/jit_brgemm_amx_uker.cpp
  src/cpu/x64/brgemm/jit_brgemm_kernel.cpp
  src/cpu/x64/jit_brgemm_post_ops.cpp
  src/cpu/x64/jit_generator.hpp
  src/cpu/x64/jit_uni_reorder.cpp
  src/cpu/x64/utils/jit_io_helper.cpp
  src/cpu/x64/utils/jit_io_helper.hpp
Labels: platform:cpu-x64, backport

#3526 xe: conv: fix bias type initialization
  src/gpu/intel/jit/conv/ir_builder.cpp
  src/gpu/intel/jit/conv/plan.cpp
Labels: platform:gpu-intel, backport

#3561 [backport][rls-v3.9] spdlog: upgrade version to 1.15.3
  third_party/spdlog/README.md
  third_party/spdlog/common.h
  third_party/spdlog/details/os-inl.h
  third_party/spdlog/details/registry-inl.h
  third_party/spdlog/details/registry.h
  third_party/spdlog/fmt/bundled/base.h
  third_party/spdlog/fmt/bundled/format-inl.h
  third_party/spdlog/fmt/bundled/format.h
  third_party/spdlog/fmt/fmt.h
  third_party/spdlog/mdc.h
  third_party/spdlog/pattern_formatter-inl.h
  third_party/spdlog/sinks/ansicolor_sink-inl.h
  third_party/spdlog/sinks/rotating_file_sink-inl.h
  third_party/spdlog/sinks/rotating_file_sink.h
  third_party/spdlog/sinks/wincolor_sink-inl.h
  third_party/spdlog/spdlog-inl.h
  third_party/spdlog/spdlog.h
  third_party/spdlog/tweakme.h
  third_party/spdlog/version.h
Labels: documentation, backport, third_party

#3562 [backport][rls-v3.8] spdlog: upgrade version to 1.15.3
  third_party/spdlog/README.md
  third_party/spdlog/common.h
  third_party/spdlog/details/os-inl.h
  third_party/spdlog/details/registry-inl.h
  third_party/spdlog/details/registry.h
  third_party/spdlog/fmt/bundled/base.h
  third_party/spdlog/fmt/bundled/format-inl.h
  third_party/spdlog/fmt/bundled/format.h
  third_party/spdlog/fmt/fmt.h
  third_party/spdlog/mdc.h
  third_party/spdlog/pattern_formatter-inl.h
  third_party/spdlog/sinks/ansicolor_sink-inl.h
  third_party/spdlog/sinks/rotating_file_sink-inl.h
  third_party/spdlog/sinks/rotating_file_sink.h
  third_party/spdlog/sinks/wincolor_sink-inl.h
  third_party/spdlog/spdlog-inl.h
  third_party/spdlog/spdlog.h
  third_party/spdlog/tweakme.h
  third_party/spdlog/version.h
Labels: documentation, backport

#3560 spdlog: upgrade version to 1.15.3
  third_party/spdlog/README.md
  third_party/spdlog/common.h
  third_party/spdlog/details/os-inl.h
  third_party/spdlog/details/registry-inl.h
  third_party/spdlog/details/registry.h
  third_party/spdlog/fmt/bundled/base.h
  third_party/spdlog/fmt/bundled/format-inl.h
  third_party/spdlog/fmt/bundled/format.h
  third_party/spdlog/fmt/fmt.h
  third_party/spdlog/mdc.h
  third_party/spdlog/pattern_formatter-inl.h
  third_party/spdlog/sinks/ansicolor_sink-inl.h
  third_party/spdlog/sinks/rotating_file_sink-inl.h
  third_party/spdlog/sinks/rotating_file_sink.h
  third_party/spdlog/sinks/wincolor_sink-inl.h
  third_party/spdlog/spdlog-inl.h
  third_party/spdlog/spdlog.h
  third_party/spdlog/tweakme.h
  third_party/spdlog/version.h
Labels: documentation, third_party

#3574 xe: jit: codegen: remove unnecessary emul workaround
  src/gpu/intel/jit/codegen/kernel.hpp
Labels: platform:gpu-intel

#3582 x64: binary: fix op_type assertion (backport)
  src/cpu/x64/jit_uni_binary.cpp
Labels: platform:cpu-x64, backport

#3576 xe: conv: fix bias reduce condition
  src/gpu/intel/jit/conv/ir_builder.cpp
Labels: platform:gpu-intel, backport

#3573 xe: conv: fix bias reduce condition
  src/gpu/intel/jit/conv/ir_builder.cpp
Labels: platform:gpu-intel

#3580 benchdnn: graph: check index range while checking contiguous mem
  tests/benchdnn/graph/utils.cpp
Labels: component:graph-api, component:tests

#3589 cpu: x64: matmul: correct bf16 conversion in copy_b_transpose
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
Labels: bug, platform:cpu-x64

#3593 Backport: cpu: x64: matmul: correct bf16 conversion in copy_b_transpose
  src/cpu/x64/matmul/brgemm_matmul_copy_utils.cpp
Labels: platform:cpu-x64, backport

#3599 xe: fix ref_inner_product call to APPLY_POST_OPS
  src/gpu/intel/ref_inner_product.cl
Labels: platform:gpu-intel

#3538 graph: backend: dnnl: enable f32 sdpa with gpu ukernel opt
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Labels: component:graph-api

#3597 cpu: aarch64: Fix nightly test crash caused by PR #3552
  src/cpu/aarch64/jit_brgemm_conv.cpp
Labels: platform:cpu-aarch64

#3459 cpu: x64: matmul: Adjust heuristics for postops bound layers
  src/cpu/x64/matmul/amx_blocking_heuristics.cpp
  src/cpu/x64/matmul/amx_blocking_heuristics.hpp
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
  src/cpu/x64/matmul/brgemm_matmul_utils.hpp
  src/cpu/x64/matmul/postops_estimator.hpp
Labels: platform:cpu-x64

#3609 Revert "cpu: x64: binary: Supporting per_w broadcast strategy (#2778)"
  src/cpu/x64/jit_uni_binary.cpp
  src/cpu/x64/jit_uni_binary_kernel.cpp
  tests/benchdnn/inputs/binary/harness_binary_regression
Labels: platform:cpu-x64, backport, component:tests

#3606 Revert "cpu: x64: binary: Supporting per_w broadcast strategy (#2778)"
  src/cpu/x64/jit_uni_binary.cpp
  src/cpu/x64/jit_uni_binary_kernel.cpp
  tests/benchdnn/inputs/binary/harness_binary_regression
Labels: platform:cpu-x64, backport, component:tests

#3588 xe: ocl: avoid ref_gnorm fwd register spills
  src/gpu/intel/ref_group_normalization.cl
  src/gpu/intel/ref_group_normalization.cpp
Labels: platform:gpu-intel

#3586 cpu: x64: matmul: dispatch shapes with small K to gemm
  src/cpu/x64/matmul/brgemm_matmul_utils.cpp
Labels: platform:cpu-x64, backport

#3486 cpu: risc-v: build: fix dynamic selection bug
  cmake/platform.cmake
Labels: platform:cpu-rv64, component:build

#2152 rfcs: add a proposal on MatMul reduction API
  rfcs/20241004-matmul-reduction-api/README.md
Labels: RFC

#3631 graph: interface: fix namespace of stringstream
  src/graph/interface/graph.cpp
  src/graph/interface/partition.cpp
Labels: component:graph-api

#3636 examples: remove description of outdated concept
  examples/getting_started.cpp
  examples/gpu_opencl_interop.cpp
  examples/primitives/batch_normalization.cpp
  examples/primitives/lrn.cpp
  examples/sycl_interop_buffer.cpp
  examples/sycl_interop_usm.cpp
Labels: component:examples

#3607 [rls-v3.9] graph: backend: dnnl: enable f32 sdpa with gpu ukernel
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Labels: backport, component:graph-api

#3639 ci: remove unneccesary ACL restoration
  .github/workflows/aarch64-acl.yml
Labels: devops

#3625 cpu: reduction: remove templated arguments from ref impl
  src/cpu/cpu_reduction_list.cpp
  src/cpu/ref_reduction.cpp
  src/cpu/ref_reduction.hpp
Labels: component:common

#3647 examples: fix copyright check step failure
  examples/gpu_opencl_interop.cpp
  examples/sycl_interop_buffer.cpp
Labels: component:examples

#3646 xe: gemm: add s32 accumulation dynamic quantization kernels
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel, backport

#3569 Strategy for QKV gemm under TP configurations
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3557 benchdnn: graph: improve error handling to skip illegal rewrite cases
  tests/benchdnn/graph/bench_graph.cpp
  tests/benchdnn/graph/flex_rewrite.cpp
  tests/benchdnn/graph/flex_rewrite.hpp
Labels: component:graph-api, component:tests

#3651 gtests: graph: unit: fix cp cache sycl cpu runtime check
  tests/gtests/graph/unit/interface/test_compiled_partition.cpp
Labels: component:graph-api, component:tests

#3654 [rls-v3.9] Backport Coverity + UBSan SDPA test fixes
  tests/gtests/internals/test_sdpa.cpp
Labels: backport, component:tests

#3614 src: gpu: intel: sycl: do not wait on graph recording
  src/gpu/generic/ref_sum.hpp
Labels: platform:gpu-generic

#3659 xe: reduction: reduce register spills
  src/gpu/intel/reduction/ref_reduction.cl
Labels: platform:gpu-intel

#3648 [rls-v3.9] xe: jit: codegen: limit comparison binary op SIMD
  src/gpu/intel/jit/codegen/codegen.cpp
Labels: platform:gpu-intel, backport

#3661 cmake: add standard c++ exception handling on Windows
  cmake/SDL.cmake
  include/oneapi/dnnl/dnnl_common.hpp
Labels: component:api, component:build

#3669 xe: sdpa: test: additional synchronization in write for sycl runtime
  tests/gtests/internals/test_sdpa.cpp
  tests/gtests/internals/test_utils.hpp
Labels: component:tests

#3658 xe: enable runtime post-op arguments for OpenCL kernels
  src/gpu/intel/gemm/gemm_with_post_ops.cpp
  src/gpu/intel/gpu_post_ops.hpp
  src/gpu/intel/ocl_math_utils.h
  src/gpu/intel/ocl_post_ops.h
  src/gpu/intel/ocl_types.h
  src/gpu/intel/primitive_conf.cpp
  src/gpu/intel/primitive_conf.hpp
  src/gpu/intel/reduction/combined_reduction.cpp
  src/gpu/intel/reduction/ref_reduction.cpp
  src/gpu/intel/ref_convolution.cpp
  src/gpu/intel/ref_eltwise.cpp
  src/gpu/intel/ref_group_normalization.cpp
  src/gpu/intel/ref_inner_product.cpp
  src/gpu/intel/ref_matmul.cpp
  src/gpu/intel/ref_pooling.cpp
  src/gpu/intel/ref_resampling.cpp
  src/gpu/intel/simple_binary.cpp
  src/gpu/intel/simple_softmax.cpp
  src/gpu/intel/xe_binary.hpp
  src/gpu/intel/xe_pooling.cpp
  src/gpu/intel/xe_wino_convolution.cpp
Labels: platform:gpu-intel

#3666 fixup: gpu: add debug capabilities for kernels
  src/gpu/intel/compute/kernel.hpp
Labels: platform:gpu-intel

#3578 common: fix alignment for nested scratchpads
  src/common/memory_tracking.hpp
Labels: component:common

#3674 Fix performance regressions in RNN
  src/cpu/x64/rnn/brgemm_cell_common_fwd.cpp
Labels: platform:cpu-x64

#3681 xe: gemm: restrict dynamic quantization kernels to discrete cards
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Labels: platform:gpu-intel

#3687 common: add missing namespace for verbose defines
  src/common/verbose.hpp
Labels: component:common

#3643 Update ACL reorder API without introducing regressions
  .github/automation/aarch64/ci.json
  README.md
  cmake/ACL.cmake
  src/cpu/aarch64/acl_reorder.cpp
  src/cpu/aarch64/acl_reorder.hpp
Labels: documentation, platform:cpu-aarch64, devops, component:build

#3680 xe: sdpa: simplify batch calculation for non-blocked cases
  src/gpu/intel/micro_sdpa.cpp
  src/gpu/intel/micro_sdpa.hpp
  src/gpu/intel/sdpa_utils.h
Labels: platform:gpu-intel

#3688 [rls-v3.9] xe: sdpa: simplify batch calculation for non-blocked cases
  src/gpu/intel/ocl/micro_sdpa.cpp
  src/gpu/intel/ocl/micro_sdpa.hpp
  src/gpu/intel/ocl/sdpa_utils.h
Labels: platform:gpu-intel, backport

#3694 gpu: make shuffle-by-reorder generic
  src/gpu/generic/shuffle_by_reorder.hpp
  src/gpu/gpu_shuffle_list.cpp
Labels: platform:gpu-generic, component:common
